<a href="https://colab.research.google.com/github/karlmanalo/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/031020_LS_DS14_112_Make_Features_Assignment_Manalo_Karl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

**Replicated lesson code during lecture today.**

- Convert the `term` column from string to integer.

In [7]:
##### Begin Working Here #####
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-11 02:09:37--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [        <=>         ]  21.71M  1.80MB/s    in 12s

2020-03-11 02:09:49 (1.78 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22763850]

In [8]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [9]:
#importing pandas, dropping first row and last 2 rows

import pandas as pd

df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [10]:
#dropping columns with exclusively NaN values

df = df.drop(['id', 'member_id', 'url', 'desc'], axis=1)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       6500         6500  ...                    NaN             NaN
2       4500         4500  ...                    NaN             NaN
3      25000        25000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN

[5 rows x 140 columns]

In [11]:
#defining function to convert term from string to integer

def term_to_integer(term):
  return int(term.strip(' months'))

#applying function to dataframe via .apply() function

df['term'] = df['term'].apply(term_to_integer)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage  settlement_term
0      10000        10000  ...                    NaN              NaN
1       6500         6500  ...                    NaN              NaN
2       4500         4500  ...                    NaN              NaN
3      25000        25000  ...                    NaN              NaN
4      30000        30000  ...                    NaN              NaN

[5 rows x 140 columns]

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

In [0]:
#Tried writing for loop for this. Didn't work but leaving it here

loan_status_list = []

for x in df['loan_status']:
  if 'Current' or 'Fully Paid' in x:
    loan_status_list.append(1)
  else:
    loan_status_list.append(0)

  loan_status_list[0:10]

In [0]:
#Trying to create loan_status_is_great column again.

In [0]:
import numpy as np

df['loan_status_is_great'] = pd.np.where(df['loan_status'].str.contains("Current"), 1,
                             pd.np.where(df['loan_status'].str.contains("Fully Paid"), 1,
                             pd.np.where(df['loan_status'].str.contains("In Grace Period"), 0,
                             pd.np.where(df['loan_status'].str.contains("Late"), 0,
                             pd.np.where(df['loan_status'].str.contains("Charged Off"), 0)))))

df.head()

ValueError: ignored

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01