<a href="https://colab.research.google.com/github/jberkow713/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Lambda_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
from urllib.request import urlopen
from zipfile import ZipFile
from io import BytesIO
import os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, Image

import pandas as pd
AusOpendf = pd.read_csv('/content/AusOpen-men-2013.csv')
AusOpendf.head()

            Player1          Player2  Round  Result  ...  ST2.2  ST3.2  ST4.2  ST5.2
0       Lukas Lacko   Novak Djokovic      1       0  ...    7.0    6.0    NaN    NaN
1    Leonardo Mayer  Albert Montanes      1       1  ...    3.0    1.0    NaN    NaN
2  Marcos Baghdatis    Denis Istomin      1       0  ...    7.0    6.0    NaN    NaN
3   Dmitry Tursunov  Michael Russell      1       1  ...    2.0    3.0    NaN    NaN
4       Juan Monaco   Ernests Gulbis      1       0  ...    6.0    7.0    6.0    NaN

[5 rows x 42 columns]