<a href="https://colab.research.google.com/github/gitHasty-0321/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/STEVEN_HASTINGS_Module_2_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd

In [0]:
pd.set_option('display.max_columns',200)
pd.set_option('display.max_rows',200)
pd.set_option('display.max_colwidth',200)

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

In [6]:
df.shape

(1460, 81)

In [0]:
pd.set_option('display.max_rows', 100)

In [8]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [9]:
df.dtypes.value_counts()

object     43
int64      35
float64     3
dtype: int64

In [10]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [11]:
df['BedroomAbvGr'].head(10)

0    3
1    3
2    3
3    3
4    4
5    1
6    3
7    3
8    2
9    2
Name: BedroomAbvGr, dtype: int64

In [12]:
df['LotFrontage'].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [13]:
df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64

In [0]:
import numpy as np

In [15]:
type(np.NaN)

float

In [0]:
dfnums = df.select_dtypes(include='number')

In [17]:
dfnums.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,0,150,856,856,854,0,1710,1,0,2,1,3,1,8,0,2003.0,2,548,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,0,284,1262,1262,0,0,1262,0,1,2,0,3,1,6,1,1976.0,2,460,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,0,434,920,920,866,0,1786,1,0,2,1,3,1,6,1,2001.0,2,608,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,0,540,756,961,756,0,1717,1,0,1,0,3,1,7,1,1998.0,3,642,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,0,490,1145,1145,1053,0,2198,1,0,2,1,4,1,9,1,2000.0,3,836,192,84,0,0,0,0,0,12,2008,250000

In [18]:
dfobj = df.select_dtypes(include= object ,exclude='number')
dfobj.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,Heating,HeatingQC,CentralAir,Electrical,KitchenQual,Functional,FireplaceQu,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,Gable,CompShg,VinylSd,VinylSd,BrkFace,Gd,TA,PConc,Gd,TA,No,GLQ,Unf,GasA,Ex,Y,SBrkr,Gd,Typ,NaN,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1,RL,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,Gable,CompShg,MetalSd,MetalSd,None,TA,TA,CBlock,Gd,TA,Gd,ALQ,Unf,GasA,Ex,Y,SBrkr,TA,Typ,TA,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,Gable,CompShg,VinylSd,VinylSd,BrkFace,Gd,TA,PConc,Gd,TA,Mn,GLQ,Unf,GasA,Ex,Y,SBrkr,Gd,Typ,TA,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
3,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,Gable,CompShg,Wd Sdng,Wd Shng,None,TA,TA,BrkTil,TA,Gd,No,ALQ,Unf,GasA,Gd,Y,SBrkr,Gd,Typ,Gd,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
4,RL,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,Gable,CompShg,VinylSd,VinylSd,BrkFace,Gd,TA,PConc,Gd,TA,Av,GLQ,Unf,GasA,Ex,Y,SBrkr,Gd,Typ,TA,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [19]:
dfobj['Alley'].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [20]:
df['BedroomAbvGr']

0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1460, dtype: int64

In [21]:
df['LotFrontage']

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [0]:
small_df = df[['TotalBsmtSF','1stFlrSF','2ndFlrSF', 'SalePrice']].copy()

In [23]:
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [0]:
small_df['TotalSquareFootage'] = small_df['1stFlrSF'] + small_df['2ndFlrSF']

In [25]:
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage
0          856       856       854     208500                1710
1         1262      1262         0     181500                1262
2          920       920       866     223500                1786
3          756       961       756     140000                1717
4         1145      1145      1053     250000                2198

In [0]:
small_df['PricePerSqFt'] = (small_df['SalePrice']/small_df['TotalSquareFootage'])

In [27]:
small_df.head()

,TotalBsmtSF,1stFlrSF,2ndFlrSF,SalePrice,TotalSquareFootage,PricePerSqFt
0,856,856,854,208500,1710,121.929825
1,1262,1262,0,181500,1262,143.819334
2,920,920,866,223500,1786,125.139978
3,756,961,756,140000,1717,81.537566
4,1145,1145,1053,250000,2198,113.739763

In [0]:
bath_df = df[['BsmtFullBath','BsmtHalfBath','FullBath','HalfBath']]

In [29]:
bath_df

      BsmtFullBath  BsmtHalfBath  FullBath  HalfBath
0                1             0         2         1
1                0             1         2         0
2                1             0         2         1
3                1             0         1         0
4                1             0         2         1
...            ...           ...       ...       ...
1455             0             0         2         1
1456             1             0         2         0
1457             0             0         2         0
1458             1             0         1         0
1459             1             0         1         1

[1460 rows x 4 columns]

In [0]:
#### finish bath aggregation

In [31]:
dfnums

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,0,150,856,856,854,0,1710,1,0,2,1,3,1,8,0,2003.0,2,548,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,0,284,1262,1262,0,0,1262,0,1,2,0,3,1,6,1,1976.0,2,460,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,0,434,920,920,866,0,1786,1,0,2,1,3,1,6,1,2001.0,2,608,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,0,540,756,961,756,0,1717,1,0,1,0,3,1,7,1,1998.0,3,642,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,0,490,1145,1145,1053,0,2198,1,0,2,1,4,1,9,1,2000.0,3,836,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,0,953,953,953,694,0,1647,0,0,2,1,3,1,7,1,1999.0,2,460,0,40,0,0,0,0,0,8,2007,175000
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,163,589,1542,2073,0,0,2073,1,0,2,0,3,1,7,2,1978.0,2,500,349,0,0,0,0,0,0,2,2010,210000
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,0,877,1152,1188,1152,0,2340,0,0,2,0,4,1,9,2,1941.0,1,252,0,60,0,0,0,0,2500,5,2010,266500
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,1029,0,1078,1078,0,0,1078,1,0,1,0,2,1,5,0,1950.0,1,240,366,0,112,0,0,0,0,4,2010,142125
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,290,136,1256,1256,0,0,1256,1,0,1,1,3,1,6,0,1965.0,1,276,736,68,0,0,0,0,0,6,2008,147500

In [32]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-18 03:30:39--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.6’

LoanStats_2018Q4.cs     [                <=> ]  21.72M   773KB/s    in 29s

2020-01-18 03:31:09 (757 KB/s) - ‘LoanStats_2018Q4.csv.zip.6’ saved [22776791]

In [33]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [34]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","6000","6000","6000"," 36 months"," 14.47%","206.44","C","C2","Manager","10+ years","RENT","55000","Verified","Dec-2018","Charged Off","n","","","credit_card","Credit card refinancing","104xx","NY","10.65","0","Jun-2006","0","","","6","0","4196","91.2%","8","w","0.00","0.00","1106.52","1106.52","546.14","272.38","0.0","288.0","51.84","Apr-2019","206.44","","Nov-2019","0","","1","Individual","","","","0","0","12514","0","2","1","1","9","8318","74","1","1","2807","79","4600","1","0","2","2","2086","344","92","0","0","33","150","9","9","0","9","","9","","0","3","4","3","3","3","4","5","4","6","0","0","0","2","100","100","0","0","15800","12514","4300","11200","","","","","","","","","","","","N","","","","","","","","","","","","","","","Y","Oct-2019","ACTIVE","Oct-2019","3479","60.01","24"
"","","24000","24000","24000"," 36 months"," 10.33%","778.14","B","B1","Maintenance Manager","10+ years","MORTGAGE","100000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","606xx","IL","19.14","0","Oct-1996","3","39","","14","0","8547","27.7%","28","w","16807.30","16807.30","9317.02","9317.02","7192.70","2124.32","0.0","0.0","0.0","Dec-2019","778.14","Jan-2020","Nov-2019","0","57","1","Individual","","","","0","0","273876","3","5","3","5","5","40384","66","2","4","4368","51","30900","8","0","8","9","19563","17353","33","0","0","266","178","4","4","3","4","39","1","39","1","5","5","6","8","15","7","9","5","14","0","0","0","5","82.1","16.7","0","0","335121","50686","25900","61514","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 36 months"," 15.02%","1040.26","C","C3","Firefighter ","10+ years","RENT","90000","Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","681xx","NE","22.23","0","May-2007","1","","","8","0","25754","48%","23","w","0.00","0.00","30883.673711683","30883.67","30000.00","883.67","0.0","0.0","0.0","Feb-2019","28382.51","","Nov-2019","0","","1","Individual","","","","0","0","51370","1","2","1","2","9","25616","71","2","3","9621","57","53600","0","2","1","5","6421","22030","47","0","0","123","139","3","3","3","3","","3","","0","4","6","4","5","11","6","9","6","8","0","0","0","3","100","50","0","0","89849","51370","41600","36249","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","8000","8000","8000"," 36 months"," 12.98%","269.48","B","B5","Controller","4 years","MORTGAGE","95000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","480xx","MI","9.44","0","Mar-2009","2","73","","7","0","11434","33.3%","20","w","1707.34","1707.34","6855.63","6855.63","6292.66","562.97","0.0","0.0","0.0","Dec-2019","269.48","Jan-2020","Dec-2019","0","73","1","Individual","","","","0","0","247933","5","1","3","4","2","13716","98","4","5","8918","52","34300","2","0","7","10","35419","22866","33.3","0","0","13","117","6","2","1","6","73","2","73","1","3","3","5","15","4","5","15","3","7","0","0","0","8","100","20","0","0","271550","25150","34300","14000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","22400","22400","22400"," 60 months"," 16.14%","546.4","C","C4","Paramedic/ Fire Fighter","10+ years","OWN","56000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","234xx","VA","18.47","0","Dec-2004","0","75","","15","0","13555","38.2%","22","w","19230.91","19230.91","6526.67","6526.67","3169.09","3357.58","0.0","0.0","0.0","Dec-2019","546.4","Jan-2020","Nov-2019","0","","1","Individual","","","","0","0","217072","0","3","1","1","7","18515","79","1","1","5789","55","35500","1","0","4","2","14471","15054","46.6","0","0","113","168","7","7","5","36","","5","","0","5","7","8","8","5","11","12","7","15","0","0","0","2","95.5","25","0","0","253539","32070","28200","23364","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 12.98%","168.43","B","B5","Consultant","2 years","RENT","80000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","100xx","NY","2.39","0","Jan-2014","1","","","8","0","7356","9.4%","9","w","3543.19","3543.19","2015.75","2015.75","1456.81","558.94","0.0","0.0","0.0","Dec-2019","168.43","Jan-2020","Nov-2019","0","","1","Individual","","","","0","0","7356","0","0","0","0","","0","","2","2","4957","9","78200","1","0","1","2","920","70844","9.4","0","0","","59","11","11","0","11","","1","","0","4","4","8","8","0","8","8","4","8","0","0","0","2","100","12.5","0","0","78200","7356","78200","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","27000","27000","27000"," 60 months"," 15.02%","642.62","C","C3","Supervisor ","10+ years","MORTGAGE","45000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","656xx","MO","23.55","2","Oct-2006","0","12","","11","0","12903","64.8%","24","w","23082.62","23082.62","7677.64","7677.64","3917.38","3760.26","0.0","0.0","0.0","Dec-2019","642.62","Jan-2020","Dec-2019","0","","1","Individual","","","","0","0","21902","0","1","0","0","42","8999","42","0","1","5787","53","19900","0","1","0","1","1991","3225","78.1","0","0","144","146","17","17","1","17","33","","12","0","6","8","7","13","5","10","18","8","11","0","0","0","0","87.5","57.1","0","0","41500","21902","14700","21600","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.14%","352.27","C","C4","","< 1 year","MORTGAGE","90000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","934xx","CA","7.85","0","Jun-2009","0","","","10","0","17271","48.5%","12","w","7184.51","7184.51","4213.79","4213.79","2815.49","1398.30","0.0","0.0","0.0","Dec-2019","352.27","Jan-2020","Nov-2019","0","","1","Individual","","","","0","0","24085","1","1","0","1","15","6814","68","2","5","11822","53","35600","1","0","0","6","2409","10982","59.3","0","0","114","56","1","1","0","1","","15","","0","3","4","8","8","2","9","10","4","10","0","0","0","2","100","37.5","0","0","45600","24085","27000","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [35]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","3686.37","3686.37","2652.39","2652.39","1913.63","738.76","0.0","0.0","0.0","Dec-2019","190.21","Jan-2020","Nov-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","6632.21","6632.21","4846.3","4846.30","3367.79","1478.51","0.0","0.0","0.0","Dec-2019","346.76","Jan-2020","Nov-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","3291.41","3291.41","2373.85","2373.85","1708.59","665.26","0.0","0.0","0.0","Dec-2019","169.83","Jan-2020","Nov-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","6497.81","6335.37","4572.16","4457.86","3502.19","1069.97","0.0","0.0","0.0","Dec-2019","327.68","Jan-2020","Nov-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","6695.63","6695.63","4975.73","4975.73","3304.37","1671.36","0.0","0.0","0.0","Dec-2019","356.08","Jan-2020","Nov-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050652925
Total amount funded in policy code 2: 820081797

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv',skiprows= 1,skipfooter=2,engine='python')

In [37]:
print(df.shape)
print(df.head())

(128397, 144)
   id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0 NaN        NaN       6000         6000           6000.0   36 months
1 NaN        NaN      24000        24000          24000.0   36 months
2 NaN        NaN      30000        30000          30000.0   36 months
3 NaN        NaN       8000         8000           8000.0   36 months
4 NaN        NaN      22400        22400          22400.0   60 months

  int_rate  installment grade sub_grade                emp_title emp_length  \
0   14.47%       206.44     C        C2                  Manager  10+ years
1   10.33%       778.14     B        B1      Maintenance Manager  10+ years
2   15.02%      1040.26     C        C3             Firefighter   10+ years
3   12.98%       269.48     B        B5               Controller    4 years
4   16.14%       546.40     C        C4  Paramedic/ Fire Fighter  10+ years

  home_ownership  annual_inc verification_status   issue_d  loan_status  \
0           RENT     55000.0            Verified  Dec-2018  Charged Off
1       MORTGAGE    100000.0        Not Verified  Dec-2018      Current
2           RENT     90000.0            Verified  Dec-2018   Fully Paid
3       MORTGAGE     95000.0     Source Verified  Dec-2018      Current
4            OWN     56000.0     Source Verified  Dec-2018      Current

  pymnt_plan  url  desc             purpose                    title zip_code  \
0          n  NaN   NaN         credit_card  Credit card refinancing    104xx
1          n  NaN   NaN  debt_consolidation       Debt consolidation    606xx
2          n  NaN   NaN  debt_consolidation       Debt consolidation    681xx
3          n  NaN   NaN         credit_card  Credit card refinancing    480xx
4          n  NaN   NaN         credit_card  Credit card refinancing    234xx

  addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  \
0         NY  10.65            0         Jun-2006               0
1         IL  19.14            0         Oct-1996               3
2         NE  22.23            0         May-2007               1
3         MI   9.44            0         Mar-2009               2
4         VA  18.47            0         Dec-2004               0

   mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  \
0                     NaN                     NaN         6        0
1                    39.0                     NaN        14        0
2                     NaN                     NaN         8        0
3                    73.0                     NaN         7        0
4                    75.0                     NaN        15        0

   revol_bal revol_util  total_acc initial_list_status  out_prncp  \
0       4196      91.2%          8                   w       0.00
1       8547      27.7%         28                   w   16807.30
2      25754        48%         23                   w       0.00
3      11434      33.3%         20                   w    1707.34
4      13555      38.2%         22                   w   19230.91

   out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp  \
0           0.00   1106.520000          1106.52           546.14
1       16807.30   9317.020000          9317.02          7192.70
2           0.00  30883.673712         30883.67         30000.00
3        1707.34   6855.630000          6855.63          6292.66
4       19230.91   6526.670000          6526.67          3169.09

   total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee  \
0         272.38                 0.0       288.0                    51.84
1        2124.32                 0.0         0.0                     0.00
2         883.67                 0.0         0.0                     0.00
3         562.97                 0.0         0.0                     0.00
4        3357.58                 0.0         0.0                     0.00

  last_pymnt_d  last_pymnt_amnt next_pymnt_d last_credit_pull_d  \
0     Apr-2019           206.44          NaN           Nov-2019
1     Dec-2019           778.14     Jan-2020           Nov-2019
2     Feb-2019         28382.51          NaN           Nov-2019
3     Dec-2019           269.48     Jan-2020           Dec-2019
4     Dec-2019           546.40     Jan-2020           Nov-2019

   collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
0                           0                          NaN            1
1                           0                         57.0            1
2                           0                          NaN            1
3                           0                         73.0            1
4                           0                          NaN            1

  application_type  annual_inc_joint  dti_joint verification_status_joint  \
0       Individual               NaN        NaN                       NaN
1       Individual               NaN        NaN                       NaN
2       Individual               NaN        NaN                       NaN
3       Individual               NaN        NaN                       NaN
4       Individual               NaN        NaN                       NaN

   acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_act_il  \
0               0             0        12514            0            2
1               0             0       273876            3            5
2               0             0        51370            1            2
3               0             0       247933            5            1
4               0             0       217072            0            3

   open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  \
0            1            1                 9.0          8318     74.0
1            3            5                 5.0         40384     66.0
2            1            2                 9.0         25616     71.0
3            3            4                 2.0         13716     98.0
4            1            1                 7.0         18515     79.0

   open_rv_12m  open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  \
0            1            1        2807      79.0              4600       1
1            2            4        4368      51.0             30900       8
2            2            3        9621      57.0             53600       0
3            4            5        8918      52.0             34300       2
4            1            1        5789      55.0             35500       1

   total_cu_tl  inq_last_12m  acc_open_past_24mths  avg_cur_bal  \
0            0             2                     2       2086.0
1            0             8                     9      19563.0
2            2             1                     5       6421.0
3            0             7                    10      35419.0
4            0             4                     2      14471.0

   bc_open_to_buy  bc_util  chargeoff_within_12_mths  delinq_amnt  \
0           344.0     92.0                         0            0
1         17353.0     33.0                         0            0
2         22030.0     47.0                         0            0
3         22866.0     33.3                         0            0
4         15054.0     46.6                         0            0

   mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  \
0                33.0                   150                      9
1               266.0                   178                      4
2               123.0                   139                      3
3                13.0                   117                      6
4               113.0                   168                      7

   mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  mths_since_recent_bc_dlq  \
0               9         0                   9.0                       NaN
1               4         3                   4.0                      39.0
2               3         3                   3.0                       NaN
3               2         1                   6.0                      73.0
4               7         5                  36.0                       NaN

   mths_since_recent_inq  mths_since_recent_revol_delinq  \
0                    9.0                             NaN
1                    1.0                            39.0
2                    3.0                             NaN
3                    2.0                            73.0
4                    5.0                             NaN

   num_accts_ever_120_pd  num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  \
0                      0               3                4            3
1                      1               5                5            6
2                      0               4                6            4
3                      1               3                3            5
4                      0               5                7            8

   num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts  num_rev_tl_bal_gt_0  \
0          3          3              4              5                    4
1          8         15              7              9                    5
2          5         11              6              9                    6
3         15          4              5             15                    3
4          8          5             11             12                    7

   num_sats  num_tl_120dpd_2m  num_tl_30dpd  num_tl_90g_dpd_24m  \
0         6               0.0             0                   0
1        14               0.0             0                   0
2         8               0.0             0                   0
3         7               0.0             0                   0
4        15               0.0             0                   0

   num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies  \
0                   2           100.0             100.0                     0
1                   5            82.1              16.7                     0
2                   3           100.0              50.0                     0
3                   8           100.0              20.0                     0
4                   2            95.5              25.0                     0

   tax_liens  tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  \
0          0            15800              12514            4300
1          0           335121              50686           25900
2          0            89849              51370           41600
3          0           271550              25150           34300
4          0           253539              32070           28200

   total_il_high_credit_limit  revol_bal_joint sec_app_earliest_cr_line  \
0                       11200              NaN                      NaN
1                       61514              NaN                      NaN
2                       36249              NaN                      NaN
3                       14000              NaN                      NaN
4                       23364              NaN                      NaN

   sec_app_inq_last_6mths  sec_app_mort_acc  sec_app_open_acc  \
0                     NaN               NaN               NaN
1                     NaN               NaN               NaN
2                     NaN               NaN               NaN
3                     NaN               NaN               NaN
4                     NaN               NaN               NaN

   sec_app_revol_util  sec_app_open_act_il  sec_app_num_rev_accts  \
0                 NaN                  NaN                    NaN
1                 NaN                  NaN                    NaN
2                 NaN                  NaN                    NaN
3                 NaN                  NaN                    NaN
4                 NaN                  NaN                    NaN

   sec_app_chargeoff_within_12_mths  sec_app_collections_12_mths_ex_med  \
0                               NaN                                 NaN
1                               NaN                                 NaN
2                               NaN                                 NaN
3                               NaN                                 NaN
4                               NaN                                 NaN

   sec_app_mths_since_last_major_derog hardship_flag hardship_type  \
0                                  NaN             N           NaN
1                                  NaN             N           NaN
2                                  NaN             N           NaN
3                                  NaN             N           NaN
4                                  NaN             N           NaN

  hardship_reason hardship_status  deferral_term  hardship_amount  \
0             NaN             NaN            NaN              NaN
1             NaN             NaN            NaN              NaN
2             NaN             NaN            NaN              NaN
3             NaN             NaN            NaN              NaN
4             NaN             NaN            NaN              NaN

  hardship_start_date hardship_end_date payment_plan_start_date  \
0                 NaN               NaN                     NaN
1                 NaN               NaN                     NaN
2                 NaN               NaN                     NaN
3                 NaN               NaN                     NaN
4                 NaN               NaN                     NaN

   hardship_length  hardship_dpd hardship_loan_status  \
0              NaN           NaN                  NaN
1              NaN           NaN                  NaN
2              NaN           NaN                  NaN
3              NaN           NaN                  NaN
4              NaN           NaN                  NaN

   orig_projected_additional_accrued_interest  hardship_payoff_balance_amount  \
0                                         NaN                             NaN
1                                         NaN                             NaN
2                                         NaN                             NaN
3                                         NaN                             NaN
4                                         NaN                             NaN

   hardship_last_payment_amount debt_settlement_flag  \
0                           NaN                    Y
1                           NaN                    N
2                           NaN                    N
3                           NaN                    N
4                           NaN                    N

  debt_settlement_flag_date settlement_status settlement_date  \
0                  Oct-2019            ACTIVE        Oct-2019
1                       NaN               NaN             NaN
2                       NaN               NaN             NaN
3                       NaN               NaN             NaN
4                       NaN               NaN             NaN

   settlement_amount  settlement_percentage  settlement_term
0             3479.0                  60.01             24.0
1                NaN                    NaN              NaN
2                NaN                    NaN              NaN
3                NaN                    NaN              NaN
4                NaN                    NaN              NaN

In [38]:
print(df.tail())

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
128392 NaN        NaN      23000        23000          23000.0   36 months
128393 NaN        NaN      10000        10000          10000.0   36 months
128394 NaN        NaN       5000         5000           5000.0   36 months
128395 NaN        NaN      10000        10000           9750.0   36 months
128396 NaN        NaN      10000        10000          10000.0   36 months

       int_rate  installment grade sub_grade             emp_title emp_length  \
128392   15.02%       797.53     C        C3        Tax Consultant  10+ years
128393   15.02%       346.76     C        C3        security guard    5 years
128394   13.56%       169.83     C        C1          Payoff Clerk  10+ years
128395   11.06%       327.68     B        B3                   NaN        NaN
128396   16.91%       356.08     C        C5  Key Accounts Manager    2 years

       home_ownership  annual_inc verification_status   issue_d  loan_status  \
128392       MORTGAGE     75000.0     Source Verified  Oct-2018  Charged Off
128393       MORTGAGE     38000.0        Not Verified  Oct-2018      Current
128394       MORTGAGE     35360.0        Not Verified  Oct-2018      Current
128395           RENT     44400.0     Source Verified  Oct-2018      Current
128396           RENT     80000.0        Not Verified  Oct-2018      Current

       pymnt_plan  url  desc             purpose                    title  \
128392          n  NaN   NaN  debt_consolidation       Debt consolidation
128393          n  NaN   NaN  debt_consolidation       Debt consolidation
128394          n  NaN   NaN  debt_consolidation       Debt consolidation
128395          n  NaN   NaN         credit_card  Credit card refinancing
128396          n  NaN   NaN               other                    Other

       zip_code addr_state    dti  delinq_2yrs earliest_cr_line  \
128392    352xx         AL  20.95            1         Aug-1985
128393    443xx         OH  13.16            3         Jul-1982
128394    381xx         TN  11.30            1         Jun-2006
128395    980xx         WA  11.78            0         Oct-2008
128396    021xx         MA  17.72            1         Sep-2006

        inq_last_6mths  mths_since_last_delinq  mths_since_last_record  \
128392               2                    22.0                     NaN
128393               0                     6.0                     NaN
128394               0                    21.0                     NaN
128395               2                    40.0                     NaN
128396               0                    14.0                     NaN

        open_acc  pub_rec  revol_bal revol_util  total_acc  \
128392        12        0      22465      43.6%         28
128393        11        0       5634      37.1%         16
128394         9        0       2597      27.3%         15
128395        15        0       6269      13.1%         25
128396        17        0       1942      30.8%         31

       initial_list_status  out_prncp  out_prncp_inv  total_pymnt  \
128392                   w       0.00           0.00      1547.08
128393                   w    6632.21        6632.21      4846.30
128394                   f    3291.41        3291.41      2373.85
128395                   f    6497.81        6335.37      4572.16
128396                   w    6695.63        6695.63      4975.73

        total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
128392          1547.08          1025.67         521.41                 0.0
128393          4846.30          3367.79        1478.51                 0.0
128394          2373.85          1708.59         665.26                 0.0
128395          4457.86          3502.19        1069.97                 0.0
128396          4975.73          3304.37        1671.36                 0.0

        recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
128392         0.0                      0.0     Dec-2018           797.53
128393         0.0                      0.0     Dec-2019           346.76
128394         0.0                      0.0     Dec-2019           169.83
128395         0.0                      0.0     Dec-2019           327.68
128396         0.0                      0.0     Dec-2019           356.08

       next_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  \
128392          NaN           Nov-2018                           0
128393     Jan-2020           Nov-2019                           0
128394     Jan-2020           Nov-2019                           0
128395     Jan-2020           Nov-2019                           0
128396     Jan-2020           Nov-2019                           0

        mths_since_last_major_derog  policy_code application_type  \
128392                          NaN            1       Individual
128393                          NaN            1       Individual
128394                          NaN            1       Individual
128395                         53.0            1       Individual
128396                         25.0            1       Individual

        annual_inc_joint  dti_joint verification_status_joint  acc_now_delinq  \
128392               NaN        NaN                       NaN               0
128393               NaN        NaN                       NaN               0
128394               NaN        NaN                       NaN               0
128395               NaN        NaN                       NaN               0
128396               NaN        NaN                       NaN               0

        tot_coll_amt  tot_cur_bal  open_acc_6m  open_act_il  open_il_12m  \
128392             0       259658            4            2            3
128393           155        77424            0            1            0
128394          1413        69785            0            2            0
128395           520        16440            3            1            1
128396             0        59194            0           15            1

        open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  open_rv_12m  \
128392            3                 6.0         18149     86.0            4
128393            0                34.0           200     10.0            1
128394            1                16.0          2379     40.0            3
128395            1                 2.0         10171    100.0            2
128396            1                12.0         57252     85.0            0

        open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  \
128392            6       12843      56.0             51500       2
128393            1        1866      42.0             15200       2
128394            4        1826      32.0              9500       0
128395            5         404      28.0             47700       0
128396            0        1942      80.0              6300       0

        total_cu_tl  inq_last_12m  acc_open_past_24mths  avg_cur_bal  \
128392            2             5                    11      21638.0
128393            0             0                     2       7039.0
128394            0             1                     5       8723.0
128395            3             5                     6       1265.0
128396            5             0                     1       3482.0

        bc_open_to_buy  bc_util  chargeoff_within_12_mths  delinq_amnt  \
128392         26321.0     44.1                         0            0
128393          4537.0     50.1                         0            0
128394          1174.0     60.9                         0            0
128395         20037.0      2.3                         0            0
128396          2058.0     48.5                         0            0

        mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  \
128392                12.0                   397                      4
128393                34.0                   434                     11
128394               147.0                    85                      9
128395                61.0                   119                      1
128396               144.0                   142                     40

        mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  \
128392               4         6                   5.0
128393              11         3                  11.0
128394               9         2                  10.0
128395               1         0                   1.0
128396              12         0                 131.0

        mths_since_recent_bc_dlq  mths_since_recent_inq  \
128392                      22.0                    4.0
128393                       6.0                   17.0
128394                      21.0                    9.0
128395                       NaN                    1.0
128396                      30.0                    NaN

        mths_since_recent_revol_delinq  num_accts_ever_120_pd  num_actv_bc_tl  \
128392                            22.0                      0               4
128393                             6.0                      0               3
128394                            21.0                      0               1
128395                            40.0                      1               2
128396                            30.0                      3               1

        num_actv_rev_tl  num_bc_sats  num_bc_tl  num_il_tl  num_op_rev_tl  \
128392                5            7         14          3              9
128393                5            5          6          1              8
128394                3            2          2          6              6
128395                4            6          8          3             14
128396                1            1          5         22              2

        num_rev_accts  num_rev_tl_bal_gt_0  num_sats  num_tl_120dpd_2m  \
128392             19                    5        12               0.0
128393             11                    5        11               0.0
128394              7                    3         9               0.0
128395             22                    4        15               0.0
128396              9                    1        17               0.0

        num_tl_30dpd  num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  \
128392             0                   0                   7            96.4
128393             0                   0                   1            73.3
128394             0                   0                   3            92.9
128395             0                   0                   3            92.0
128396             0                   0                   1            74.2

        percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  \
128392              14.3                     0          0           296500
128393              40.0                     0          0            91403
128394              50.0                     0          0            93908
128395               0.0                     0          0            57871
128396               0.0                     0          0            73669

        total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit  \
128392              40614           47100                       21000
128393               9323            9100                        2000
128394               4976            3000                        6028
128395              16440           20500                       10171
128396              59194            4000                       67369

        revol_bal_joint sec_app_earliest_cr_line  sec_app_inq_last_6mths  \
128392              NaN                      NaN                     NaN
128393              NaN                      NaN                     NaN
128394              NaN                      NaN                     NaN
128395              NaN                      NaN                     NaN
128396              NaN                      NaN                     NaN

        sec_app_mort_acc  sec_app_open_acc  sec_app_revol_util  \
128392               NaN               NaN                 NaN
128393               NaN               NaN                 NaN
128394               NaN               NaN                 NaN
128395               NaN               NaN                 NaN
128396               NaN               NaN                 NaN

        sec_app_open_act_il  sec_app_num_rev_accts  \
128392                  NaN                    NaN
128393                  NaN                    NaN
128394                  NaN                    NaN
128395                  NaN                    NaN
128396                  NaN                    NaN

        sec_app_chargeoff_within_12_mths  sec_app_collections_12_mths_ex_med  \
128392                               NaN                                 NaN
128393                               NaN                                 NaN
128394                               NaN                                 NaN
128395                               NaN                                 NaN
128396                               NaN                                 NaN

        sec_app_mths_since_last_major_derog hardship_flag hardship_type  \
128392                                  NaN             N           NaN
128393                                  NaN             N           NaN
128394                                  NaN             N           NaN
128395                                  NaN             N           NaN
128396                                  NaN             N           NaN

       hardship_reason hardship_status  deferral_term  hardship_amount  \
128392             NaN             NaN            NaN              NaN
128393             NaN             NaN            NaN              NaN
128394             NaN             NaN            NaN              NaN
128395             NaN             NaN            NaN              NaN
128396             NaN             NaN            NaN              NaN

       hardship_start_date hardship_end_date payment_plan_start_date  \
128392                 NaN               NaN                     NaN
128393                 NaN               NaN                     NaN
128394                 NaN               NaN                     NaN
128395                 NaN               NaN                     NaN
128396                 NaN               NaN                     NaN

        hardship_length  hardship_dpd hardship_loan_status  \
128392              NaN           NaN                  NaN
128393              NaN           NaN                  NaN
128394              NaN           NaN                  NaN
128395              NaN           NaN                  NaN
128396              NaN           NaN                  NaN

        orig_projected_additional_accrued_interest  \
128392                                         NaN
128393                                         NaN
128394                                         NaN
128395                                         NaN
128396                                         NaN

        hardship_payoff_balance_amount  hardship_last_payment_amount  \
128392                             NaN                           NaN
128393                             NaN                           NaN
128394                             NaN                           NaN
128395                             NaN                           NaN
128396                             NaN                           NaN

       debt_settlement_flag debt_settlement_flag_date settlement_status  \
128392                    N                       NaN               NaN
128393                    N                       NaN               NaN
128394                    N                       NaN               NaN
128395                    N                       NaN               NaN
128396                    N                       NaN               NaN

       settlement_date  settlement_amount  settlement_percentage  \
128392             NaN                NaN                    NaN
128393             NaN                NaN                    NaN
128394             NaN                NaN                    NaN
128395             NaN                NaN                    NaN
128396             NaN                NaN                    NaN

        settlement_term
128392              NaN
128393              NaN
128394              NaN
128395              NaN
128396              NaN

In [0]:
df = df.drop(['url','member_id', 'desc', 'id'], axis=1)

In [40]:
print(df.shape)

(128397, 140)

In [41]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,6000,6000,6000.0,36 months,14.47%,206.44,C,C2,Manager,10+ years,RENT,55000.0,Verified,Dec-2018,Charged Off,n,credit_card,Credit card refinancing,104xx,NY,10.65,0,Jun-2006,0,NaN,NaN,6,0,4196,91.2%,8,w,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,Apr-2019,206.44,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,12514,0,2,1,1,9.0,8318,74.0,1,1,2807,79.0,4600,1,0,2,2,2086.0,344.0,92.0,0,0,33.0,150,9,9,0,9.0,NaN,9.0,NaN,0,3,4,3,3,3,4,5,4,6,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Oct-2019,ACTIVE,Oct-2019,3479.0,60.01,24.0
1,24000,24000,24000.0,36 months,10.33%,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,Oct-1996,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,Dec-2019,778.14,Jan-2020,Nov-2019,0,57.0,1,Individual,NaN,NaN,NaN,0,0,273876,3,5,3,5,5.0,40384,66.0,2,4,4368,51.0,30900,8,0,8,9,19563.0,17353.0,33.0,0,0,266.0,178,4,4,3,4.0,39.0,1.0,39.0,1,5,5,6,8,15,7,9,5,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,30000,30000,30000.0,36 months,15.02%,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,May-2007,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,Feb-2019,28382.51,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,51370,1,2,1,2,9.0,25616,71.0,2,3,9621,57.0,53600,0,2,1,5,6421.0,22030.0,47.0,0,0,123.0,139,3,3,3,3.0,NaN,3.0,NaN,0,4,6,4,5,11,6,9,6,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,8000,8000,8000.0,36 months,12.98%,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,Mar-2009,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,Dec-2019,269.48,Jan-2020,Dec-2019,0,73.0,1,Individual,NaN,NaN,NaN,0,0,247933,5,1,3,4,2.0,13716,98.0,4,5,8918,52.0,34300,2,0,7,10,35419.0,22866.0,33.3,0,0,13.0,117,6,2,1,6.0,73.0,2.0,73.0,1,3,3,5,15,4,5,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,22400,22400,22400.0,60 months,16.14%,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,234xx,VA,18.47,0,Dec-2004,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,Dec-2019,546.40,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,217072,0,3,1,1,7.0,18515,79.0,1,1,5789,55.0,35500,1,0,4,2,14471.0,15054.0,46.6,0,0,113.0,168,7,7,5,36.0,NaN,5.0,NaN,0,5,7,8,8,5,11,12,7,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df.isnull().sum().sort_values()

loan_amnt                                          0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
                                               ...
hardship_status                               128164
hardship_reason                               128164
hardship_dpd                                  128164
hardship_loan_status                          128164
orig_projected_additional_accrued_interest    128191
Length: 140, dtype: int64

In [43]:
df['int_rate'].head(10)

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [44]:
df['int_rate'][0:10]

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [45]:
df['int_rate'][0]

' 14.47%'

In [46]:
df['int_rate'][3:7]

3     12.98%
4     16.14%
5     12.98%
6     15.02%
Name: int_rate, dtype: object

In [47]:
df['int_rate'][3]

' 12.98%'

In [0]:
int_rate = ' 14.17%'

In [49]:
int_rate.strip()

'14.17%'

In [50]:
int_rate.strip('%')

' 14.17'

In [51]:
int_rate.strip().strip('%')

'14.17'

In [52]:
type(int_rate.strip().strip('%'))

str

In [53]:
float(int_rate.strip().strip('%'))

14.17

In [54]:
type(float(int_rate.strip().strip('%')))

float

In [55]:
df['int_rate'].str.replace(' ','')

0         14.47%
1         10.33%
2         15.02%
3         12.98%
4         16.14%
           ...
128392    15.02%
128393    15.02%
128394    13.56%
128395    11.06%
128396    16.91%
Name: int_rate, Length: 128397, dtype: object

In [56]:
df['int_rate'].str.strip('')

0          14.47%
1          10.33%
2          15.02%
3          12.98%
4          16.14%
           ...
128392     15.02%
128393     15.02%
128394     13.56%
128395     11.06%
128396     16.91%
Name: int_rate, Length: 128397, dtype: object

In [0]:
def int_rate_to_float(cell_contents):
  #do some stuff
  return float(cell_contents.strip().strip('%'))

In [58]:
int_rate_to_float(int_rate)

14.17

In [59]:
type(int_rate_to_float(int_rate))

float

In [0]:
# new_list = []
# for cell in df['int_rate']:
#   new_list.append(int_rate_to_float(cell))

# df['int_rate_column'] = pd.Series(new_list)

In [0]:
df['int_rate_float'] = df['int_rate'].apply(int_rate_to_float)

In [62]:
df['int_rate_float']

0         14.47
1         10.33
2         15.02
3         12.98
4         16.14
          ...
128392    15.02
128393    15.02
128394    13.56
128395    11.06
128396    16.91
Name: int_rate_float, Length: 128397, dtype: float64

In [63]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_float
0,6000,6000,6000.0,36 months,14.47%,206.44,C,C2,Manager,10+ years,RENT,55000.0,Verified,Dec-2018,Charged Off,n,credit_card,Credit card refinancing,104xx,NY,10.65,0,Jun-2006,0,NaN,NaN,6,0,4196,91.2%,8,w,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,Apr-2019,206.44,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,12514,0,2,1,1,9.0,8318,74.0,1,1,2807,79.0,4600,1,0,2,2,2086.0,344.0,92.0,0,0,33.0,150,9,9,0,9.0,NaN,9.0,NaN,0,3,4,3,3,3,4,5,4,6,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Oct-2019,ACTIVE,Oct-2019,3479.0,60.01,24.0,14.47
1,24000,24000,24000.0,36 months,10.33%,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,Oct-1996,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,Dec-2019,778.14,Jan-2020,Nov-2019,0,57.0,1,Individual,NaN,NaN,NaN,0,0,273876,3,5,3,5,5.0,40384,66.0,2,4,4368,51.0,30900,8,0,8,9,19563.0,17353.0,33.0,0,0,266.0,178,4,4,3,4.0,39.0,1.0,39.0,1,5,5,6,8,15,7,9,5,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33
2,30000,30000,30000.0,36 months,15.02%,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,May-2007,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,Feb-2019,28382.51,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,51370,1,2,1,2,9.0,25616,71.0,2,3,9621,57.0,53600,0,2,1,5,6421.0,22030.0,47.0,0,0,123.0,139,3,3,3,3.0,NaN,3.0,NaN,0,4,6,4,5,11,6,9,6,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,15.02
3,8000,8000,8000.0,36 months,12.98%,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,Mar-2009,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,Dec-2019,269.48,Jan-2020,Dec-2019,0,73.0,1,Individual,NaN,NaN,NaN,0,0,247933,5,1,3,4,2.0,13716,98.0,4,5,8918,52.0,34300,2,0,7,10,35419.0,22866.0,33.3,0,0,13.0,117,6,2,1,6.0,73.0,2.0,73.0,1,3,3,5,15,4,5,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98
4,22400,22400,22400.0,60 months,16.14%,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,234xx,VA,18.47,0,Dec-2004,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,Dec-2019,546.40,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,217072,0,3,1,1,7.0,18515,79.0,1,1,5789,55.0,35500,1,0,4,2,14471.0,15054.0,46.6,0,0,113.0,168,7,7,5,36.0,NaN,5.0,NaN,0,5,7,8,8,5,11,12,7,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14

In [64]:
df.dtypes[-5:]

settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
int_rate_float           float64
dtype: object

In [65]:
df['emp_title'].value_counts(dropna=False)[:20]

NaN                   20942
Teacher                2090
Manager                1773
Registered Nurse        951
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [66]:
len(df['emp_title'].value_counts())

43889

In [67]:
df['emp_title'].isnull().sum()

20942

In [0]:
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [69]:
def clean_title(rigadoon):
  if isinstance(rigadoon, str):
    return rigadoon.strip().title()
  else:
      return "Unknown"

for example in examples:
  print(clean_title(example))

Owner
Supervisor
Project Manager
Unknown

In [0]:
# def clean_title(rigadoon):
#   if isinstance(rigadoon, str):
#     return rigadoon.title().strip()
#   else:
#       return "Unknown"

# for title in examples:
#   print(clean_title(title))

In [70]:
# list comprehension
[clean_title(example) for example in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [72]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_float
0,6000,6000,6000.0,36 months,14.47%,206.44,C,C2,Manager,10+ years,RENT,55000.0,Verified,Dec-2018,Charged Off,n,credit_card,Credit card refinancing,104xx,NY,10.65,0,Jun-2006,0,NaN,NaN,6,0,4196,91.2%,8,w,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,Apr-2019,206.44,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,12514,0,2,1,1,9.0,8318,74.0,1,1,2807,79.0,4600,1,0,2,2,2086.0,344.0,92.0,0,0,33.0,150,9,9,0,9.0,NaN,9.0,NaN,0,3,4,3,3,3,4,5,4,6,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Oct-2019,ACTIVE,Oct-2019,3479.0,60.01,24.0,14.47
1,24000,24000,24000.0,36 months,10.33%,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,Oct-1996,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,Dec-2019,778.14,Jan-2020,Nov-2019,0,57.0,1,Individual,NaN,NaN,NaN,0,0,273876,3,5,3,5,5.0,40384,66.0,2,4,4368,51.0,30900,8,0,8,9,19563.0,17353.0,33.0,0,0,266.0,178,4,4,3,4.0,39.0,1.0,39.0,1,5,5,6,8,15,7,9,5,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33
2,30000,30000,30000.0,36 months,15.02%,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,May-2007,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,Feb-2019,28382.51,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,51370,1,2,1,2,9.0,25616,71.0,2,3,9621,57.0,53600,0,2,1,5,6421.0,22030.0,47.0,0,0,123.0,139,3,3,3,3.0,NaN,3.0,NaN,0,4,6,4,5,11,6,9,6,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,15.02
3,8000,8000,8000.0,36 months,12.98%,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,Mar-2009,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,Dec-2019,269.48,Jan-2020,Dec-2019,0,73.0,1,Individual,NaN,NaN,NaN,0,0,247933,5,1,3,4,2.0,13716,98.0,4,5,8918,52.0,34300,2,0,7,10,35419.0,22866.0,33.3,0,0,13.0,117,6,2,1,6.0,73.0,2.0,73.0,1,3,3,5,15,4,5,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98
4,22400,22400,22400.0,60 months,16.14%,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,234xx,VA,18.47,0,Dec-2004,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,Dec-2019,546.40,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,217072,0,3,1,1,7.0,18515,79.0,1,1,5789,55.0,35500,1,0,4,2,14471.0,15054.0,46.6,0,0,113.0,168,7,7,5,36.0,NaN,5.0,NaN,0,5,7,8,8,5,11,12,7,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14

In [73]:
len(df['emp_title'].value_counts())

34899

In [74]:
df['emp_title'].isnull().sum()

0

In [75]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [76]:
df['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [77]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

df.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

In [78]:
df['issue_d'].iloc[0]

Timestamp('2018-12-01 00:00:00')

In [79]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [80]:
df['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128392    2018
128393    2018
128394    2018
128395    2018
128396    2018
Name: issue_d, Length: 128397, dtype: int64

In [81]:
df['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128392    10
128393    10
128394    10
128395    10
128396    10
Name: issue_d, Length: 128397, dtype: int64

In [0]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

In [83]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_float,issue_year,issue_month
0,6000,6000,6000.0,36 months,14.47%,206.44,C,C2,Manager,10+ years,RENT,55000.0,Verified,2018-12-01,Charged Off,n,credit_card,Credit card refinancing,104xx,NY,10.65,0,Jun-2006,0,NaN,NaN,6,0,4196,91.2%,8,w,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,Apr-2019,206.44,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,12514,0,2,1,1,9.0,8318,74.0,1,1,2807,79.0,4600,1,0,2,2,2086.0,344.0,92.0,0,0,33.0,150,9,9,0,9.0,NaN,9.0,NaN,0,3,4,3,3,3,4,5,4,6,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Oct-2019,ACTIVE,Oct-2019,3479.0,60.01,24.0,14.47,2018,12
1,24000,24000,24000.0,36 months,10.33%,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,Oct-1996,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,Dec-2019,778.14,Jan-2020,Nov-2019,0,57.0,1,Individual,NaN,NaN,NaN,0,0,273876,3,5,3,5,5.0,40384,66.0,2,4,4368,51.0,30900,8,0,8,9,19563.0,17353.0,33.0,0,0,266.0,178,4,4,3,4.0,39.0,1.0,39.0,1,5,5,6,8,15,7,9,5,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33,2018,12
2,30000,30000,30000.0,36 months,15.02%,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,May-2007,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,Feb-2019,28382.51,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,51370,1,2,1,2,9.0,25616,71.0,2,3,9621,57.0,53600,0,2,1,5,6421.0,22030.0,47.0,0,0,123.0,139,3,3,3,3.0,NaN,3.0,NaN,0,4,6,4,5,11,6,9,6,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,15.02,2018,12
3,8000,8000,8000.0,36 months,12.98%,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,Mar-2009,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,Dec-2019,269.48,Jan-2020,Dec-2019,0,73.0,1,Individual,NaN,NaN,NaN,0,0,247933,5,1,3,4,2.0,13716,98.0,4,5,8918,52.0,34300,2,0,7,10,35419.0,22866.0,33.3,0,0,13.0,117,6,2,1,6.0,73.0,2.0,73.0,1,3,3,5,15,4,5,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,2018,12
4,22400,22400,22400.0,60 months,16.14%,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,234xx,VA,18.47,0,Dec-2004,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,Dec-2019,546.40,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,217072,0,3,1,1,7.0,18515,79.0,1,1,5789,55.0,35500,1,0,4,2,14471.0,15054.0,46.6,0,0,113.0,168,7,7,5,36.0,NaN,5.0,NaN,0,5,7,8,8,5,11,12,7,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,2018,12

In [84]:
df['earliest_cr_line'].head()

0    Jun-2006
1    Oct-1996
2    May-2007
3    Mar-2009
4    Dec-2004
Name: earliest_cr_line, dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [0]:
df['days_from_earliest_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

In [87]:
df['days_from_earliest_credit_to_issue'].head()

0    4566
1    8096
2    4232
3    3562
4    5113
Name: days_from_earliest_credit_to_issue, dtype: int64

In [88]:
df['days_from_earliest_credit_to_issue'].describe()

count    128397.000000
mean       5859.918464
std        2886.617678
min        1126.000000
25%        4049.000000
50%        5266.000000
75%        7244.000000
max       25171.000000
Name: days_from_earliest_credit_to_issue, dtype: float64

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
df['int_term'] = df['term'].str.strip('months')

In [0]:
df['int_term'] = df['int_term'].astype(int,copy=True)

In [91]:
df['int_term'].dtypes

dtype('int64')

In [92]:
type(df['int_term'][3])

numpy.int64

In [93]:
df['int_term'][3]

36

In [94]:
df['loan_status']

0         Charged Off
1             Current
2          Fully Paid
3             Current
4             Current
             ...
128392    Charged Off
128393        Current
128394        Current
128395        Current
128396        Current
Name: loan_status, Length: 128397, dtype: object

In [95]:
df.isnull().sum()

loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
                                     ..
int_rate_float                        0
issue_year                            0
issue_month                           0
days_from_earliest_credit_to_issue    0
int_term                              0
Length: 145, dtype: int64

In [96]:
df.shape

(128397, 145)

In [97]:
df[(df['loan_status'] == 'Current') | (df['loan_status'] == 'Fully Paid')]

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_float,issue_year,issue_month,days_from_earliest_credit_to_issue,int_term
1,24000,24000,24000.0,36 months,10.33%,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,1996-10-01,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.0,Dec-2019,778.14,Jan-2020,Nov-2019,0,57.0,1,Individual,NaN,NaN,NaN,0,0,273876,3,5,3,5,5.0,40384,66.0,2,4,4368,51.0,30900,8,0,8,9,19563.0,17353.0,33.0,0,0,266.0,178,4,4,3,4.0,39.0,1.0,39.0,1,5,5,6,8,15,7,9,5,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33,2018,12,8096,36
2,30000,30000,30000.0,36 months,15.02%,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,2007-05-01,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.0,Feb-2019,28382.51,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,51370,1,2,1,2,9.0,25616,71.0,2,3,9621,57.0,53600,0,2,1,5,6421.0,22030.0,47.0,0,0,123.0,139,3,3,3,3.0,NaN,3.0,NaN,0,4,6,4,5,11,6,9,6,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,15.02,2018,12,4232,36
3,8000,8000,8000.0,36 months,12.98%,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,2009-03-01,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.0,Dec-2019,269.48,Jan-2020,Dec-2019,0,73.0,1,Individual,NaN,NaN,NaN,0,0,247933,5,1,3,4,2.0,13716,98.0,4,5,8918,52.0,34300,2,0,7,10,35419.0,22866.0,33.3,0,0,13.0,117,6,2,1,6.0,73.0,2.0,73.0,1,3,3,5,15,4,5,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,2018,12,3562,36
4,22400,22400,22400.0,60 months,16.14%,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,234xx,VA,18.47,0,2004-12-01,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.0,Dec-2019,546.40,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,217072,0,3,1,1,7.0,18515,79.0,1,1,5789,55.0,35500,1,0,4,2,14471.0,15054.0,46.6,0,0,113.0,168,7,7,5,36.0,NaN,5.0,NaN,0,5,7,8,8,5,11,12,7,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,2018,12,5113,60
5,5000,5000,5000.0,36 months,12.98%,168.43,B,B5,Consultant,2 years,RENT,80000.0,Not Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,100xx,NY,2.39,0,2014-01-01,1,NaN,NaN,8,0,7356,9.4%,9,w,3543.19,3543.19,2015.750000,2015.75,1456.81,558.94,0.0,0.0,0.0,Dec-2019,168.43,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,7356,0,0,0,0,NaN,0,NaN,2,2,4957,9.0,78200,1,0,1,2,920.0,70844.0,9.4,0,0,NaN,59,11,11,0,11.0,NaN,1.0,NaN,0,4,4,8,8,0,8,8,4,8,0.0,0,0,2,100.0,12.5,0,0,78200,7356,78200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,2018,12,1795,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128391,5600,5600,5600.0,36 months,13.56%,190.21,C,C1,Unknown,NaN,RENT,15600.0,Not Verified,2018-10-01,Current,n,credit_card,Credit card refinancing,836xx,ID,15.31,0,2012-08-01,0,NaN,97.0,9,1,5996,34.5%,11,w,3686.37,3686.37,2652.390000,2652.39,1913.63,738.76,0.0,0.0,0.0,Dec-2019,190.21,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,5996,0,0,0,1,20.0,0,NaN,0,2,3017,35.0,17400,1,0,0,3,750.0,4689.0,45.5,0,0,20.0,73,13,13,0,13.0,NaN,20.0,NaN,0,3,5,4,4,1,9,10,5,9,0.0,0,0,0,100.0,25.0,1,0,17400,5996,8600,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,13.56,2018,10,2252,36
128393,10000,10000,10000.0,36 months,15.02%,346.76,C,C3,Security Guard,5 years,MORTGAGE,38000.0,Not Verified,2018-10-01,Current,n,debt_consolidation,Debt consolidation,443xx,OH,13.16,3,1982-07-01,0,6.0,NaN,11,0,5634,37.1%,16,w,6632.21,6632.21,4846.300000,4846.30,3367.79,1478.51,0.0,0.0,0.0,Dec-2019,346.76,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,155,77424,0,1,0,0,34.0,200,10.0,1,1,1866,42.0,15200,2,0,0,2,7039.0,4537.0,50.1,0,0,34.0,434,11,11,3,11.0,6.0,17.0,6.0,0,3,5,5,6,1,8,11,5,11,0.0,0,0,1,73.3,40.0,0,0,91403,9323,9100,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,15.02,2018,10,13241,36
128394,5000,5000,5000.0,36 months,13.56%,169.83,C,C1,Payoff Clerk,10+ years,MORTGAGE,35360.0,Not Verified,2018-10-01,Current,n,debt_consolidation,Debt consolidation,381xx,TN,11.30,1,2006-06-01,0,21.0,NaN,9,0,2597,27.3%,15,f,3291.41,3291.41,2373.850000,2373.85,1708.59,665.26,0.0,0.0,0.0,Dec-2019,169.83,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1413,69785,0,2,0,1,16.0,2379,40.0,3,4,1826,32.0,9500,0,0,1,5,8723.0,1174.0,60.9,0,0,147.0,85,9,9,2,10.0,21.0,9.0,21.0,0,1,3,2,2,6,6,7,3,9,0.0,0,0,3,92.9,50.0,0,0,93908,4976,3000,6028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,13.56,2018,10,4505,36
128395,10000,10000,9750.0,36 months,11.06%,327.68,B,B3,Unknown,NaN,RENT,44400.0,Source Verified,2018-10-01,Current,n,credit_card,Credit card refinancing,980xx,WA,11.78,0,2008-10-01,2,40.0,NaN,15,0,6269,13.1%,25,f,6497.81,6335.37,4572.160000,4457.86,3502.19,1069.97,0.0,0.0,0.0,Dec-2019,327.68,Jan-2020,Nov-2019,0,53.0,1,Individual,NaN,NaN,NaN,0,520,16440,3,1,1,1,2.0,10171,100.0,2,5,404,28.0,47700,0,3,5,6,1265.0,20037.0,2.3,0,0,61.0,119,1,1,0,1.0,NaN,1.0,40.0,1,2,4,6,8,3,14,22,4,15,0.0,0,0,3,92.0,0.0,0,0,57871,16440,20500,10171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,11.06,2018,10,3652,36
128396,10000,10000,10000.0,36 months,16.91%,356.08,C,C5,Key Accounts Manager,2 years,RENT,80000.0,Not Verified,2018-10-01,Current,n,other,Other,021xx,MA,17.72,1,2006-09-01,0,14.0,NaN,17,0,1942,30.8%,31,w,6695.63,6695.63,4975.730000,4975.73,3304.37,1671.36,0.0,0.0,0.0,Dec-2019,356.08,Jan-2020,Nov-2019,0,25.0,1,Individual,NaN,NaN,NaN,0,0,59194,0,15,1,1,12.0,57252,85.0,0,0,1942,80.0,6300,0,5,0,1,3482.0,2058.0,48.5,0,0,144.0,142,40,12,0,131.0,30.0,NaN,30.0,3,1,1,1,5,22,2,9,1,17,0.0,0,0,1,74.2,0.0,0,0,73669,59194,4000,67369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.91,2018,10,4413,36

In [98]:
df['loan_status'].value_counts()

Current               97694
Fully Paid            21476
Charged Off            5260
Late (31-120 days)     2656
In Grace Period         784
Late (16-30 days)       524
Default                   3
Name: loan_status, dtype: int64

In [0]:
df['loan_status_is_great'] = df['loan_status'].map({"Current": 1,"Fully Paid": 1,"Charged Off": 0,"Late (31-120 days)": 0, "In Grace Period": 0,"Late (16-30 days)": 0,"Default": 0})

In [100]:
df['loan_status_is_great']

0         0
1         1
2         1
3         1
4         1
         ..
128392    0
128393    1
128394    1
128395    1
128396    1
Name: loan_status_is_great, Length: 128397, dtype: int64

In [101]:
df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       ...
       'settlement_date', 'settlement_amount', 'settlement_percentage',
       'settlement_term', 'int_rate_float', 'issue_year', 'issue_month',
       'days_from_earliest_credit_to_issue', 'int_term',
       'loan_status_is_great'],
      dtype='object', length=146)

In [102]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_float,issue_year,issue_month,days_from_earliest_credit_to_issue,int_term,loan_status_is_great
0,6000,6000,6000.0,36 months,14.47%,206.44,C,C2,Manager,10+ years,RENT,55000.0,Verified,2018-12-01,Charged Off,n,credit_card,Credit card refinancing,104xx,NY,10.65,0,2006-06-01,0,NaN,NaN,6,0,4196,91.2%,8,w,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,Apr-2019,206.44,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,12514,0,2,1,1,9.0,8318,74.0,1,1,2807,79.0,4600,1,0,2,2,2086.0,344.0,92.0,0,0,33.0,150,9,9,0,9.0,NaN,9.0,NaN,0,3,4,3,3,3,4,5,4,6,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Oct-2019,ACTIVE,Oct-2019,3479.0,60.01,24.0,14.47,2018,12,4566,36,0
1,24000,24000,24000.0,36 months,10.33%,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,1996-10-01,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,Dec-2019,778.14,Jan-2020,Nov-2019,0,57.0,1,Individual,NaN,NaN,NaN,0,0,273876,3,5,3,5,5.0,40384,66.0,2,4,4368,51.0,30900,8,0,8,9,19563.0,17353.0,33.0,0,0,266.0,178,4,4,3,4.0,39.0,1.0,39.0,1,5,5,6,8,15,7,9,5,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33,2018,12,8096,36,1
2,30000,30000,30000.0,36 months,15.02%,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,2007-05-01,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,Feb-2019,28382.51,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,51370,1,2,1,2,9.0,25616,71.0,2,3,9621,57.0,53600,0,2,1,5,6421.0,22030.0,47.0,0,0,123.0,139,3,3,3,3.0,NaN,3.0,NaN,0,4,6,4,5,11,6,9,6,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,15.02,2018,12,4232,36,1
3,8000,8000,8000.0,36 months,12.98%,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,2009-03-01,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,Dec-2019,269.48,Jan-2020,Dec-2019,0,73.0,1,Individual,NaN,NaN,NaN,0,0,247933,5,1,3,4,2.0,13716,98.0,4,5,8918,52.0,34300,2,0,7,10,35419.0,22866.0,33.3,0,0,13.0,117,6,2,1,6.0,73.0,2.0,73.0,1,3,3,5,15,4,5,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,2018,12,3562,36,1
4,22400,22400,22400.0,60 months,16.14%,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,234xx,VA,18.47,0,2004-12-01,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,Dec-2019,546.40,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,217072,0,3,1,1,7.0,18515,79.0,1,1,5789,55.0,35500,1,0,4,2,14471.0,15054.0,46.6,0,0,113.0,168,7,7,5,36.0,NaN,5.0,NaN,0,5,7,8,8,5,11,12,7,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,2018,12,5113,60,1

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128397 entries, 0 to 128396
Columns: 146 entries, loan_amnt to loan_status_is_great
dtypes: datetime64[ns](2), float64(54), int64(56), object(34)
memory usage: 143.0+ MB

In [104]:
df['settlement_date'].isnull().sum()

127946

In [0]:
df['last_pymnt_d'].fillna(method='ffill',inplace=True)

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'],infer_datetime_format=True)

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

In [108]:
df['last_pymnt_d_month'].isnull().sum()

0

In [0]:
# df['last_pymnt_d_month'].fillna(method='ffill',inplace=True)

In [0]:
# df['last_pymnt_d_month'] = df['last_pymnt_d_month'].astype('datetime64[ns]')

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d_month'].astype(int)

In [112]:
df['last_pymnt_d_month']

0          4
1         12
2          2
3         12
4         12
          ..
128392    12
128393    12
128394    12
128395    12
128396    12
Name: last_pymnt_d_month, Length: 128397, dtype: int64

In [0]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [114]:
df['last_pymnt_d_year'].head()

0    2019
1    2019
2    2019
3    2019
4    2019
Name: last_pymnt_d_year, dtype: int64

In [115]:
df.isnull().sum()

loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
                                     ..
days_from_earliest_credit_to_issue    0
int_term                              0
loan_status_is_great                  0
last_pymnt_d_month                    0
last_pymnt_d_year                     0
Length: 148, dtype: int64

In [0]:
df.drop(['int_rate'],axis=1,inplace=True)

In [117]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_float,issue_year,issue_month,days_from_earliest_credit_to_issue,int_term,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,6000,6000,6000.0,36 months,206.44,C,C2,Manager,10+ years,RENT,55000.0,Verified,2018-12-01,Charged Off,n,credit_card,Credit card refinancing,104xx,NY,10.65,0,2006-06-01,0,NaN,NaN,6,0,4196,91.2%,8,w,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,2019-04-01,206.44,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,12514,0,2,1,1,9.0,8318,74.0,1,1,2807,79.0,4600,1,0,2,2,2086.0,344.0,92.0,0,0,33.0,150,9,9,0,9.0,NaN,9.0,NaN,0,3,4,3,3,3,4,5,4,6,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Oct-2019,ACTIVE,Oct-2019,3479.0,60.01,24.0,14.47,2018,12,4566,36,0,4,2019
1,24000,24000,24000.0,36 months,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,1996-10-01,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,2019-12-01,778.14,Jan-2020,Nov-2019,0,57.0,1,Individual,NaN,NaN,NaN,0,0,273876,3,5,3,5,5.0,40384,66.0,2,4,4368,51.0,30900,8,0,8,9,19563.0,17353.0,33.0,0,0,266.0,178,4,4,3,4.0,39.0,1.0,39.0,1,5,5,6,8,15,7,9,5,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33,2018,12,8096,36,1,12,2019
2,30000,30000,30000.0,36 months,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,2007-05-01,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,2019-02-01,28382.51,NaN,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,51370,1,2,1,2,9.0,25616,71.0,2,3,9621,57.0,53600,0,2,1,5,6421.0,22030.0,47.0,0,0,123.0,139,3,3,3,3.0,NaN,3.0,NaN,0,4,6,4,5,11,6,9,6,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,15.02,2018,12,4232,36,1,2,2019
3,8000,8000,8000.0,36 months,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,2009-03-01,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,2019-12-01,269.48,Jan-2020,Dec-2019,0,73.0,1,Individual,NaN,NaN,NaN,0,0,247933,5,1,3,4,2.0,13716,98.0,4,5,8918,52.0,34300,2,0,7,10,35419.0,22866.0,33.3,0,0,13.0,117,6,2,1,6.0,73.0,2.0,73.0,1,3,3,5,15,4,5,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,2018,12,3562,36,1,12,2019
4,22400,22400,22400.0,60 months,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,234xx,VA,18.47,0,2004-12-01,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,2019-12-01,546.40,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,217072,0,3,1,1,7.0,18515,79.0,1,1,5789,55.0,35500,1,0,4,2,14471.0,15054.0,46.6,0,0,113.0,168,7,7,5,36.0,NaN,5.0,NaN,0,5,7,8,8,5,11,12,7,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,2018,12,5113,60,1,12,2019

In [118]:
df['revol_util'].isnull().sum()

156

In [0]:
df['revol_util'].ffill(inplace=True)

In [120]:
df['revol_util'].isnull().sum()

0

In [121]:
df['revol_util'][3]

'33.3%'

In [0]:
df['revol_util'] = df['revol_util'].str.strip('%')

In [123]:
df['revol_util'].value_counts()

0        1135
43        225
49        222
39.1      220
32        218
         ...
104.4       1
103.6       1
132.6       1
108.8       1
102.1       1
Name: revol_util, Length: 1074, dtype: int64

In [0]:
df['revol_util'] = df['revol_util'].astype(float,copy=True)

In [125]:
df.select_dtypes(include=['int','float'])

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term,int_rate_float,issue_year,issue_month,days_from_earliest_credit_to_issue,int_term,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,6000,6000,6000.0,206.44,55000.0,10.65,0,0,NaN,NaN,6,0,4196,91.2,8,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,206.44,0,NaN,1,NaN,NaN,0,0,12514,0,2,1,1,9.0,8318,74.0,1,1,2807,79.0,4600,1,0,2,2,2086.0,344.0,92.0,0,0,33.0,150,9,9,0,9.0,NaN,9.0,NaN,0,3,4,3,3,3,4,5,4,6,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3479.0,60.01,24.0,14.47,2018,12,4566,36,0,4,2019
1,24000,24000,24000.0,778.14,100000.0,19.14,0,3,39.0,NaN,14,0,8547,27.7,28,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,778.14,0,57.0,1,NaN,NaN,0,0,273876,3,5,3,5,5.0,40384,66.0,2,4,4368,51.0,30900,8,0,8,9,19563.0,17353.0,33.0,0,0,266.0,178,4,4,3,4.0,39.0,1.0,39.0,1,5,5,6,8,15,7,9,5,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.33,2018,12,8096,36,1,12,2019
2,30000,30000,30000.0,1040.26,90000.0,22.23,0,1,NaN,NaN,8,0,25754,48.0,23,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,28382.51,0,NaN,1,NaN,NaN,0,0,51370,1,2,1,2,9.0,25616,71.0,2,3,9621,57.0,53600,0,2,1,5,6421.0,22030.0,47.0,0,0,123.0,139,3,3,3,3.0,NaN,3.0,NaN,0,4,6,4,5,11,6,9,6,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.02,2018,12,4232,36,1,2,2019
3,8000,8000,8000.0,269.48,95000.0,9.44,0,2,73.0,NaN,7,0,11434,33.3,20,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,269.48,0,73.0,1,NaN,NaN,0,0,247933,5,1,3,4,2.0,13716,98.0,4,5,8918,52.0,34300,2,0,7,10,35419.0,22866.0,33.3,0,0,13.0,117,6,2,1,6.0,73.0,2.0,73.0,1,3,3,5,15,4,5,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.98,2018,12,3562,36,1,12,2019
4,22400,22400,22400.0,546.40,56000.0,18.47,0,0,75.0,NaN,15,0,13555,38.2,22,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,546.40,0,NaN,1,NaN,NaN,0,0,217072,0,3,1,1,7.0,18515,79.0,1,1,5789,55.0,35500,1,0,4,2,14471.0,15054.0,46.6,0,0,113.0,168,7,7,5,36.0,NaN,5.0,NaN,0,5,7,8,8,5,11,12,7,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.14,2018,12,5113,60,1,12,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128392,23000,23000,23000.0,797.53,75000.0,20.95,1,2,22.0,NaN,12,0,22465,43.6,28,0.00,0.00,1547.080000,1547.08,1025.67,521.41,0.0,0.0,0.00,797.53,0,NaN,1,NaN,NaN,0,0,259658,4,2,3,3,6.0,18149,86.0,4,6,12843,56.0,51500,2,2,5,11,21638.0,26321.0,44.1,0,0,12.0,397,4,4,6,5.0,22.0,4.0,22.0,0,4,5,7,14,3,9,19,5,12,0.0,0,0,7,96.4,14.3,0,0,296500,40614,47100,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.02,2018,10,12114,36,0,12,2018
128393,10000,10000,10000.0,346.76,38000.0,13.16,3,0,6.0,NaN,11,0,5634,37.1,16,6632.21,6632.21,4846.300000,4846.30,3367.79,1478.51,0.0,0.0,0.00,346.76,0,NaN,1,NaN,NaN,0,155,77424,0,1,0,0,34.0,200,10.0,1,1,1866,42.0,15200,2,0,0,2,7039.0,4537.0,50.1,0,0,34.0,434,11,11,3,11.0,6.0,17.0,6.0,0,3,5,5,6,1,8,11,5,11,0.0,0,0,1,73.3,40.0,0,0,91403,9323,9100,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.02,2018,10,13241,36,1,12,2019
128394,5000,5000,5000.0,169.83,35360.0,11.30,1,0,21.0,NaN,9,0,2597,27.3,15,3291.41,3291.41,2373.850000,2373.85,1708.59,665.26,0.0,0.0,0.00,169.83,0,NaN,1,NaN,NaN,0,1413,69785,0,2,0,1,16.0,2379,40.0,3,4,1826,32.0,9500,0,0,1,5,8723.0,1174.0,60.9,0,0,147.0,85,9,9,2,10.0,21.0,9.0,21.0,0,1,3,2,2,6,6,7,3,9,0.0,0,0,3,92.9,50.0,0,0,93908,4976,3000,6028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.56,2018,10,4505,36,1,12,2019
128395,10000,10000,9750.0,327.68,44400.0,11.78,0,2,40.0,NaN,15,0,6269,13.1,25,6497.81,6335.37,4572.160000,4457.86,3502.19,1069.97,0.0,0.0,0.00,327.68,0,53.0,1,NaN,NaN,0,520,16440,3,1,1,1,2.0,10171,100.0,2,5,404,28.0,47700,0,3,5,6,1265.0,20037.0,2.3,0,0,61.0,119,1,1,0,1.0,NaN,1.0,40.0,1,2,4,6,8,3,14,22,4,15,0.0,0,0,3,92.0,0.0,0,0,57871,16440,20500,10171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.06,2018,10,3652,36,1,12,2019
128396,10000,10000,10000.0,356.08,80000.0,17.72,1,0,14.0,NaN,17,0,1942,30.8,31,6695.63,6695.63,4975.730000,4975.73,3304.37,1671.36,0.0,0.0,0.00,356.08,0,25.0,1,NaN,NaN,0,0,59194,0,15,1,1,12.0,57252,85.0,0,0,1942,80.0,6300,0,5,0,1,3482.0,2058.0,48.5,0,0,144.0,142,40,12,0,131.0,30.0,NaN,30.0,3,1,1,1,5,22,2,9,1,17,0.0,0,0,1,74.2,0.0,0,0,73669,59194,4000,67369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.91,2018,10,4413,36,1,12,2019

In [0]:
# df['revol_util'] = pd.to_numeric(df['revol_util'],downcast='float')

In [127]:
df['revol_util'].dtypes

dtype('float64')

In [0]:
df.drop('term',axis=1,inplace=True)

In [129]:
df['emp_title'].isnull().sum()

0

In [130]:
df.shape

(128397, 146)

In [0]:
counts = df.emp_title.value_counts()

In [0]:
counts.shape

(34899,)

In [0]:
big20 = counts[:20]

In [0]:
big20

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [0]:
counts[20:] = 'OTHER'

In [0]:
counts.head(20)

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: object

In [0]:
counts.tail(1000)

Social Security Disability Specialist    OTHER
Salesrep                                 OTHER
Sustainable Agriculture Specialist       OTHER
Sr Software Configuration Specialist     OTHER
Repossession Agent                       OTHER
                                         ...
Graphic Designer/ Printer                OTHER
Ops Finance Controller                   OTHER
Customer Service Representative V        OTHER
Realestate Agent                         OTHER
Lubrication Specialist                   OTHER
Name: emp_title, Length: 1000, dtype: object

In [0]:
var_added = pd.DataFrame(counts)

In [0]:
print(var_added)

                                  emp_title
Unknown                               20942
Teacher                                2557
Manager                                2395
Registered Nurse                       1417
Driver                                 1258
...                                     ...
Graphic Designer/ Printer             OTHER
Ops Finance Controller                OTHER
Customer Service Representative V     OTHER
Realestate Agent                      OTHER
Lubrication Specialist                OTHER

[34899 rows x 1 columns]

In [0]:
var_added.head(21)

                         emp_title
Unknown                      20942
Teacher                       2557
Manager                       2395
Registered Nurse              1417
Driver                        1258
Supervisor                    1160
Truck Driver                   920
Rn                             834
Office Manager                 804
Sales                          803
General Manager                791
Project Manager                720
Owner                          625
Director                       523
Operations Manager             518
Sales Manager                  500
Police Officer                 440
Nurse                          424
Technician                     420
Engineer                       412
Administrative Assistant     OTHER

In [0]:
var_added.tail()

                                  emp_title
Graphic Designer/ Printer             OTHER
Ops Finance Controller                OTHER
Customer Service Representative V     OTHER
Realestate Agent                      OTHER
Lubrication Specialist                OTHER

In [0]:
dfinalplz= df.append(var_added,ignore_index=True,sort=False)

In [0]:
dfinalplz.emp_title

0                         Manager
1             Maintenance Manager
2                     Firefighter
3                      Controller
4         Paramedic/ Fire Fighter
                   ...
163291                      OTHER
163292                      OTHER
163293                      OTHER
163294                      OTHER
163295                      OTHER
Name: emp_title, Length: 163296, dtype: object

In [0]:
dfinalplz

        loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0          6000.0       6000.0  ...                  60.01            24.0
1         24000.0      24000.0  ...                    NaN             NaN
2         30000.0      30000.0  ...                    NaN             NaN
3          8000.0       8000.0  ...                    NaN             NaN
4         22400.0      22400.0  ...                    NaN             NaN
...           ...          ...  ...                    ...             ...
163291        NaN          NaN  ...                    NaN             NaN
163292        NaN          NaN  ...                    NaN             NaN
163293        NaN          NaN  ...                    NaN             NaN
163294        NaN          NaN  ...                    NaN             NaN
163295        NaN          NaN  ...                    NaN             NaN

[163296 rows x 140 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data