<a href="https://colab.research.google.com/github/jdblackstar/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/112A_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd

# bash command to pull the csv from a url
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-10 23:37:52--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.71M   814KB/s    in 28s

2020-03-10 23:38:20 (806 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22763850]

In [0]:
# uncompress the file into colab storage
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
# read_csv to place the csv into a dataframe, used skiprows and skipfooter
# to eliminate the weird first row and last 2 rows

df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

# print the shape of the dataframe to see the number of entries
# display the head to quickly see if anything went wrong

print(df.shape)
df.head()

(128284, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
df['term'].describe

<bound method NDFrame.describe of 0          60 months
1          36 months
2          36 months
3          60 months
4          60 months
             ...
128279     36 months
128280     36 months
128281     36 months
128282     36 months
128283     36 months
Name: term, Length: 128284, dtype: object>

In [0]:
# replicating the dr.drop function to get rid of all the privacy-concerned
# information in the dataset

df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       6500         6500  ...                    NaN             NaN
2       4500         4500  ...                    NaN             NaN
3      25000        25000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
# define the int_rate_to_float function to strip the leading space and
# extemporaneous % sign

def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [0]:
# call the int_rate_to_float function and write it over the
# existing int_rate series

df['int_rate'] = df['int_rate'].apply(int_rate_to_float)

df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       6500         6500  ...                    NaN             NaN
2       4500         4500  ...                    NaN             NaN
3      25000        25000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
# Test the 'cleanliness' of the column

# print(df['term'][0])
# print(df['term'][1])

# df['term'].value_counts(dropna=False).head()

# Since there are only 2 outputs, we know that every entry must have a 
# leading space, but every value in 'term' is already an int... so
# let's strip the leading space ' ' and ' months' using our
# old int_rate function but changing it a bit

df['term'] = df['term'].str.strip('months').astype(int)

In [0]:
# check dtype of term

df['term'].dtype

dtype('int64')

In [0]:
# double checking to make sure that everything looks good

df['term']

0         60
1         36
2         36
3         60
4         60
          ..
128279    36
128280    36
128281    36
128282    36
128283    36
Name: term, Length: 128284, dtype: int64

In [0]:
# create a function that returns 1 if a loan is marked as either 'fully paid'
# or 'current', then run it on df['loan_status']

def loan_is_greater(status):
  if status == 'Fully Paid' or status == 'Current':
    return 1
  else:
    return 0
df['loan_status_is_great'] = df['loan_status'].apply(loan_is_greater)

# check to make sure it didn't fuck up
df['loan_status_is_great'].head()

0    1
1    1
2    1
3    0
4    1
Name: loan_status_is_great, dtype: int64

In [0]:
# make a series called df['last_pymnt_dt'] that mimics df['last_pymnt_d']
# except as a datetime64 instead of int

df['last_pymnt_dt'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

# check to make sure that it looks good

df['last_pymnt_dt']

0        2019-05-01
1        2020-02-01
2        2019-02-01
3        2019-10-01
4        2020-02-01
            ...
128279   2018-12-01
128280   2020-02-01
128281   2020-02-01
128282   2020-02-01
128283   2020-02-01
Name: last_pymnt_dt, Length: 128284, dtype: datetime64[ns]

In [0]:
# create the 2 columns pointing to our new payment variable

df['last_pymnt_d_month'] = df['last_pymnt_dt'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_dt'].dt.year

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01