<a href="https://colab.research.google.com/github/ekselan/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/Copy_of_LS_DS14_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [4]:
##### Begin Working Here #####
# Heads up I'm having trouble for some reason getting ''' to change my text into
# comments, and keep getting strings haha - Please remind me to ask you about
# that on our review! Thanks!

import pandas as pd

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-10 20:42:02--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [             <=>    ]  21.71M  1.90MB/s    in 12s

2020-03-10 20:42:14 (1.80 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22763850]

In [5]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [47]:
pd.set_option('display.max_rows', 200)

df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

print (df.shape)
df.head(10)
# Initial cleanup on the df, set max rows to 200

(128284, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN
5 NaN        NaN  ...                    NaN              NaN
6 NaN        NaN  ...                    NaN              NaN
7 NaN        NaN  ...                    NaN              NaN
8 NaN        NaN  ...                    NaN              NaN
9 NaN        NaN  ...                    NaN              NaN

[10 rows x 144 columns]

In [48]:
df = df.drop(['url','member_id','desc','id'],axis=1)

print(df.shape)
df.head(10)
# Additional cleanup to remove NaN columns

(128284, 140)

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       6500         6500  ...                    NaN             NaN
2       4500         4500  ...                    NaN             NaN
3      25000        25000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN
5      10000        10000  ...                    NaN             NaN
6      25000        25000  ...                    NaN             NaN
7       3000         3000  ...                    NaN             NaN
8       1250         1250  ...                    NaN             NaN
9       7000         7000  ...                    NaN             NaN

[10 rows x 140 columns]

In [49]:
# Convert the term column from string to integer

df['term'].isnull().sum()
# Initial check for cleanliness

0

In [50]:
df['term'].head()

0     60 months
1     36 months
2     36 months
3     60 months
4     60 months
Name: term, dtype: object

In [51]:
df['term'][0]

# Spotted some extrawhite space ...

' 60 months'

In [52]:
# I'll create a function to remove it

def term_cleanup (cell):
  return cell.strip()

a = ' 60 months'
term_cleanup(a)

'60 months'

In [53]:
# And apply the function

df['term'] = df['term'].apply(term_cleanup)

df['term'][27]

'36 months'

In [54]:
# Now to change to integer ...
# Used .astype() function to achieve, had to research proper syntax and 
# discovered != serves as a logical operator to replace what some if statements
# might have done. I'm still a bit cloudy though and could use some help on 
# how to pull up/find the documentation for that sort of thing - I read the
# documentation on .astype() but it didn't say anything about the paremeters ...
# So in other words, I don't completely understand how this != is doing its
# thing ...

df['term'] = (df['term'] !='60 months').astype(int)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage  settlement_term
0      10000        10000  ...                    NaN              NaN
1       6500         6500  ...                    NaN              NaN
2       4500         4500  ...                    NaN              NaN
3      25000        25000  ...                    NaN              NaN
4      30000        30000  ...                    NaN              NaN

[5 rows x 140 columns]

In [55]:
df['term'].head(10)

# Confirmed term values now changed to integers

0    0
1    1
2    1
3    0
4    0
5    1
6    0
7    1
8    1
9    1
Name: term, dtype: int64

In [88]:
# Make a column named loan_status_is_great. It should contain the integer 1 if 
# loan_status is "Current" or "Fully Paid." Else it should contain the integer 0

def loan_type (value):
  if value == 'Current' or value == 'Fully Paid':
    return 1
  else:
    return 0
    
df['loan_status_is_great'] = df['loan_status'].apply(loan_type)

df['loan_status_is_great'].head()

0    1
1    1
2    1
3    0
4    1
Name: loan_status_is_great, dtype: int64

In [96]:
# Confirmed column is added and looks appropriate

df_loans = df[['loan_status','loan_status_is_great']].copy()

df_loans.head(50)

           loan_status  loan_status_is_great
0           Fully Paid                     1
1              Current                     1
2           Fully Paid                     1
3   Late (31-120 days)                     0
4              Current                     1
5              Current                     1
6              Current                     1
7              Current                     1
8           Fully Paid                     1
9           Fully Paid                     1
10             Current                     1
11          Fully Paid                     1
12             Current                     1
13             Current                     1
14          Fully Paid                     1
15          Fully Paid                     1
16          Fully Paid                     1
17             Current                     1
18             Current                     1
19             Current                     1
20          Fully Paid                     1
21         Charged Off                     0
22          Fully Paid                     1
23             Current                     1
24             Current                     1
25             Current                     1
26          Fully Paid                     1
27             Current                     1
28          Fully Paid                     1
29          Fully Paid                     1
30             Current                     1
31             Current                     1
32          Fully Paid                     1
33          Fully Paid                     1
34             Current                     1
35          Fully Paid                     1
36         Charged Off                     0
37             Current                     1
38             Current                     1
39          Fully Paid                     1
40  Late (31-120 days)                     0
41             Current                     1
42             Current                     1
43          Fully Paid                     1
44         Charged Off                     0
45             Current                     1
46             Current                     1
47         Charged Off                     0
48             Current                     1
49          Fully Paid                     1

In [99]:
# Make last_pymnt_d_month and last_pymnt_d_year columns

# Start with changing 'last_pymnt_d' to datetime

df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

df['last_pymnt_d'].describe

<bound method NDFrame.describe of 0        2019-05-01
1        2020-02-01
2        2019-02-01
3        2019-10-01
4        2020-02-01
            ...
128279   2018-12-01
128280   2020-02-01
128281   2020-02-01
128282   2020-02-01
128283   2020-02-01
Name: last_pymnt_d, Length: 128284, dtype: datetime64[ns]>

In [101]:
# Now to determine month and year, and assign them to new columns

df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

df.head(10)

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0      10000        10000  ...                 5.0             2019.0
1       6500         6500  ...                 2.0             2020.0
2       4500         4500  ...                 2.0             2019.0
3      25000        25000  ...                10.0             2019.0
4      30000        30000  ...                 2.0             2020.0
5      10000        10000  ...                 2.0             2020.0
6      25000        25000  ...                 2.0             2020.0
7       3000         3000  ...                 2.0             2020.0
8       1250         1250  ...                12.0             2019.0
9       7000         7000  ...                 7.0             2019.0

[10 rows x 143 columns]

In [104]:
df_pymnt = df[['last_pymnt_d','last_pymnt_d_month','last_pymnt_d_year']].copy()

df_pymnt.head()

# Confirmed column added and showing correct month and year values, but noticed
# I'm getting floats - why? Is that appropriate?

  last_pymnt_d  last_pymnt_d_month  last_pymnt_d_year
0   2019-05-01                 5.0             2019.0
1   2020-02-01                 2.0             2020.0
2   2019-02-01                 2.0             2019.0
3   2019-10-01                10.0             2019.0
4   2020-02-01                 2.0             2020.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01