<a href="https://colab.research.google.com/github/nedprz/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/Edward_Przezdziecki_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [5]:
import pandas as pd 

#Pandas Disp
pd.set_option('display.max_rows',150)
pd.set_option('display.max_rows',100)



# Lets take a look at the Ames Iowa Housing Dataset:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

print(df.shape)
df.head()

(1460, 81)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [6]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [7]:
df['BedroomAbvGr']

0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1460, dtype: int64

In [8]:
df['LotFrontage']

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [9]:
df['LotFrontage'].value_counts()

60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 110, dtype: int64

In [10]:
df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64

In [11]:
import numpy as np

type(np.NaN)

float

In [12]:
df_small = df_small = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']]

df_small

      TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0             856       856       854     208500
1            1262      1262         0     181500
2             920       920       866     223500
3             756       961       756     140000
4            1145      1145      1053     250000
...           ...       ...       ...        ...
1455          953       953       694     175000
1456         1542      2073         0     210000
1457         1152      1188      1152     266500
1458         1078      1078         0     142125
1459         1256      1256         0     147500

[1460 rows x 4 columns]

In [13]:
df_small.TotalBsmtSF

0        856
1       1262
2        920
3        756
4       1145
        ...
1455     953
1456    1542
1457    1152
1458    1078
1459    1256
Name: TotalBsmtSF, Length: 1460, dtype: int64

In [14]:
df_small['TotalBsmtSF']

0        856
1       1262
2        920
3        756
4       1145
        ...
1455     953
1456    1542
1457    1152
1458    1078
1459    1256
Name: TotalBsmtSF, Length: 1460, dtype: int64

In [15]:
df_small['TotalSquareFootage'] = df_small['TotalBsmtSF'] + df_small['1stFlrSF'] + df_small['2ndFlrSF']

df_small

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage
0             856       856       854     208500                2566
1            1262      1262         0     181500                2524
2             920       920       866     223500                2706
3             756       961       756     140000                2473
4            1145      1145      1053     250000                3343
...           ...       ...       ...        ...                 ...
1455          953       953       694     175000                2600
1456         1542      2073         0     210000                3615
1457         1152      1188      1152     266500                3492
1458         1078      1078         0     142125                2156
1459         1256      1256         0     147500                2512

[1460 rows x 5 columns]

In [16]:
df_small['PricePerSqFt'] = df_small['SalePrice']/df_small['TotalSquareFootage']
df_small

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      TotalBsmtSF  1stFlrSF  ...  TotalSquareFootage  PricePerSqFt
0             856       856  ...                2566     81.254871
1            1262      1262  ...                2524     71.909667
2             920       920  ...                2706     82.594235
3             756       961  ...                2473     56.611403
4            1145      1145  ...                3343     74.783129
...           ...       ...  ...                 ...           ...
1455          953       953  ...                2600     67.307692
1456         1542      2073  ...                3615     58.091286
1457         1152      1188  ...                3492     76.317297
1458         1078      1078  ...                2156     65.920686
1459         1256      1256  ...                2512     58.718153

[1460 rows x 6 columns]

In [0]:
### Work with strings with pandas

In [18]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-04-08 17:57:32--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.69.167.66, 52.32.57.66, 50.112.132.61
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.69.167.66|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [            <=>     ]  21.77M  2.05MB/s    in 11s

2020-04-08 17:57:44 (1.91 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22826918]

In [19]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [20]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","35000","35000","35000"," 36 months"," 14.47%","1204.23","C","C2","Staff Physician","8 years","MORTGAGE","360000","Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","336xx","FL","19.9","0","Apr-1995","1","","","24","0","57259","43.2%","51","w","0.00","0.00","38187.0468373662","38187.05","35000.00","3187.05","0.0","0.0","0.0","Aug-2019","29882.16","","Sep-2019","0","","1","Individual","","","","0","0","828060","0","6","1","2","9","112027","29","4","8","19118","36","132400","3","2","5","11","34503","67341","46","0","0","173","284","8","8","3","8","","0","","0","11","11","13","20","23","16","24","11","24","0","0","0","5","100","30.8","0","0","1222051","169286","124600","258401","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 22.35%","191.86","D","D5","Director of Sales","10+ years","MORTGAGE","72000","Source Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","333xx","FL","20.12","0","Mar-2010","0","","","13","0","11720","47.1%","26","f","0.00","0.00","5615.9776735688","5615.98","5000.00","615.98","0.0","0.0","0.0","Jul-2019","4474.13","","Aug-2019","0","","1","Individual","","","","0","534","189279","0","1","0","1","18","22698","","0","0","4056","47","24900","1","0","1","2","14560","8163","55.1","0","0","105","90","29","8","5","40","","9","","0","6","11","6","8","4","11","17","11","13","0","0","0","1","100","50","0","0","218686","34418","18200","37786","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 60 months"," 23.40%","284.21","E","E1","","< 1 year","RENT","55000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","902xx","CA","13.51","0","Apr-2007","0","44","88","9","1","11859","53.9%","11","w","8462.43","8462.43","4243.65","4243.65","1537.57","2706.08","0.0","0.0","0.0","Mar-2020","284.21","Apr-2020","Mar-2020","0","","1","Individual","","","","0","0","21235","0","1","0","1","20","9376","76","0","3","3122","62","22000","1","0","0","4","2359","1119","89.3","0","0","140","140","13","13","0","13","","15","44","0","4","7","4","5","2","8","9","7","9","0","0","0","0","90.9","100","1","0","34386","21235","10500","12386","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","17100","17100","17100"," 36 months"," 18.94%","626.3","D","D2","Receptionist ","10+ years","RENT","38000","Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","150xx","PA","38.09","0","Mar-1998","1","47","","14","0","15323","53%","21","w","11120.22","11120.22","9367.51","9367.51","5979.78","3387.73","0.0","0.0","0.0","Mar-2020","626.3","Apr-2020","Mar-2020","0","","1","Individual","","","","0","0","43351","1","2","1","1","10","28028","67","1","5","7533","53","29170","0","0","2","6","3096","4150","77","0","0","125","230","5","5","2","5","","5","","0","4","12","5","5","5","12","14","9","14","","0","0","2","95","75","0","0","70954","43351","16600","41784","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 10.72%","130.43","B","B2","Extrusion assistant ","10+ years","MORTGAGE","56000","Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","301xx","GA","31.03","0","Sep-2006","0","","","7","0","4518","28.6%","11","w","2487.19","2487.19","1943.36","1943.36","1512.81","430.55","0.0","0.0","0.0","Mar-2020","130.43","Apr-2020","Mar-2020","1","","1","Individual","","","","0","136","192983","0","2","0","2","14","66857","","0","3","1608","29","15800","3","0","0","5","27569","7835","36.3","0","0","147","29","22","14","1","22","","17","","0","3","4","3","3","6","4","4","4","7","0","0","0","0","100","0","0","0","221310","71375","12300","77865","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10475","10475","10475"," 36 months"," 11.31%","344.48","B","B3","Teacher","6 years","RENT","66150","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","786xx","TX","7.4","0","Jun-1991","0","28","","10","0","10499","40.2%","17","w","6535.06","6535.06","5157.33","5157.33","3939.94","1217.39","0.0","0.0","0.0","Mar-2020","344.48","Apr-2020","Mar-2020","0","","1","Individual","","","","0","0","10499","1","0","0","0","84","0","","3","5","3841","40","26100","2","1","5","5","1312","14847","36.8","0","0","88","330","3","3","2","7","","1","28","0","5","8","7","8","2","10","13","8","10","0","0","0","3","88.2","60","0","0","26100","10499","23500","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","7500","7500","7500"," 36 months"," 11.31%","246.65","B","B3","Supervisor","7 years","MORTGAGE","40500","Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","604xx","IL","31.61","0","Sep-1996","1","","","23","0","14218","16.3%","33","w","4862.42","4862.42","3508.34","3508.34","2637.58","855.76","15.0","0.0","0.0","Mar-2020","1016.6","Apr-2020","Mar-2020","0","","1","Individual","","","","0","0","123779","3","2","1","1","12","8096","29","3","6","2972","19","87000","0","0","2","7","5626","21078","23.9","0","0","59","267","1","1","1","6","","6","","0","4","6","7","10","2","20","30","6","23","0","0","0","4","100","0","0","0","221569","22314","27700","28409","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3600","3600","3600"," 36 months"," 11.80%","119.23","B","B4","Analyst","5 years","MORTGAGE","50000","Source Verified","Dec-2018","Fully Paid","n","","","other","Other","427xx","KY","16.11","0","Jan-2002","2","","","10","0","5865","17.4%","17","w","0.00","0.00","4004.1696442235","4004.17","3600.00","404.17","0.0","0.0","0.0","Feb-2020","2678.48","","Mar-2020","0","","1","Individual","","","","0","0","243415","3","3","1","2","3","68184","95","1","3","0","53","33700","2","1","10","6","24342","17300","0","0","0","203","198","4","3","1","18","","3","","1","0","1","4","6","6","6","10","1","10","0","0","0","3","93.8","0","0","0","272629","74049","17300","68929","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [21]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","3235.65","3235.65","3223.02","3223.02","2364.35","858.67","0.0","0.0","0.0","Mar-2020","190.21","Apr-2020","Mar-2020","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","5831.03","5831.03","5886.58","5886.58","4168.97","1717.61","0.0","0.0","0.0","Mar-2020","346.76","Apr-2020","Mar-2020","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","2888.98","2888.98","2883.34","2883.34","2111.02","772.32","0.0","0.0","0.0","Mar-2020","169.83","Apr-2020","Mar-2020","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","5687.01","5544.84","5555.2","5416.32","4312.99","1242.21","0.0","0.0","0.0","Mar-2020","327.68","Apr-2020","Mar-2020","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","5899.34","5899.34","6043.97","6043.97","4100.66","1943.31","0.0","0.0","0.0","Mar-2020","356.08","Apr-2020","Mar-2020","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

In [22]:
# read csv

df = pd.read_csv('LoanStats_2018Q4.csv', header=1)

print(df.shape)
df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128414, 144)

                                                      id  ...  settlement_term
0                                                    NaN  ...              NaN
1                                                    NaN  ...              NaN
2                                                    NaN  ...              NaN
3                                                    NaN  ...              NaN
4                                                    NaN  ...              NaN
...                                                  ...  ...              ...
128409                                               NaN  ...              NaN
128410                                               NaN  ...              NaN
128411                                               NaN  ...              NaN
128412  Total amount funded in policy code 1: 2050909275  ...              NaN
128413   Total amount funded in policy code 2: 820109297  ...              NaN

[128414 rows x 144 columns]

In [23]:
#sum null values by column and sort from least to greatest

df.isnull().sum().sort_values()

inq_fi                                             2
delinq_amnt                                        2
chargeoff_within_12_mths                           2
acc_open_past_24mths                               2
inq_last_12m                                       2
                                               ...
orig_projected_additional_accrued_interest    128155
id                                            128412
url                                           128414
member_id                                     128414
desc                                          128414
Length: 144, dtype: int64

In [24]:

#fix footer problem 

df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1,skipfooter=2)
print(df.shape)
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

(128412, 144)

        id  member_id  ...  settlement_percentage  settlement_term
0      NaN        NaN  ...                    NaN              NaN
1      NaN        NaN  ...                    NaN              NaN
2      NaN        NaN  ...                    NaN              NaN
3      NaN        NaN  ...                    NaN              NaN
4      NaN        NaN  ...                    NaN              NaN
...     ..        ...  ...                    ...              ...
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[128412 rows x 144 columns]

In [25]:
df.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [26]:
df = df.drop(['url', 'member_id', 'id','desc'],axis=1)
df

        loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0           35000        35000  ...                    NaN             NaN
1            5000         5000  ...                    NaN             NaN
2           10000        10000  ...                    NaN             NaN
3           17100        17100  ...                    NaN             NaN
4            4000         4000  ...                    NaN             NaN
...           ...          ...  ...                    ...             ...
128407      23000        23000  ...                    NaN             NaN
128408      10000        10000  ...                    NaN             NaN
128409       5000         5000  ...                    NaN             NaN
128410      10000        10000  ...                    NaN             NaN
128411      10000        10000  ...                    NaN             NaN

[128412 rows x 140 columns]

In [27]:
df['int_rate'].head(10)

0     14.47%
1     22.35%
2     23.40%
3     18.94%
4     10.72%
5     11.31%
6     11.31%
7     11.80%
8     11.80%
9     18.94%
Name: int_rate, dtype: object

In [28]:
df['int_rate'][0]

' 14.47%'

In [0]:
int_rate =" 16.57%"

In [30]:
int_rate.strip("%")

' 16.57'

In [31]:
#chaining functions to strip space and %
int_rate.strip().strip("%")

'16.57'

In [32]:
#same but casts to float
float(int_rate.strip().strip("%"))

16.57

In [0]:
def int_rate_to_float(dirty_int_rate):
  return float(dirty_int_rate.strip().strip("%"))

In [34]:
int_rate_to_float(int_rate)

16.57

In [35]:
int_rate_to_float(" 15.69")

15.69

In [36]:
my_int_rate_var=' 12.11%'
int_rate_to_float(my_int_rate_var)

12.11

In [37]:
#check datatype

type(int_rate_to_float(int_rate))

float

In [0]:
#apply solution to every cell in column

In [39]:
df['int_rate'].head()

0     14.47%
1     22.35%
2     23.40%
3     18.94%
4     10.72%
Name: int_rate, dtype: object

In [40]:
int_rates=[' 16.57%', ' 16.52%', ' 16.58%', ' 16.41%', ' 15.47%']
clean_int_rates=[]
for int_rate in int_rates:
  clean_int_rates.append(int_rate_to_float(int_rate))

clean_int_rates

[16.57, 16.52, 16.58, 16.41, 15.47]

In [41]:
clean_int_rates=pd.Series(clean_int_rates)

clean_int_rates

0    16.57
1    16.52
2    16.58
3    16.41
4    15.47
dtype: float64

In [0]:
# the apply function

In [43]:
# you pass the apply function another function

df['int_rate_cleaned'] = df['int_rate'].apply(int_rate_to_float)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0      35000        35000  ...              NaN            14.47
1       5000         5000  ...              NaN            22.35
2      10000        10000  ...              NaN            23.40
3      17100        17100  ...              NaN            18.94
4       4000         4000  ...              NaN            10.72

[5 rows x 141 columns]

In [44]:
df.dtypes.tail()

settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
int_rate_cleaned         float64
dtype: object

In [0]:
#challenge

In [46]:
# Look at the top 20 employment titles
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [47]:
#how many different unique employment titles are there curently?
df['emp_title'].nunique()

43892

In [48]:
len(df['emp_title'].value_counts())

43892

In [49]:
# How often is the employment_title null?
df['emp_title'].isnull().sum()

20947

In [0]:
#creates example of class to clean up
import numpy as np

examples = ['owner', 'supervisor', 'Project',np.NaN]

In [51]:
def clean_emp_title(title):
  if isinstance(title,str):
    return title.strip().title()
  else:
    return "Unknown"

for example in examples:
  print(clean_emp_title(example))

Owner
Supervisor
Project
Unknown

In [52]:
[clean_emp_title(title) for title in examples]

['Owner', 'Supervisor', 'Project', 'Unknown']

In [53]:
df['emp_title'].head(10)

0                        Staff Physician
1                      Director of Sales
2                                    NaN
3                          Receptionist
4                   Extrusion assistant
5                                Teacher
6                             Supervisor
7                                Analyst
8    Corporate Communications Strategist
9                        Project Manager
Name: emp_title, dtype: object

In [54]:
df['emp_title'].apply(clean_emp_title).head(10)

0                        Staff Physician
1                      Director Of Sales
2                                Unknown
3                           Receptionist
4                    Extrusion Assistant
5                                Teacher
6                             Supervisor
7                                Analyst
8    Corporate Communications Strategist
9                        Project Manager
Name: emp_title, dtype: object

In [55]:
df['emp_title'] = df['emp_title'].apply(clean_emp_title)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0      35000        35000  ...              NaN            14.47
1       5000         5000  ...              NaN            22.35
2      10000        10000  ...              NaN            23.40
3      17100        17100  ...              NaN            18.94
4       4000         4000  ...              NaN            10.72

[5 rows x 141 columns]

In [56]:
#Look at the top 20 employment titles

df['emp_title'].value_counts().head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [57]:
df['emp_title'].value_counts().head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [58]:
df['emp_title'].nunique()

34902

In [59]:
df['emp_title'].isnull().sum()

0

In [0]:
#Dates and Times

In [61]:
[col for col in df if col.endswith('_d')] 
#if it ends with underscore d it refers to a date

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [62]:
df['issue_d']

0         Dec-2018
1         Dec-2018
2         Dec-2018
3         Dec-2018
4         Dec-2018
            ...
128407    Oct-2018
128408    Oct-2018
128409    Oct-2018
128410    Oct-2018
128411    Oct-2018
Name: issue_d, Length: 128412, dtype: object

In [63]:
df['issue_d'].value_counts()

Oct-2018    46305
Nov-2018    41973
Dec-2018    40134
Name: issue_d, dtype: int64

In [64]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df['issue_d']

0        2018-12-01
1        2018-12-01
2        2018-12-01
3        2018-12-01
4        2018-12-01
            ...
128407   2018-10-01
128408   2018-10-01
128409   2018-10-01
128410   2018-10-01
128411   2018-10-01
Name: issue_d, Length: 128412, dtype: datetime64[ns]

In [65]:
df['issue_d'][0]

Timestamp('2018-12-01 00:00:00')

In [66]:
df.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

In [67]:
df['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128407    2018
128408    2018
128409    2018
128410    2018
128411    2018
Name: issue_d, Length: 128412, dtype: int64

In [68]:
df['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128407    10
128408    10
128409    10
128410    10
128411    10
Name: issue_d, Length: 128412, dtype: int64

In [69]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0      35000        35000  ...        2018          12
1       5000         5000  ...        2018          12
2      10000        10000  ...        2018          12
3      17100        17100  ...        2018          12
4       4000         4000  ...        2018          12

[5 rows x 143 columns]

In [70]:
df.dtypes[-5:]

settlement_percentage    float64
settlement_term          float64
int_rate_cleaned         float64
issue_year                 int64
issue_month                int64
dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [72]:
df['earliest_cr_line'].head()

0   1995-04-01
1   2010-03-01
2   2007-04-01
3   1998-03-01
4   2006-09-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [73]:
(df['issue_d'] - df['earliest_cr_line']).dt.days

0          8645
1          3197
2          4262
3          7580
4          4474
          ...
128407    12114
128408    13241
128409     4505
128410     3652
128411     4413
Length: 128412, dtype: int64

In [74]:
df['years_from_earliest_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days / 365

df.head()

   loan_amnt  funded_amnt  ...  issue_month years_from_earliest_credit_to_issue
0      35000        35000  ...           12                           23.684932
1       5000         5000  ...           12                            8.758904
2      10000        10000  ...           12                           11.676712
3      17100        17100  ...           12                           20.767123
4       4000         4000  ...           12                           12.257534

[5 rows x 144 columns]

In [75]:
df['years_from_earliest_credit_to_issue'].describe()

count    128412.000000
mean         16.054497
std           7.908317
min           3.084932
25%          11.093151
50%          14.427397
75%          19.846575
max          68.961644
Name: years_from_earliest_credit_to_issue, dtype: float64

In [0]:
#convert the term column from string to int


def convert_to_int(x):
  return int(x.strip().strip(" months"))

In [77]:
convert_to_int(" 36 months")

36

In [78]:
type(convert_to_int(" 36 months"))

int

In [0]:
df['term_cleaned']=df['term'].apply(convert_to_int)

In [0]:
#Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." 
#Else it should contain the integer 0.

In [0]:
def loan_status_checker(loan_status):
  if loan_status == 'Current' or loan_status == 'Fully Paid':
    return 1
  else:
    return 0

In [82]:
loan_status_checker('Fully Paid')
# check one of the conditions and it works

1

In [83]:
loan_status_checker('blah ')
#check something else and it doesnt work, good

0

In [0]:
# create and add on the new column loan_status_is_great

df['loan_status_is_great']=df['loan_status'].apply(loan_status_checker)

In [85]:
df
#check for new column and its there with some 0s and 1s

        loan_amnt  funded_amnt  ...  term_cleaned loan_status_is_great
0           35000        35000  ...            36                    1
1            5000         5000  ...            36                    1
2           10000        10000  ...            60                    1
3           17100        17100  ...            36                    1
4            4000         4000  ...            36                    1
...           ...          ...  ...           ...                  ...
128407      23000        23000  ...            36                    0
128408      10000        10000  ...            36                    1
128409       5000         5000  ...            36                    1
128410      10000        10000  ...            36                    1
128411      10000        10000  ...            36                    1

[128412 rows x 146 columns]

In [0]:
#Make last_pymnt_d_month and last_pymnt_d_year columns.

In [0]:
def find_last_pay_month(last_pymnt_d):
  if last_pymnt_d == np.NaN:
    return "Unknown"
  else:
    return pd.to_datetime((last_pymnt_d), infer_datetime_format=True).month

In [88]:
find_last_pay_month('Dec-2018')

12

In [105]:
import math
df['last_pymnt_d_month']=df['last_pymnt_d'].apply(find_last_pay_month).fillna(0).apply(math.floor)
df.head(5)

   loan_amnt  funded_amnt  ...  last_pymnt_d_month last_pymnt_d_year
0      35000        35000  ...                   8              2019
1       5000         5000  ...                   7              2019
2      10000        10000  ...                   3              2020
3      17100        17100  ...                   3              2020
4       4000         4000  ...                   3              2020

[5 rows x 148 columns]

In [0]:
def find_last_pay_year(last_pymnt_d):
  if last_pymnt_d == np.NaN:
    return "Unknown"
  else:
    return pd.to_datetime((last_pymnt_d), infer_datetime_format=True).year

In [96]:
find_last_pay_year('Oct-2020')

2020

In [104]:


df['last_pymnt_d_year']=df['last_pymnt_d'].apply(find_last_pay_year).fillna(0).apply(math.floor)

df.head(5)

   loan_amnt  funded_amnt  ...  last_pymnt_d_month last_pymnt_d_year
0      35000        35000  ...                 8.0              2019
1       5000         5000  ...                 7.0              2019
2      10000        10000  ...                 3.0              2020
3      17100        17100  ...                 3.0              2020
4       4000         4000  ...                 3.0              2020

[5 rows x 148 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01