<a href="https://colab.research.google.com/github/jacob-torres/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module-2-make-features/Jacob_Torres_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

## Iowa Housing Data

In [93]:
import pandas as pd

# Loading in the Iowa housing dataset
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [94]:
# Change pandas options to allow more rows and columns to be displayed
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

# Print the dataframe datatypes
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [95]:
# Check the first 5 values of BedroomAbvGr
df['BedroomAbvGr'].head()

0    3
1    3
2    3
3    3
4    4
Name: BedroomAbvGr, dtype: int64

In [96]:
# Check the first 10 values of the LotFrontage column
df['LotFrontage'].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [97]:
# Count and output all values in the LotFrontage column to see why the dtype is float
# Pass dropna=False to include null values in the count
df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
21.0      23
90.0      23
68.0      19
24.0      19
64.0      19
73.0      18
72.0      17
79.0      17
63.0      17
55.0      17
100.0     16
51.0      15
66.0      15
74.0      15
52.0      14
59.0      13
71.0      12
67.0      12
57.0      12
82.0      12
43.0      12
40.0      12
76.0      11
69.0      11
53.0      10
92.0      10
88.0      10
34.0      10
86.0      10
77.0       9
35.0       9
44.0       9
84.0       9
62.0       9
93.0       8
61.0       8
98.0       8
96.0       8
107.0      7
95.0       7
120.0      7
58.0       7
41.0       6
105.0      6
54.0       6
94.0       6
48.0       6
110.0      6
30.0       6
89.0       6
81.0       6
91.0       6
36.0       6
47.0       5
83.0       5
37.0       5
87.0       5
32.0       5
56.0       5
102.0      4
42.0       4
49.0       4
99.0       3
45.0       3
104.0      3
130.0      3
103.0      3
108.0      3
124.0      2
174.0      2
97.0       2
134.0      2
129.0      2
313.0      2
118.0      2
122.0      2
121.0      2
101.0      2
109.0      2
115.0      2
116.0      2
114.0      2
153.0      1
149.0      1
150.0      1
111.0      1
182.0      1
46.0       1
112.0      1
141.0      1
33.0       1
152.0      1
160.0      1
168.0      1
128.0      1
144.0      1
39.0       1
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, dtype: int64

In [98]:
import numpy as np

# Check the datatype of NaN
type(np.NaN)

float

In [99]:
# Create a small dataframe to isolate a few features
small_df = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']]
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [100]:
# Create a new column of the total squarefootage
# Cannot use dot notation to create a new column!
small_df['TotalSF'] = small_df['TotalBsmtSF'] + small_df['1stFlrSF'] + small_df['2ndFlrSF']
small_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF
0          856       856       854     208500     2566
1         1262      1262         0     181500     2524
2          920       920       866     223500     2706
3          756       961       756     140000     2473
4         1145      1145      1053     250000     3343

In [101]:
# Create a new feature 'PricePerSqFt' that divides the sale price by the squarefootage
small_df['PricePerSqFt'] =  small_df['SalePrice'] / small_df['TotalSF']
small_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF  PricePerSqFt
0          856       856       854     208500     2566     81.254871
1         1262      1262         0     181500     2524     71.909667
2          920       920       866     223500     2706     82.594235
3          756       961       756     140000     2473     56.611403
4         1145      1145      1053     250000     3343     74.783129

## Loan Stat Data

In [102]:
# Load in the Loan Stats dataset via a shell command
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-09-05 20:36:47--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.244.115.45, 35.161.89.82, 54.148.13.215
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.244.115.45|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

                        [  <=>               ]  17.62M  2.22MB/s               y
LoanStats_2018Q4.cs     [            <=>     ]  22.28M  2.24MB/s    in 10s

2020-09-05 20:36:58 (2.21 MB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [23360898]

In [103]:
# Unzip the zip file
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [104]:
# Use shell commands to inspect the head and tail of the data
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","27975","27975","27975"," 36 months"," 14.47%","962.52","C","C2","Conductor ","10+ years","MORTGAGE","180000","Not Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","117xx","NY","11.47","0","Jul-1995","0","39","","10","0","29711","66.8%","19","w","0.00","0.00","31804.5298492634","31804.53","27975.00","3829.53","0.0","0.0","0.0","Jan-2020","20288.02","","Mar-2020","0","","1","Individual","","","","0","0","206072","0","1","0","1","17","15676","63","0","1","10861","65","44500","1","4","2","2","20607","7416","74.9","0","0","17","281","20","17","5","20","39","1","39","0","5","7","5","6","1","8","13","7","10","0","0","0","0","78.9","60","0","0","286525","45387","29500","25025","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 60 months"," 12.98%","227.43","B","B5","Printer","9 years","RENT","60000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","660xx","KS","14.9","0","May-2007","0","","112","7","1","10677","54.2%","12","w","7352.95","7352.95","4487.31","4487.31","2647.05","1840.26","0.0","0.0","0.0","Aug-2020","227.43","Sep-2020","Aug-2020","0","","1","Individual","","","","0","469","27595","0","2","1","1","11","16918","103","0","1","4337","76","19700","5","0","7","2","3942","4278","67.1","0","0","139","74","20","11","0","20","","0","","0","3","5","3","4","6","5","6","5","7","0","0","0","1","100","33.3","1","0","36200","27595","13000","16500","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","28000","28000","28000"," 60 months"," 13.56%","645.15","C","C1","Project Manager","10+ years","MORTGAGE","128500","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","760xx","TX","27.35","1","Jul-1987","0","24","","16","0","55206","75%","31","w","20667.91","20667.91","12871.36","12871.36","7332.09","5539.27","0.0","0.0","0.0","Aug-2020","645.15","Sep-2020","Aug-2020","0","71","1","Individual","","","","0","0","455106","1","2","1","1","2","47753","79","0","0","17372","75","73700","0","1","1","1","30340","6875","98","0","0","126","373","72","2","3","72","65","3","24","0","9","11","10","10","9","11","17","11","15","","0","0","1","94","100","0","0","542027","128345","55000","60331","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 60 months"," 13.56%","368.66","C","C1","LMSW","10+ years","RENT","46000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","787xx","TX","11.09","1","Oct-1997","1","11","","9","0","18946","32.1%","21","w","11503.84","11503.84","7570.88","7570.88","4496.16","3074.72","0.0","0.0","0.0","Aug-2020","368.66","Sep-2020","Aug-2020","0","","1","Individual","","","","0","0","128218","1","2","0","0","37","109272","101","1","1","14999","36","59000","0","1","1","1","16027","38663","32.9","0","0","133","254","5","5","0","42","","5","","0","2","3","5","8","10","7","11","3","9","0","0","0","1","94.7","20","0","0","138125","128218","57600","79125","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","7500","7500","7500"," 36 months"," 10.72%","244.55","B","B2","Program Manager","2 years","RENT","84000","Not Verified","Dec-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","600xx","IL","3.86","0","May-2005","1","","114","9","1","2200","12.6%","17","w","0.00","0.00","2829.93","2829.93","1465.61","484.09","0.0","880.23","158.4414","Sep-2019","244.55","","Mar-2020","0","","1","Individual","","","","0","0","381442","1","5","2","2","3","18633","111","0","2","2123","61","17400","3","1","3","5","42382","15200","12.6","0","0","163","105","13","3","1","13","","3","","0","2","2","3","4","10","3","6","2","9","0","0","0","2","76.5","0","1","0","403892","20833","17400","16812","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3500","3500","3500"," 36 months"," 20.89%","131.67","D","D4","gas attendant","10+ years","MORTGAGE","40000","Source Verified","Dec-2018","Current","n","","","car","Car financing","078xx","NJ","9.09","0","Oct-2004","1","24","","4","0","1944","33.5%","18","w","1955.78","1955.78","2495.64","2495.64","1544.22","951.42","0.0","0.0","0.0","Aug-2020","131.67","Sep-2020","Aug-2020","0","48","1","Joint App","59500","10.59","Source Verified","0","0","189794","1","1","1","1","7","24958","100","2","2","1317","87","5800","1","0","3","3","47449","3683","26.3","0","0","150","170","1","1","4","8","48","1","48","2","1","2","1","8","3","2","11","2","4","0","0","0","3","38.9","0","0","0","217000","26902","5000","25000","6902","May-2003","0","3","6","47.9","0","21","0","0","46","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 60 months"," 26.31%","481.99","E","E4","Financial Relationship Associate","< 1 year","RENT","33000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","290xx","SC","33.62","0","Sep-2010","1","","","17","0","22872","65.5%","22","w","12749.04","12749.04","9604.72","9604.72","3250.96","6353.76","0.0","0.0","0.0","Aug-2020","481.99","Sep-2020","Aug-2020","0","","1","Individual","","","","0","0","29869","1","1","0","1","24","6997","65","1","1","2703","65","34900","0","3","1","2","1757","4596","66.9","0","0","29","99","2","2","0","2","","3","","0","6","11","9","13","2","16","20","11","17","0","0","0","1","100","55.6","0","0","45709","29869","13900","10809","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","13000","13000","13000"," 36 months"," 23.40%","505.95","E","E1","Sale Representative","2 years","MORTGAGE","90000","Verified","Dec-2018","Current","n","","","other","Other","191xx","PA","39.73","0","May-2007","0","","","14","0","52013","83.1%","20","w","8968.74","8968.74","8069.85","8069.85","4031.26","4038.59","0.0","0.0","0.0","Aug-2020","505.95","Sep-2020","Aug-2020","0","","1","Individual","","","","0","0","87876","1","7","1","3","1","35863","48","0","1","18037","64","62600","2","0","1","4","6277","9503","83.8","0","0","131","139","16","1","0","16","","10","","0","6","7","6","7","11","7","9","7","14","0","0","0","1","100","66.7","0","0","137276","87876","58600","74676","","","","","","","","","","","","N","CVD19SKIP","INCOME_CURTAILMENT","COMPLETE","4","0","May-2020","Jul-2020","May-2020","4","0","ACTIVE","1086.68","9481.75","55.8","N","","","","","",""

In [105]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","2449.86","2449.86","4174.07","4174.07","3150.14","1023.93","0.0","0.0","0.0","Aug-2020","190.21","Sep-2020","Aug-2020","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","4427.45","4427.45","7620.38","7620.38","5572.55","2047.83","0.0","0.0","0.0","Aug-2020","346.76","Sep-2020","Aug-2020","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","2187.38","2187.38","3732.49","3732.49","2812.62","919.87","0.0","0.0","0.0","Aug-2020","169.83","Sep-2020","Aug-2020","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","4285.08","4177.96","7193.6","7013.76","5714.92","1478.68","0.0","0.0","0.0","Aug-2020","327.68","Sep-2020","Aug-2020","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","4495.59","4495.59","7824.37","7824.37","5504.41","2319.96","0.0","0.0","0.0","Aug-2020","356.08","Sep-2020","Aug-2020","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

In [106]:
# Loan the csv into a dataframe
df = pd.read_csv('LoanStats_2018Q4.csv')
df.shape
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title       emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose     title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt      total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       27975     27975       27975            36 months  14.47%  962.52      C     C2        Conductor       10+ years  MORTGAGE       180000     Not Verified        Dec-2018 Fully Paid  n          NaN NaN  credit_card Credit card refinancing 117xx    NY         11.47 0           Jul-1995         0              39                     NaN                    10       0       29711     66.8%      19        w                   0.00      0.00          31804.5298492634 31804.53        27975.00        3829.53       0.0                0.0        0.0                     Jan-2020     20288.02        NaN          Mar-2020           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            206072      0           1           0           1           17                 15676        63      0           1           10861      65       44500            1      4           2            2                    20607       7416           74.9    0                        0           17                 281                  20                    17             5        20                   39                       1                     39                             0                     5              7               5           6         1         8             13            7                   10       0                0            0                  0                  78.9           60               0                    0         286525          45387             29500          25025                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              10000     10000       10000            60 months  12.98%  227.43      B     B5        Printer         9 years    RENT           60000      Not Verified        Dec-2018 Current     n          NaN NaN  credit_card Credit card refinancing 660xx    KS         14.9  0           May-2007         0              NaN                    112                    7        1       10677     54.2%      12        w                   7352.95   7352.95       4487.31          4487.31         2647.05         1840.26       0.0                0.0        0.0                     Aug-2020     227.43          Sep-2020     Aug-2020           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              469          27595       0           2           1           1           11                 16918        103     0           1           4337       76       19700            5      0           7            2                    3942        4278           67.1    0                        0           139                74                   20                    11             0        20                   NaN                      0                     NaN                            0                     3              5               3           4         6         5             6             5                   7        0                0            0                  1                  100            33.3             1                    0         36200           27595             13000          16500                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              28000     28000       28000            60 months  13.56%  645.15      C     C1        Project Manager 10+ years  MORTGAGE       128500     Source Verified     Dec-2018 Current     n          NaN NaN  credit_card Credit card refinancing 760xx    TX         27.35 1           Jul-1987         0              24                     NaN                    16       0       55206     75%        31        w                   20667.91  20667.91      12871.36         12871.36        7332.09         5539.27       0.0                0.0        0.0                     Aug-2020     645.15          Sep-2020     Aug-2020           0                          71                          1           Individual       NaN              NaN       NaN                       0              0            455106      1           2           1           1           2                  47753        79      0           0           17372      75       73700            0      1           1            1                    30340       6875           98      0                        0           126                373                  72                    2              3        72                   65                       3                     24                             0                     9              11              10          10        9         11            17            11                  15       NaN              0            0                  1                  94             100              0                    0         542027          128345            55000          60331                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              16000     16000       16000            60 months  13.56%  368.66      C     C1        LMSW            10+ years  RENT           46000      Not Verified        Dec-2018 Current     n          NaN NaN  credit_card Credit card refinancing 787xx    TX         11.09 1           Oct-1997         1              11                     NaN                    9        0       18946     32.1%      21        w                   11503.84  11503.84      7570.88          7570.88         4496.16         3074.72       0.0                0.0        0.0                     Aug-2020     368.66          Sep-2020     Aug-2020           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            128218      1           2           0           0           37                 109272       101     1           1           14999      36       59000            0      1           1            1                    16027       38663          32.9    0                        0           133                254                  5                     5              0        42                   NaN                      5                     NaN                            0                     2              3               5           8         10        7             11            3                   9        0                0            0                  1                  94.7           20               0                    0         138125          128218            57600          79125                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [107]:
# Set the header to row 1 (2nd row) to get rid of the title
df = pd.read_csv('LoanStats_2018Q4.csv', header=1)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128414, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,27975.0,27975.0,27975.0,36 months,14.47%,962.52,C,C2,Conductor,10+ years,MORTGAGE,180000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,117xx,NY,11.47,0.0,Jul-1995,0.0,39.0,NaN,10.0,0.0,29711.0,66.8%,19.0,w,0.00,0.00,31804.529849,31804.53,27975.00,3829.53,0.0,0.00,0.0000,Jan-2020,20288.02,NaN,Mar-2020,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,206072.0,0.0,1.0,0.0,1.0,17.0,15676.0,63.0,0.0,1.0,10861.0,65.0,44500.0,1.0,4.0,2.0,2.0,20607.0,7416.0,74.9,0.0,0.0,17.0,281.0,20.0,17.0,5.0,20.0,39.0,1.0,39.0,0.0,5.0,7.0,5.0,6.0,1.0,8.0,13.0,7.0,10.0,0.0,0.0,0.0,0.0,78.9,60.0,0.0,0.0,286525.0,45387.0,29500.0,25025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,10000.0,10000.0,10000.0,60 months,12.98%,227.43,B,B5,Printer,9 years,RENT,60000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,660xx,KS,14.90,0.0,May-2007,0.0,NaN,112.0,7.0,1.0,10677.0,54.2%,12.0,w,7352.95,7352.95,4487.310000,4487.31,2647.05,1840.26,0.0,0.00,0.0000,Aug-2020,227.43,Sep-2020,Aug-2020,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,469.0,27595.0,0.0,2.0,1.0,1.0,11.0,16918.0,103.0,0.0,1.0,4337.0,76.0,19700.0,5.0,0.0,7.0,2.0,3942.0,4278.0,67.1,0.0,0.0,139.0,74.0,20.0,11.0,0.0,20.0,NaN,0.0,NaN,0.0,3.0,5.0,3.0,4.0,6.0,5.0,6.0,5.0,7.0,0.0,0.0,0.0,1.0,100.0,33.3,1.0,0.0,36200.0,27595.0,13000.0,16500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,28000.0,28000.0,28000.0,60 months,13.56%,645.15,C,C1,Project Manager,10+ years,MORTGAGE,128500.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,760xx,TX,27.35,1.0,Jul-1987,0.0,24.0,NaN,16.0,0.0,55206.0,75%,31.0,w,20667.91,20667.91,12871.360000,12871.36,7332.09,5539.27,0.0,0.00,0.0000,Aug-2020,645.15,Sep-2020,Aug-2020,0.0,71.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,455106.0,1.0,2.0,1.0,1.0,2.0,47753.0,79.0,0.0,0.0,17372.0,75.0,73700.0,0.0,1.0,1.0,1.0,30340.0,6875.0,98.0,0.0,0.0,126.0,373.0,72.0,2.0,3.0,72.0,65.0,3.0,24.0,0.0,9.0,11.0,10.0,10.0,9.0,11.0,17.0,11.0,15.0,NaN,0.0,0.0,1.0,94.0,100.0,0.0,0.0,542027.0,128345.0,55000.0,60331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,16000.0,16000.0,16000.0,60 months,13.56%,368.66,C,C1,LMSW,10+ years,RENT,46000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,787xx,TX,11.09,1.0,Oct-1997,1.0,11.0,NaN,9.0,0.0,18946.0,32.1%,21.0,w,11503.84,11503.84,7570.880000,7570.88,4496.16,3074.72,0.0,0.00,0.0000,Aug-2020,368.66,Sep-2020,Aug-2020,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,128218.0,1.0,2.0,0.0,0.0,37.0,109272.0,101.0,1.0,1.0,14999.0,36.0,59000.0,0.0,1.0,1.0,1.0,16027.0,38663.0,32.9,0.0,0.0,133.0,254.0,5.0,5.0,0.0,42.0,NaN,5.0,NaN,0.0,2.0,3.0,5.0,8.0,10.0,7.0,11.0,3.0,9.0,0.0,0.0,0.0,1.0,94.7,20.0,0.0,0.0,138125.0,128218.0,57600.0,79125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,7500.0,7500.0,7500.0,36 months,10.72%,244.55,B,B2,Program Manager,2 years,RENT,84000.0,Not Verified,Dec-2018,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,600xx,IL,3.86,0.0,May-2005,1.0,NaN,114.0,9.0,1.0,2200.0,12.6%,17.0,w,0.00,0.00,2829.930000,2829.93,1465.61,484.09,0.0,880.23,158.4414,Sep-2019,244.55,NaN,Mar-2020,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,381442.0,1.0,5.0,2.0,2.0,3.0,18633.0,111.0,0.0,2.0,2123.0,61.0,17400.0,3.0,1.0,3.0,5.0,42382.0,15200.0,12.6,0.0,0.0,163.0,105.0,13.0,3.0,1.0,13.0,NaN,3.0,NaN,0.0,2.0,2.0,3.0,4.0,10.0,3.0,6.0,2.0,9.0,0.0,0.0,0.0,2.0,76.5,0.0,1.0,0.0,403892.0,20833.0,17400.0,16812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
# Sum the null values in the dataframe, sorted from least to greatest
df.isnull().sum().sort_values()

inq_fi                                             2
mo_sin_old_rev_tl_op                               2
delinq_amnt                                        2
chargeoff_within_12_mths                           2
acc_open_past_24mths                               2
inq_last_12m                                       2
total_cu_tl                                        2
total_rev_hi_lim                                   2
open_rv_24m                                        2
open_rv_12m                                        2
total_bal_il                                       2
open_il_24m                                        2
open_il_12m                                        2
open_act_il                                        2
open_acc_6m                                        2
tot_cur_bal                                        2
tot_coll_amt                                       2
acc_now_delinq                                     2
application_type                                   2
policy_code                                        2
mo_sin_rcnt_rev_tl_op                              2
collections_12_mths_ex_med                         2
mo_sin_rcnt_tl                                     2
num_accts_ever_120_pd                              2
total_il_high_credit_limit                         2
total_bc_limit                                     2
total_bal_ex_mort                                  2
tot_hi_cred_lim                                    2
tax_liens                                          2
pub_rec_bankruptcies                               2
pct_tl_nvr_dlq                                     2
num_tl_op_past_12m                                 2
num_tl_90g_dpd_24m                                 2
num_tl_30dpd                                       2
num_sats                                           2
num_rev_tl_bal_gt_0                                2
num_rev_accts                                      2
num_op_rev_tl                                      2
num_il_tl                                          2
num_bc_tl                                          2
num_bc_sats                                        2
num_actv_rev_tl                                    2
num_actv_bc_tl                                     2
mort_acc                                           2
last_pymnt_amnt                                    2
max_bal_bc                                         2
collection_recovery_fee                            2
earliest_cr_line                                   2
delinq_2yrs                                        2
addr_state                                         2
zip_code                                           2
title                                              2
purpose                                            2
pymnt_plan                                         2
loan_status                                        2
issue_d                                            2
inq_last_6mths                                     2
verification_status                                2
home_ownership                                     2
sub_grade                                          2
grade                                              2
installment                                        2
int_rate                                           2
term                                               2
funded_amnt_inv                                    2
funded_amnt                                        2
loan_amnt                                          2
annual_inc                                         2
open_acc                                           2
debt_settlement_flag                               2
total_rec_int                                      2
total_rec_prncp                                    2
total_pymnt_inv                                    2
total_pymnt                                        2
pub_rec                                            2
out_prncp_inv                                      2
out_prncp                                          2
initial_list_status                                2
revol_bal                                          2
total_rec_late_fee                                 2
recoveries                                         2
total_acc                                          2
last_credit_pull_d                                 3
avg_cur_bal                                       15
all_util                                          39
revol_util                                       158
last_pymnt_d                                     161
dti                                              239
mths_since_recent_bc                            1593
bc_open_to_buy                                  1693
percent_bc_gt_75                                1694
bc_util                                         1756
num_tl_120dpd_2m                                2861
mo_sin_old_il_acct                              4480
mths_since_rcnt_il                              4480
hardship_flag                                   4788
emp_length                                     11706
mths_since_recent_inq                          16049
il_util                                        20276
emp_title                                      20949
next_pymnt_d                                   46260
mths_since_last_delinq                         72198
mths_since_recent_revol_delinq                 91632
mths_since_last_major_derog                    99234
mths_since_recent_bc_dlq                      103245
hardship_amount                               110491
hardship_payoff_balance_amount                110491
hardship_last_payment_amount                  110491
orig_projected_additional_accrued_interest    110501
annual_inc_joint                              111632
sec_app_collections_12_mths_ex_med            111632
sec_app_chargeoff_within_12_mths              111632
sec_app_num_rev_accts                         111632
sec_app_open_act_il                           111632
sec_app_open_acc                              111632
dti_joint                                     111632
sec_app_inq_last_6mths                        111632
sec_app_earliest_cr_line                      111632
revol_bal_joint                               111632
sec_app_mort_acc                              111632
sec_app_revol_util                            111890
mths_since_last_record                        112964
verification_status_joint                     113566
hardship_length                               115278
hardship_end_date                             115278
hardship_start_date                           115278
hardship_status                               115278
deferral_term                                 115278
hardship_reason                               115279
hardship_dpd                                  115279
payment_plan_start_date                       115291
hardship_type                                 115292
hardship_loan_status                          117396
sec_app_mths_since_last_major_derog           123260
debt_settlement_flag_date                     127477
settlement_status                             127477
settlement_amount                             127477
settlement_date                               127477
settlement_term                               127477
settlement_percentage                         127477
id                                            128412
desc                                          128414
url                                           128414
member_id                                     128414
dtype: int64

In [109]:
# Skip the last 2 rows to avoid the extra null values
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
print(df.shape)
df.tail()

(128412, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
128407,NaN,NaN,23000,23000,23000.0,36 months,15.02%,797.53,C,C3,Tax Consultant,10+ years,MORTGAGE,75000.0,Source Verified,Oct-2018,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,352xx,AL,20.95,1,Aug-1985,2,22.0,NaN,12,0,22465,43.6%,28,w,0.00,0.00,1547.08,1547.08,1025.67,521.41,0.0,0.0,0.0,Dec-2018,797.53,NaN,Nov-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,259658,4,2,3,3,6.0,18149,86.0,4,6,12843,56.0,51500,2,2,5,11,21638.0,26321.0,44.1,0,0,12.0,397,4,4,6,5.0,22.0,4.0,22.0,0,4,5,7,14,3,9,19,5,12,0.0,0,0,7,96.4,14.3,0,0,296500,40614,47100,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128408,NaN,NaN,10000,10000,10000.0,36 months,15.02%,346.76,C,C3,security guard,5 years,MORTGAGE,38000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,443xx,OH,13.16,3,Jul-1982,0,6.0,NaN,11,0,5634,37.1%,16,w,4427.45,4427.45,7620.38,7620.38,5572.55,2047.83,0.0,0.0,0.0,Aug-2020,346.76,Sep-2020,Aug-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,155,77424,0,1,0,0,34.0,200,10.0,1,1,1866,42.0,15200,2,0,0,2,7039.0,4537.0,50.1,0,0,34.0,434,11,11,3,11.0,6.0,17.0,6.0,0,3,5,5,6,1,8,11,5,11,0.0,0,0,1,73.3,40.0,0,0,91403,9323,9100,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128409,NaN,NaN,5000,5000,5000.0,36 months,13.56%,169.83,C,C1,Payoff Clerk,10+ years,MORTGAGE,35360.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,381xx,TN,11.30,1,Jun-2006,0,21.0,NaN,9,0,2597,27.3%,15,f,2187.38,2187.38,3732.49,3732.49,2812.62,919.87,0.0,0.0,0.0,Aug-2020,169.83,Sep-2020,Aug-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,1413,69785,0,2,0,1,16.0,2379,40.0,3,4,1826,32.0,9500,0,0,1,5,8723.0,1174.0,60.9,0,0,147.0,85,9,9,2,10.0,21.0,9.0,21.0,0,1,3,2,2,6,6,7,3,9,0.0,0,0,3,92.9,50.0,0,0,93908,4976,3000,6028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128410,NaN,NaN,10000,10000,9750.0,36 months,11.06%,327.68,B,B3,NaN,NaN,RENT,44400.0,Source Verified,Oct-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,980xx,WA,11.78,0,Oct-2008,2,40.0,NaN,15,0,6269,13.1%,25,f,4285.08,4177.96,7193.60,7013.76,5714.92,1478.68,0.0,0.0,0.0,Aug-2020,327.68,Sep-2020,Aug-2020,0,53.0,1,Individual,NaN,NaN,NaN,0,520,16440,3,1,1,1,2.0,10171,100.0,2,5,404,28.0,47700,0,3,5,6,1265.0,20037.0,2.3,0,0,61.0,119,1,1,0,1.0,NaN,1.0,40.0,1,2,4,6,8,3,14,22,4,15,0.0,0,0,3,92.0,0.0,0,0,57871,16440,20500,10171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128411,NaN,NaN,10000,10000,10000.0,36 months,16.91%,356.08,C,C5,Key Accounts Manager,2 years,RENT,80000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,other,Other,021xx,MA,17.72,1,Sep-2006,0,14.0,NaN,17,0,1942,30.8%,31,w,4495.59,4495.59,7824.37,7824.37,5504.41,2319.96,0.0,0.0,0.0,Aug-2020,356.08,Sep-2020,Aug-2020,0,25.0,1,Individual,NaN,NaN,NaN,0,0,59194,0,15,1,1,12.0,57252,85.0,0,0,1942,80.0,6300,0,5,0,1,3482.0,2058.0,48.5,0,0,144.0,142,40,12,0,131.0,30.0,NaN,30.0,3,1,1,1,5,22,2,9,1,17,0.0,0,0,1,74.2,0.0,0,0,73669,59194,4000,67369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
# Check again for the null values
df.isnull().sum().sort_values()

inq_fi                                             0
mo_sin_old_rev_tl_op                               0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
open_il_12m                                        0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_rcnt_rev_tl_op                              0
collections_12_mths_ex_med                         0
mo_sin_rcnt_tl                                     0
num_accts_ever_120_pd                              0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
num_tl_30dpd                                       0
num_sats                                           0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
mort_acc                                           0
last_pymnt_amnt                                    0
max_bal_bc                                         0
collection_recovery_fee                            0
earliest_cr_line                                   0
delinq_2yrs                                        0
addr_state                                         0
zip_code                                           0
title                                              0
purpose                                            0
pymnt_plan                                         0
loan_status                                        0
issue_d                                            0
inq_last_6mths                                     0
verification_status                                0
home_ownership                                     0
sub_grade                                          0
grade                                              0
installment                                        0
int_rate                                           0
term                                               0
funded_amnt_inv                                    0
funded_amnt                                        0
loan_amnt                                          0
annual_inc                                         0
open_acc                                           0
debt_settlement_flag                               0
total_rec_int                                      0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
pub_rec                                            0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
revol_bal                                          0
total_rec_late_fee                                 0
recoveries                                         0
total_acc                                          0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
hardship_flag                                   4786
emp_length                                     11704
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20947
next_pymnt_d                                   46258
mths_since_last_delinq                         72196
mths_since_recent_revol_delinq                 91630
mths_since_last_major_derog                    99232
mths_since_recent_bc_dlq                      103243
hardship_amount                               110489
hardship_payoff_balance_amount                110489
hardship_last_payment_amount                  110489
orig_projected_additional_accrued_interest    110499
annual_inc_joint                              111630
sec_app_collections_12_mths_ex_med            111630
sec_app_chargeoff_within_12_mths              111630
sec_app_num_rev_accts                         111630
sec_app_open_act_il                           111630
sec_app_open_acc                              111630
dti_joint                                     111630
sec_app_inq_last_6mths                        111630
sec_app_earliest_cr_line                      111630
revol_bal_joint                               111630
sec_app_mort_acc                              111630
sec_app_revol_util                            111888
mths_since_last_record                        112962
verification_status_joint                     113564
hardship_length                               115276
hardship_end_date                             115276
hardship_start_date                           115276
hardship_status                               115276
deferral_term                                 115276
hardship_reason                               115277
hardship_dpd                                  115277
payment_plan_start_date                       115289
hardship_type                                 115290
hardship_loan_status                          117394
sec_app_mths_since_last_major_derog           123258
debt_settlement_flag_date                     127475
settlement_status                             127475
settlement_amount                             127475
settlement_date                               127475
settlement_term                               127475
settlement_percentage                         127475
desc                                          128412
url                                           128412
member_id                                     128412
id                                            128412
dtype: int64

In [111]:
# Drop the columns whose values are all null
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,27975,27975,27975.0,36 months,14.47%,962.52,C,C2,Conductor,10+ years,MORTGAGE,180000.0,Not Verified,Dec-2018,Fully Paid,n,credit_card,Credit card refinancing,117xx,NY,11.47,0,Jul-1995,0,39.0,NaN,10,0,29711,66.8%,19,w,0.00,0.00,31804.529849,31804.53,27975.00,3829.53,0.0,0.00,0.0000,Jan-2020,20288.02,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,206072,0,1,0,1,17.0,15676,63.0,0,1,10861,65.0,44500,1,4,2,2,20607.0,7416.0,74.9,0,0,17.0,281,20,17,5,20.0,39.0,1.0,39.0,0,5,7,5,6,1,8,13,7,10,0.0,0,0,0,78.9,60.0,0,0,286525,45387,29500,25025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,10000,10000,10000.0,60 months,12.98%,227.43,B,B5,Printer,9 years,RENT,60000.0,Not Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,660xx,KS,14.90,0,May-2007,0,NaN,112.0,7,1,10677,54.2%,12,w,7352.95,7352.95,4487.310000,4487.31,2647.05,1840.26,0.0,0.00,0.0000,Aug-2020,227.43,Sep-2020,Aug-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,469,27595,0,2,1,1,11.0,16918,103.0,0,1,4337,76.0,19700,5,0,7,2,3942.0,4278.0,67.1,0,0,139.0,74,20,11,0,20.0,NaN,0.0,NaN,0,3,5,3,4,6,5,6,5,7,0.0,0,0,1,100.0,33.3,1,0,36200,27595,13000,16500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,28000,28000,28000.0,60 months,13.56%,645.15,C,C1,Project Manager,10+ years,MORTGAGE,128500.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,760xx,TX,27.35,1,Jul-1987,0,24.0,NaN,16,0,55206,75%,31,w,20667.91,20667.91,12871.360000,12871.36,7332.09,5539.27,0.0,0.00,0.0000,Aug-2020,645.15,Sep-2020,Aug-2020,0,71.0,1,Individual,NaN,NaN,NaN,0,0,455106,1,2,1,1,2.0,47753,79.0,0,0,17372,75.0,73700,0,1,1,1,30340.0,6875.0,98.0,0,0,126.0,373,72,2,3,72.0,65.0,3.0,24.0,0,9,11,10,10,9,11,17,11,15,NaN,0,0,1,94.0,100.0,0,0,542027,128345,55000,60331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,16000,16000,16000.0,60 months,13.56%,368.66,C,C1,LMSW,10+ years,RENT,46000.0,Not Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,787xx,TX,11.09,1,Oct-1997,1,11.0,NaN,9,0,18946,32.1%,21,w,11503.84,11503.84,7570.880000,7570.88,4496.16,3074.72,0.0,0.00,0.0000,Aug-2020,368.66,Sep-2020,Aug-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,128218,1,2,0,0,37.0,109272,101.0,1,1,14999,36.0,59000,0,1,1,1,16027.0,38663.0,32.9,0,0,133.0,254,5,5,0,42.0,NaN,5.0,NaN,0,2,3,5,8,10,7,11,3,9,0.0,0,0,1,94.7,20.0,0,0,138125,128218,57600,79125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,7500,7500,7500.0,36 months,10.72%,244.55,B,B2,Program Manager,2 years,RENT,84000.0,Not Verified,Dec-2018,Charged Off,n,debt_consolidation,Debt consolidation,600xx,IL,3.86,0,May-2005,1,NaN,114.0,9,1,2200,12.6%,17,w,0.00,0.00,2829.930000,2829.93,1465.61,484.09,0.0,880.23,158.4414,Sep-2019,244.55,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,381442,1,5,2,2,3.0,18633,111.0,0,2,2123,61.0,17400,3,1,3,5,42382.0,15200.0,12.6,0,0,163.0,105,13,3,1,13.0,NaN,3.0,NaN,0,2,2,3,4,10,3,6,2,9,0.0,0,0,2,76.5,0.0,1,0,403892,20833,17400,16812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
# Look at the int_rate column
df['int_rate'].head()

0     14.47%
1     12.98%
2     13.56%
3     13.56%
4     10.72%
Name: int_rate, dtype: object

In [113]:
# Look at a specific value from the int_rate column
df['int_rate'][7]

' 23.40%'

In [114]:
# Check the datatype of the values in int_rate
type(df['int_rate'][7])

str

In [115]:
# Create a function to strip the leading space and the % symbol,
# and cast the value to a float
def clean_int_rate(val):
  return float(val.strip().strip('%'))

# Apply the function to each value in the int_rate column
df['int_rate'] = df['int_rate'].apply(clean_int_rate)
df['int_rate'].head()

0    14.47
1    12.98
2    13.56
3    13.56
4    10.72
Name: int_rate, dtype: float64

### Clean up the Employee Title Column

In [116]:
# Print the top 20 job titles
df['emp_title'].value_counts(dropna=False)[:20]

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [117]:
# Get the number of unique job titles
len(df['emp_title'].value_counts())

43892

In [118]:
# Get the number of null values
df['emp_title'].isnull().sum()

20947

In [119]:
# Create some examples of the job titles to clean up
examples = ['owner', 'supervisor', 'manager', np.NaN]
# Write a function to capitalize and strip white space from job titles
def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return 'Unknown'
    
# Run the example job titles through the function to test it
[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Manager', 'Unknown']

In [120]:
# Clean up the employee title column
df['emp_title'] = df['emp_title'].apply(clean_title)
df['emp_title'].head()

0          Conductor
1            Printer
2    Project Manager
3               Lmsw
4    Program Manager
Name: emp_title, dtype: object

In [121]:
# Check the top 20 job titles to see the progress
df['emp_title'].value_counts(dropna=False)[:20]

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [122]:
# Get the number of job titles after cleaning
len(df['emp_title'].value_counts())

34902

In [123]:
# Get the number of null values in the column
df['emp_title'].isnull().sum()

0

## Working with Pandas Datetimes

In [124]:
# Print the names of the columns with dates
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [125]:
# Print the first 10 dates in the issue_d column
df['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [126]:
# Convert each value in issue_d to a pandas datetime object
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df['issue_d'][:10]

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
5   2018-12-01
6   2018-12-01
7   2018-12-01
8   2018-12-01
9   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [127]:
df['issue_d'].iloc[0]

Timestamp('2018-12-01 00:00:00')

In [128]:
# Access just the year of the datetime
df['issue_d'].dt.year[:10]

0    2018
1    2018
2    2018
3    2018
4    2018
5    2018
6    2018
7    2018
8    2018
9    2018
Name: issue_d, dtype: int64

In [129]:
# Access just the month of the datetime
df['issue_d'].dt.month[:10]

0    12
1    12
2    12
3    12
4    12
5    12
6    12
7    12
8    12
9    12
Name: issue_d, dtype: int64

In [130]:
# Create 2 new columns for the issue year and month
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

# Check the datatypes of the last 2 columns
df.dtypes[-2]

dtype('int64')

In [131]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,issue_year,issue_month
0,27975,27975,27975.0,36 months,14.47,962.52,C,C2,Conductor,10+ years,MORTGAGE,180000.0,Not Verified,2018-12-01,Fully Paid,n,credit_card,Credit card refinancing,117xx,NY,11.47,0,Jul-1995,0,39.0,NaN,10,0,29711,66.8%,19,w,0.00,0.00,31804.529849,31804.53,27975.00,3829.53,0.0,0.00,0.0000,Jan-2020,20288.02,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,206072,0,1,0,1,17.0,15676,63.0,0,1,10861,65.0,44500,1,4,2,2,20607.0,7416.0,74.9,0,0,17.0,281,20,17,5,20.0,39.0,1.0,39.0,0,5,7,5,6,1,8,13,7,10,0.0,0,0,0,78.9,60.0,0,0,286525,45387,29500,25025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12
1,10000,10000,10000.0,60 months,12.98,227.43,B,B5,Printer,9 years,RENT,60000.0,Not Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,660xx,KS,14.90,0,May-2007,0,NaN,112.0,7,1,10677,54.2%,12,w,7352.95,7352.95,4487.310000,4487.31,2647.05,1840.26,0.0,0.00,0.0000,Aug-2020,227.43,Sep-2020,Aug-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,469,27595,0,2,1,1,11.0,16918,103.0,0,1,4337,76.0,19700,5,0,7,2,3942.0,4278.0,67.1,0,0,139.0,74,20,11,0,20.0,NaN,0.0,NaN,0,3,5,3,4,6,5,6,5,7,0.0,0,0,1,100.0,33.3,1,0,36200,27595,13000,16500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12
2,28000,28000,28000.0,60 months,13.56,645.15,C,C1,Project Manager,10+ years,MORTGAGE,128500.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,760xx,TX,27.35,1,Jul-1987,0,24.0,NaN,16,0,55206,75%,31,w,20667.91,20667.91,12871.360000,12871.36,7332.09,5539.27,0.0,0.00,0.0000,Aug-2020,645.15,Sep-2020,Aug-2020,0,71.0,1,Individual,NaN,NaN,NaN,0,0,455106,1,2,1,1,2.0,47753,79.0,0,0,17372,75.0,73700,0,1,1,1,30340.0,6875.0,98.0,0,0,126.0,373,72,2,3,72.0,65.0,3.0,24.0,0,9,11,10,10,9,11,17,11,15,NaN,0,0,1,94.0,100.0,0,0,542027,128345,55000,60331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12
3,16000,16000,16000.0,60 months,13.56,368.66,C,C1,Lmsw,10+ years,RENT,46000.0,Not Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,787xx,TX,11.09,1,Oct-1997,1,11.0,NaN,9,0,18946,32.1%,21,w,11503.84,11503.84,7570.880000,7570.88,4496.16,3074.72,0.0,0.00,0.0000,Aug-2020,368.66,Sep-2020,Aug-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,128218,1,2,0,0,37.0,109272,101.0,1,1,14999,36.0,59000,0,1,1,1,16027.0,38663.0,32.9,0,0,133.0,254,5,5,0,42.0,NaN,5.0,NaN,0,2,3,5,8,10,7,11,3,9,0.0,0,0,1,94.7,20.0,0,0,138125,128218,57600,79125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12
4,7500,7500,7500.0,36 months,10.72,244.55,B,B2,Program Manager,2 years,RENT,84000.0,Not Verified,2018-12-01,Charged Off,n,debt_consolidation,Debt consolidation,600xx,IL,3.86,0,May-2005,1,NaN,114.0,9,1,2200,12.6%,17,w,0.00,0.00,2829.930000,2829.93,1465.61,484.09,0.0,880.23,158.4414,Sep-2019,244.55,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,381442,1,5,2,2,3.0,18633,111.0,0,2,2123,61.0,17400,3,1,3,5,42382.0,15200.0,12.6,0,0,163.0,105,13,3,1,13.0,NaN,3.0,NaN,0,2,2,3,4,10,3,6,2,9,0.0,0,0,2,76.5,0.0,1,0,403892,20833,17400,16812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12

In [132]:
# Look at the earliest_cr_line column
df['earliest_cr_line'].head()

0    Jul-1995
1    May-2007
2    Jul-1987
3    Oct-1997
4    May-2005
Name: earliest_cr_line, dtype: object

In [133]:
# Convert the earliest_cr_line column to datetime object
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)
df['earliest_cr_line'].head()

0   1995-07-01
1   2007-05-01
2   1987-07-01
3   1997-10-01
4   2005-05-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [134]:
# Subtract the issue_d column from the earliest_cr_line column
df['issue_d'] - df['earliest_cr_line']

0         8554 days
1         4232 days
2        11476 days
3         7731 days
4         4962 days
            ...
128407   12114 days
128408   13241 days
128409    4505 days
128410    3652 days
128411    4413 days
Length: 128412, dtype: timedelta64[ns]

In [135]:
# Create the new column
df['days_from_earliest_credit_to_issue'] = df['issue_d'] - df['earliest_cr_line']
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,issue_year,issue_month,days_from_earliest_credit_to_issue
0,27975,27975,27975.0,36 months,14.47,962.52,C,C2,Conductor,10+ years,MORTGAGE,180000.0,Not Verified,2018-12-01,Fully Paid,n,credit_card,Credit card refinancing,117xx,NY,11.47,0,1995-07-01,0,39.0,NaN,10,0,29711,66.8%,19,w,0.00,0.00,31804.529849,31804.53,27975.00,3829.53,0.0,0.00,0.0000,Jan-2020,20288.02,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,206072,0,1,0,1,17.0,15676,63.0,0,1,10861,65.0,44500,1,4,2,2,20607.0,7416.0,74.9,0,0,17.0,281,20,17,5,20.0,39.0,1.0,39.0,0,5,7,5,6,1,8,13,7,10,0.0,0,0,0,78.9,60.0,0,0,286525,45387,29500,25025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12,8554 days
1,10000,10000,10000.0,60 months,12.98,227.43,B,B5,Printer,9 years,RENT,60000.0,Not Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,660xx,KS,14.90,0,2007-05-01,0,NaN,112.0,7,1,10677,54.2%,12,w,7352.95,7352.95,4487.310000,4487.31,2647.05,1840.26,0.0,0.00,0.0000,Aug-2020,227.43,Sep-2020,Aug-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,469,27595,0,2,1,1,11.0,16918,103.0,0,1,4337,76.0,19700,5,0,7,2,3942.0,4278.0,67.1,0,0,139.0,74,20,11,0,20.0,NaN,0.0,NaN,0,3,5,3,4,6,5,6,5,7,0.0,0,0,1,100.0,33.3,1,0,36200,27595,13000,16500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12,4232 days
2,28000,28000,28000.0,60 months,13.56,645.15,C,C1,Project Manager,10+ years,MORTGAGE,128500.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,760xx,TX,27.35,1,1987-07-01,0,24.0,NaN,16,0,55206,75%,31,w,20667.91,20667.91,12871.360000,12871.36,7332.09,5539.27,0.0,0.00,0.0000,Aug-2020,645.15,Sep-2020,Aug-2020,0,71.0,1,Individual,NaN,NaN,NaN,0,0,455106,1,2,1,1,2.0,47753,79.0,0,0,17372,75.0,73700,0,1,1,1,30340.0,6875.0,98.0,0,0,126.0,373,72,2,3,72.0,65.0,3.0,24.0,0,9,11,10,10,9,11,17,11,15,NaN,0,0,1,94.0,100.0,0,0,542027,128345,55000,60331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12,11476 days
3,16000,16000,16000.0,60 months,13.56,368.66,C,C1,Lmsw,10+ years,RENT,46000.0,Not Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,787xx,TX,11.09,1,1997-10-01,1,11.0,NaN,9,0,18946,32.1%,21,w,11503.84,11503.84,7570.880000,7570.88,4496.16,3074.72,0.0,0.00,0.0000,Aug-2020,368.66,Sep-2020,Aug-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,128218,1,2,0,0,37.0,109272,101.0,1,1,14999,36.0,59000,0,1,1,1,16027.0,38663.0,32.9,0,0,133.0,254,5,5,0,42.0,NaN,5.0,NaN,0,2,3,5,8,10,7,11,3,9,0.0,0,0,1,94.7,20.0,0,0,138125,128218,57600,79125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12,7731 days
4,7500,7500,7500.0,36 months,10.72,244.55,B,B2,Program Manager,2 years,RENT,84000.0,Not Verified,2018-12-01,Charged Off,n,debt_consolidation,Debt consolidation,600xx,IL,3.86,0,2005-05-01,1,NaN,114.0,9,1,2200,12.6%,17,w,0.00,0.00,2829.930000,2829.93,1465.61,484.09,0.0,880.23,158.4414,Sep-2019,244.55,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,381442,1,5,2,2,3.0,18633,111.0,0,2,2123,61.0,17400,3,1,3,5,42382.0,15200.0,12.6,0,0,163.0,105,13,3,1,13.0,NaN,3.0,NaN,0,2,2,3,4,10,3,6,2,9,0.0,0,0,2,76.5,0.0,1,0,403892,20833,17400,16812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12,4962 days

In [136]:
# Describe the new column
df['days_from_earliest_credit_to_issue'].describe()

count                       128412
mean     5859 days 21:23:44.726635
std      2886 days 12:51:13.941888
min             1126 days 00:00:00
25%             4049 days 00:00:00
50%             5266 days 00:00:00
75%             7244 days 00:00:00
max            25171 days 00:00:00
Name: days_from_earliest_credit_to_issue, dtype: object

## Converting the Term Column from String to Integer

In [137]:
# Explore the term column
df['term'].head()

0     36 months
1     60 months
2     60 months
3     60 months
4     36 months
Name: term, dtype: object

In [138]:
# Look at a single cell
df['term'][0]

' 36 months'

In [139]:
# Create function to apply to the column
def clean_term(term):
  if isinstance(term, str):
    return int(term.strip('months').strip())
  else:
    return term

# Apply the cleaning function to 1 cell of the column
df['term'] = df['term'].apply(clean_term)
df['term'].head()

0    36
1    60
2    60
3    60
4    36
Name: term, dtype: int64

In [140]:
# Get the datatype of the term column
df.dtypes['term']

dtype('int64')

## Creating Column "loan_status_is_great"

In [141]:
# Look at the loan_status column
df['loan_status'].head()

0     Fully Paid
1        Current
2        Current
3        Current
4    Charged Off
Name: loan_status, dtype: object

In [142]:
# Create a function for determining the value of the new column
def determine_loan_status(status):
  if status == 'Fully Paid' or status == 'Current':
    return 1
  else:
    return 0

# Create the loan_status_is_great column
df['loan_status_is_great'] = df['loan_status'].apply(determine_loan_status)
df['loan_status_is_great'].head()

0    1
1    1
2    1
3    1
4    0
Name: loan_status_is_great, dtype: int64

## Creating "last_pymnt_d_month" and "last_pymnt_d_year" Columns

In [143]:
# List the original date columns
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [144]:
df['last_pymnt_d'].head()

0    Jan-2020
1    Aug-2020
2    Aug-2020
3    Aug-2020
4    Sep-2019
Name: last_pymnt_d, dtype: object

In [145]:
# Check the datatype of the last_pymnt_d column
df.dtypes['last_pymnt_d']

dtype('O')

In [146]:
# Change the column to a datetime object
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'])
df['last_pymnt_d'].head()

0   2020-01-01
1   2020-08-01
2   2020-08-01
3   2020-08-01
4   2019-09-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [147]:
# Create the last_pymnt_d_month column
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_month'].head()

0    1.0
1    8.0
2    8.0
3    8.0
4    9.0
Name: last_pymnt_d_month, dtype: float64

In [148]:
# Create the last_pymnt_d_year column
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df['last_pymnt_d_year'].head()

0    2020.0
1    2020.0
2    2020.0
3    2020.0
4    2019.0
Name: last_pymnt_d_year, dtype: float64

In [149]:
# I infer that the new columns have null values,
# since they're dtype float
df[['last_pymnt_d_month', 'last_pymnt_d_year']].isnull().sum()

last_pymnt_d_month    159
last_pymnt_d_year     159
dtype: int64

In [150]:
# Look at the dataset after all changes
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,issue_year,issue_month,days_from_earliest_credit_to_issue,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,27975,27975,27975.0,36,14.47,962.52,C,C2,Conductor,10+ years,MORTGAGE,180000.0,Not Verified,2018-12-01,Fully Paid,n,credit_card,Credit card refinancing,117xx,NY,11.47,0,1995-07-01,0,39.0,NaN,10,0,29711,66.8%,19,w,0.00,0.00,31804.529849,31804.53,27975.00,3829.53,0.0,0.00,0.0000,2020-01-01,20288.02,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,206072,0,1,0,1,17.0,15676,63.0,0,1,10861,65.0,44500,1,4,2,2,20607.0,7416.0,74.9,0,0,17.0,281,20,17,5,20.0,39.0,1.0,39.0,0,5,7,5,6,1,8,13,7,10,0.0,0,0,0,78.9,60.0,0,0,286525,45387,29500,25025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12,8554 days,1,1.0,2020.0
1,10000,10000,10000.0,60,12.98,227.43,B,B5,Printer,9 years,RENT,60000.0,Not Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,660xx,KS,14.90,0,2007-05-01,0,NaN,112.0,7,1,10677,54.2%,12,w,7352.95,7352.95,4487.310000,4487.31,2647.05,1840.26,0.0,0.00,0.0000,2020-08-01,227.43,Sep-2020,Aug-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,469,27595,0,2,1,1,11.0,16918,103.0,0,1,4337,76.0,19700,5,0,7,2,3942.0,4278.0,67.1,0,0,139.0,74,20,11,0,20.0,NaN,0.0,NaN,0,3,5,3,4,6,5,6,5,7,0.0,0,0,1,100.0,33.3,1,0,36200,27595,13000,16500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12,4232 days,1,8.0,2020.0
2,28000,28000,28000.0,60,13.56,645.15,C,C1,Project Manager,10+ years,MORTGAGE,128500.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,760xx,TX,27.35,1,1987-07-01,0,24.0,NaN,16,0,55206,75%,31,w,20667.91,20667.91,12871.360000,12871.36,7332.09,5539.27,0.0,0.00,0.0000,2020-08-01,645.15,Sep-2020,Aug-2020,0,71.0,1,Individual,NaN,NaN,NaN,0,0,455106,1,2,1,1,2.0,47753,79.0,0,0,17372,75.0,73700,0,1,1,1,30340.0,6875.0,98.0,0,0,126.0,373,72,2,3,72.0,65.0,3.0,24.0,0,9,11,10,10,9,11,17,11,15,NaN,0,0,1,94.0,100.0,0,0,542027,128345,55000,60331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12,11476 days,1,8.0,2020.0
3,16000,16000,16000.0,60,13.56,368.66,C,C1,Lmsw,10+ years,RENT,46000.0,Not Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,787xx,TX,11.09,1,1997-10-01,1,11.0,NaN,9,0,18946,32.1%,21,w,11503.84,11503.84,7570.880000,7570.88,4496.16,3074.72,0.0,0.00,0.0000,2020-08-01,368.66,Sep-2020,Aug-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,128218,1,2,0,0,37.0,109272,101.0,1,1,14999,36.0,59000,0,1,1,1,16027.0,38663.0,32.9,0,0,133.0,254,5,5,0,42.0,NaN,5.0,NaN,0,2,3,5,8,10,7,11,3,9,0.0,0,0,1,94.7,20.0,0,0,138125,128218,57600,79125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12,7731 days,1,8.0,2020.0
4,7500,7500,7500.0,36,10.72,244.55,B,B2,Program Manager,2 years,RENT,84000.0,Not Verified,2018-12-01,Charged Off,n,debt_consolidation,Debt consolidation,600xx,IL,3.86,0,2005-05-01,1,NaN,114.0,9,1,2200,12.6%,17,w,0.00,0.00,2829.930000,2829.93,1465.61,484.09,0.0,880.23,158.4414,2019-09-01,244.55,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,381442,1,5,2,2,3.0,18633,111.0,0,2,2123,61.0,17400,3,1,3,5,42382.0,15200.0,12.6,0,0,163.0,105,13,3,1,13.0,NaN,3.0,NaN,0,2,2,3,4,10,3,6,2,9,0.0,0,0,2,76.5,0.0,1,0,403892,20833,17400,16812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,12,4962 days,0,9.0,2019.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [177]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-09-05 21:25:54--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.86.134
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.86.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  43.3MB/s    in 4.9s

2020-09-05 21:26:00 (40.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [178]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [179]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## More Loan Stats
### Converting strings with "%" to floats

In [154]:
df['revol_util'].head()

0    66.8%
1    54.2%
2      75%
3    32.1%
4    12.6%
Name: revol_util, dtype: object

In [155]:
# Look at 1 cell of the column
df['revol_util'][0]

'66.8%'

In [156]:
# Write a function to clean the column
# which could be used for all columns with percent strings
def clean_percents(val):
  if isinstance(val, str):
    return float(val.strip().strip('%'))
  else:
    return val

# Clean the revol_util column
df['revol_util'] = df['revol_util'].apply(clean_percents)
df['revol_util'].head()

0    66.8
1    54.2
2    75.0
3    32.1
4    12.6
Name: revol_util, dtype: float64

### Replacing uncommon job titles with "Other"

In [157]:
# Print the top 50 job titles to see if any can be condensed
df['emp_title'].value_counts()[:50]

Unknown                     20947
Teacher                      2557
Manager                      2395
Registered Nurse             1418
Driver                       1258
Supervisor                   1160
Truck Driver                  920
Rn                            834
Office Manager                805
Sales                         803
General Manager               791
Project Manager               720
Owner                         625
Director                      523
Operations Manager            518
Sales Manager                 500
Police Officer                440
Nurse                         425
Technician                    420
Engineer                      412
Administrative Assistant      409
Store Manager                 398
Mechanic                      391
Assistant Manager             383
Server                        357
Account Manager               355
Vice President                352
Accountant                    335
Electrician                   302
Foreman                       302
President                     293
Machine Operator              284
Customer Service              283
Executive Assistant           278
Branch Manager                267
Operator                      267
Attorney                      264
Maintenance                   254
Paralegal                     249
Superintendent                248
Bartender                     237
Program Manager               226
Software Engineer             221
Cashier                       215
Analyst                       214
Medical Assistant             212
Machinist                     209
Cook                          200
Cna                           196
Sales Associate               191
Name: emp_title, dtype: int64

In [161]:
# Write a function to condense duplicate or near-duplicate titles
def condense_titles(title, old_title, new_title):
  if title == old_title:
    return new_title
  else:
    return title
    
# Apply the function to duplicate nursing titles
emp_title_col = df['emp_title']
emp_title_col = emp_title_col.apply(condense_titles, args=('Rn', 'Registered Nurse'))
emp_title_col = emp_title_col.apply(condense_titles, args=('Nurse', 'Registered Nurse'))

# Check the top 50 titles again
emp_title_col.value_counts()[:50]

Unknown                     20947
Registered Nurse             2677
Teacher                      2557
Manager                      2395
Driver                       1258
Supervisor                   1160
Truck Driver                  920
Office Manager                805
Sales                         803
General Manager               791
Project Manager               720
Owner                         625
Director                      523
Operations Manager            518
Sales Manager                 500
Police Officer                440
Technician                    420
Engineer                      412
Administrative Assistant      409
Store Manager                 398
Mechanic                      391
Assistant Manager             383
Server                        357
Account Manager               355
Vice President                352
Accountant                    335
Foreman                       302
Electrician                   302
President                     293
Machine Operator              284
Customer Service              283
Executive Assistant           278
Operator                      267
Branch Manager                267
Attorney                      264
Maintenance                   254
Paralegal                     249
Superintendent                248
Bartender                     237
Program Manager               226
Software Engineer             221
Cashier                       215
Analyst                       214
Medical Assistant             212
Machinist                     209
Cook                          200
Cna                           196
Sales Associate               191
Controller                    187
Service Manager               186
Name: emp_title, dtype: int64

In [170]:
# Do the same with managerial titles
manager_titles = ['Office Manager', 'General Manager', 'Sales Manager', 'Store Manager',
                  'Operations Manager', 'Project Manager', 'Assistant Manager', 'Account Manager',
                  'Program Manager', 'Service Manager', 'Branch Manager']
for title in manager_titles:
  emp_title_col = emp_title_col.apply(condense_titles, args=(title, 'Manager'))

emp_title_col.value_counts()[:20]

Unknown                     20947
Manager                      7544
Registered Nurse             2677
Teacher                      2557
Driver                       1258
Supervisor                   1160
Truck Driver                  920
Sales                         803
Owner                         625
Director                      523
Police Officer                440
Technician                    420
Engineer                      412
Administrative Assistant      409
Mechanic                      391
Server                        357
Vice President                352
Accountant                    335
Electrician                   302
Foreman                       302
Name: emp_title, dtype: int64

In [171]:
# Do the same with driver duplicate titles
emp_title_col = emp_title_col.apply(condense_titles, args=('Truck Driver', 'Driver'))

# Check top 20 titles
emp_title_col.value_counts()[:20]

Unknown                     20947
Manager                      7544
Registered Nurse             2677
Teacher                      2557
Driver                       2178
Supervisor                   1160
Sales                         803
Owner                         625
Director                      523
Police Officer                440
Technician                    420
Engineer                      412
Administrative Assistant      409
Mechanic                      391
Server                        357
Vice President                352
Accountant                    335
Electrician                   302
Foreman                       302
President                     293
Name: emp_title, dtype: int64

In [176]:
# Replace the remaining titles with "Other"
top_titles = emp_title_col.value_counts()[:20]
def replace_titles_with_other(title):
  if title in top_titles:
    return title
  else:
    return 'Other'

# Apply the function
emp_title_col = emp_title_col.apply(replace_titles_with_other)
 
 # Check top titles again
print(emp_title_col.value_counts())

Other                       85385
Unknown                     20947
Manager                      7544
Registered Nurse             2677
Teacher                      2557
Driver                       2178
Supervisor                   1160
Sales                         803
Owner                         625
Director                      523
Police Officer                440
Technician                    420
Engineer                      412
Administrative Assistant      409
Mechanic                      391
Server                        357
Vice President                352
Accountant                    335
Electrician                   302
Foreman                       302
President                     293
Name: emp_title, dtype: int64

## Instacart Data

### Exploratory Data Analysis

In [181]:
!head orders.csv

order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2539329,1,prior,1,2,08,
2398795,1,prior,2,3,07,15.0
473747,1,prior,3,3,12,21.0
2254736,1,prior,4,4,07,29.0
431534,1,prior,5,4,15,28.0
3367565,1,prior,6,2,07,19.0
550135,1,prior,7,1,09,20.0
3108588,1,prior,8,1,14,14.0
2295261,1,prior,9,1,16,0.0

In [183]:
!head products.csv

product_id,product_name,aisle_id,department_id
1,Chocolate Sandwich Cookies,61,19
2,All-Seasons Salt,104,13
3,Robust Golden Unsweetened Oolong Tea,94,7
4,Smart Ones Classic Favorites Mini Rigatoni With Vodka Cream Sauce,38,1
5,Green Chile Anytime Sauce,5,13
6,Dry Nose Oil,11,11
7,Pure Coconut Water With Orange,98,7
8,Cut Russet Potatoes Steam N' Mash,116,1
9,Light Strawberry Blueberry Yogurt,120,16

In [212]:
# Load the data into dataframes
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv', index_col=0)
order_products = pd.read_csv('order_products__train.csv')
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [213]:
# Look at the orders dataframe
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [197]:
# Look at the products dataframe
products.head()

,product_name,aisle_id,department_id
product_id,,,
1,Chocolate Sandwich Cookies,61,19
2,All-Seasons Salt,104,13
3,Robust Golden Unsweetened Oolong Tea,94,7
4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
5,Green Chile Anytime Sauce,5,13

In [209]:
orders = orders.drop(columns=['order_id', 'user_id'])
orders.head()

  eval_set  order_number  order_dow  order_hour_of_day  days_since_prior_order
0    prior             1          2                  8                     NaN
1    prior             2          3                  7                    15.0
2    prior             3          3                 12                    21.0
3    prior             4          4                  7                    29.0
4    prior             5          4                 15                    28.0

In [211]:
orders.describe()

       order_number     order_dow  order_hour_of_day  days_since_prior_order
count  3.421083e+06  3.421083e+06       3.421083e+06            3.214874e+06
mean   1.715486e+01  2.776219e+00       1.345202e+01            1.111484e+01
std    1.773316e+01  2.046829e+00       4.226088e+00            9.206737e+00
min    1.000000e+00  0.000000e+00       0.000000e+00            0.000000e+00
25%    5.000000e+00  1.000000e+00       1.000000e+01            4.000000e+00
50%    1.100000e+01  3.000000e+00       1.300000e+01            7.000000e+00
75%    2.300000e+01  5.000000e+00       1.600000e+01            1.500000e+01
max    1.000000e+02  6.000000e+00       2.300000e+01            3.000000e+01