<a href="https://colab.research.google.com/github/KevinAkat/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/Kevin_Akat_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
# Let's import Pandas:

import pandas as pd

# Also, let's import the data set via url from lecture earlier today:

df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

In [0]:


# A few learnings here:

#1) It makes sense to do df.shape BEFORE df.types because you get a bird's eye
# view of how large the file is, how many rows/columns there are. One analogy
# I can think of is if you just bought a huge plot of land with all sorts of things you 
# can do with it. First, you want a general sense of size and scope of the land even
# before you know what's on it. This would be analogous to df.shape.

# Then you'll want to kinda briefly explore the edges of the land to get a sense for
# what the lay of the land looks like. You can infer a few quick things about the land
# just by surveying the edges. This would be akin to df.head() and df.tail(). How many
# rows you choose to investigate would be analogous to how far inalnd you wish to survey
# the land until you have a good sense for what you're dealing with. df.head(10) would mean
# you went double the distance into the entrance of the land than df.head(5).

# So, now you briefly investigated the land from a macro perspective, it's time to identify 
# the different land types on the plot. Some applications of the land may be more useful 
# than others depending on what we consider productive use of the broader plot. 
# Some land will be riverwater, some will be trees/vegetation, some will have fertile soil and there
# may be some rocky terrain as well. Each land type has its own unique beheavior that will require
# special handling, have certain drawbacks, but also certain benefits. This is directly analgous
# with working with different data types. We'll want to view these data types to understand
# which part of the land to focus our efforts on to extract the most amount of value. 

# We can excavate dataland to mine for golden nuggets of information. We can change
# land types by converting forest area into arable farm land, for example. This would
# be comparable to converting an integer to a string. However, some strings can fundamentally
# NOT be converted into an integer, much the same way that arable farmland cannot be
# immediately converted into a woodland area. Trees take years to grow. The analogy
# falls a part since arable farm land can *eventually* be converted into a woodland area,
# but for all intents and purposes on smaller time-scales, this is not possible.

# We can choose to view the land from various angles and at different scales. We can
# even scout different subsections of the land. If "df" = the entire plot of land, 
# we can choose to scout various subsections of the land with the following syntax:
# df[Longitude 1, Longitude 5, Longitude 7]. This would give my surveyors North/South
# plots of land to scout. 

# As my team of scouts go on to check Longitude #1 (Column 1 AKA Some column name),
# they quickly survey this subsection of land by doing df[Longitude 1], by checking out
# the first 5 - 10 on the edges of the scouts' assigned plot, they realize the trees have
# been pre-marked already as broadly defined "plants". This is weird because the surveyours
# look at the land and these appear to all be trees. They are all different species of tree, but
# they are all known and singualr species of trees none the less. 
# Discrete and clear. By marking them as "plants", the people
# who surveyed this part of the land before wanted to be broad on purpose. They ran across
# bushes, burnt down trees, shrubbery, and all kinds of plant life. In fact, much of the plant
# life was pretty unknown. These unknown plant species were marked as "NaN". In the current
# example, NaNs are useless because we don't know what to do with them. In the real world,
# NaNs can be useless or we can go out and do more research on the unknowns to add to the 
# knowledge base. This can be likened to conducting more complete data collection. So, the
# plants are kind of like floats since it's very broad, and plants can "kinda be like one plant"
# and "kinda be like another". Some plants may be hybrids of two parent species, which would
# make them fractional species of both, in the same way that floats are fractional/continous values.
# The purpose of having NaNs act as floats it to keep the categories consistent. It would be safe
# to say that "Let's lump these weird hybrid, burnt down, or unknown plants" with the ones that
# we know are for sure plants because we definitely cannot call the former group "trees" 
# or identify them as a specific species of tree (discrete values). It's # being broad to avoid 
# a misclassification. 

# Each tree, plant, or "thing on the land" along this longitudal line has its own lattitudal line. Lattitudal lines
# in this example can be likened to rows. It seems that this longitudal line has two kinds of land types
# Trees (that are discrete and identifiable) and NaN Plants which are not unknown types of plants. However,
# all were marked as "Continous plant types". Upon surveying the first 5-10 at the head and tail
# of this Longitude Line 1, we see that all these trees are clearly discrete and identifiable single species
# (non-hybrid or non-fractional plants). Just to verify, we're going to send the scouts of Longitude 1
# entirely up and down the longitudal line (the column) to count up all the species of trees. So, maybe 
# there are 500 Oak, 456 Pine, 380 Redwood, and so forth. To do this, we first need to identify the
# subsection longitudal plot of our land, THEN tell the scouts what to do with that allotted portion of land.
# In English, we say "On Plot of Land A, Focus on Longitude 1. Go count up all the different species of trees!"
# In Python, we say "df['Longitude1'].value_counts()"". Low and behold, all the scouts went out and counted up all
# the trees based on category. They ignored all the NaN plants in the Longitudal area. So, why were all these 
# clear discrete trees marked as broad, continous, hybrid species plants?

# I figure there must be at least 1 NaN continous plant on this longitudal line, so I order my scouts to 
# do a simple summation of all the NaN, broadly defined unknown plants on their subsections.
# In Egnlish, we say "(Is anything missing)(On Plot of Land A, Focus on Longitude 1). (Go sum up all the NaN plants!")
# In Python, we say "pd.isnull(df[Longitude1]).sum()". 
# Low and behold, there are 2,580 NaN Unknwn/unidentified plants.

# Okay, so now we want to start valuing the woodlands and put a price on things. We want to 
# get a sense for which trees will convert to the highest yielding profit margins. Some trees
# have more bark, more valuable bark, wide diameters etc. Many variables affect the price
# of a given tree's value. I tell my scouts to focus on "Longitudes, 2,4,6,8". We scout the first
# 10 rows or lattitudes along these longitudal lines. Longitudes 2, 4, and 6 are all specific trees
# with discrete surface area values attached to them. Turns out, we already know ahead of time (based on past data) 
# exactly how much money lumberjacks (lol) would pay for these trees (when converted into sellable wood) 
# Longitude 8 is a vacant plot of land that we dump fake money into just so we can visualize the stacks of cash
# that would come from selling *everything* on that lattitudal line. However, we think the "things" or trees
# on Longitudes 2, 4, and 6 (sufrace area of tree bark) are closely tied to the 
# stack size of cash we'd get in Longitude 8. 

# So, it's getting annoying having to say Plot A --> Longitudes 2, 4, 6, and 8 everytime. 
# So, I'm going to section this off to another variable. This variable will be used to more 
# conveniently refer to "This subsection of land I told you to work on". If the entire land plot
# is called df, we can call the subsection of land df_zone1 = All land on Longitude 2, 4, 6, 8.
# So, now when I refer to df_zone1, we all know what area of the map we're talking about. 
# In Python and in the square footage example, we'll say:
# df_zone1 = [[Longitude2, Longitude4, Longitude6, Longitude8]].copy()
# In Python, our scouts are dumb, so when we subsection off Longitudal areas of the map
# we need to be more explicit, so we say ".copy()" just so they know that we are
# making an explicit copy of this smaller dataframe. In Python, we use lists to 
# group different types of data together. We use square brackets to do as it binds
# them together into a recallable group (when saved to a variable). In this particular
# set of code, we needed to double bracket since the inside set of brackets groups
# all the Longitudes together, then the second outside set of brackets says "Focus on this"
# You can focus on a single element or range of elements, which would require single
# brackets, but if you focus on a group that identifies explicitly as a group, 
# you may need to have 2 sets of brackets: one to say "everyone in these walls are part of one team"
# and one to say "Okay, focus on every element located within this one team" (the outside brackets)

# Alright, so no we're dealing with df_zone1, a subsection of land we can regularly refer to 
# without all the dumb scouts asking "Wait, which land agian? Please remind me."
# I realized that I need to annex more land to my overall plot. I want to sum the
# surface area of Longitudes 2, 4, and 6 to get an idea of Total volume of tree bark
# this tree has. I buy a new plot of land, exactly 1 Longitude worth to add these up.
# I do this by saying:
# zone1['Total_Surface_Area'] = zone1['Longitude 2'] + zone1[Longitude 4'] + zone1['Longitude 6']
# I'm gonna guess that specifying specifically zone1 makes changes to the smaller plot of land,
# but not the larger plot of land?

# Okay, now I want to calculate price per cubic foot of bark. I purchas a new longitude on the 
# subsection plot of land by saying:
# Longitude 8 (Price) / Longitude 10 (Total cubic foot/surface area of tree bark)
# In Python, df_zone1['Price_per_Cubic_Foot'] = dfzone1['Longtiude8']/dfzone1['Longitude10']

In [7]:
# Looks like it is standard to check the head, tail, dtypes, and shape of the initial analysis
# In doing so, I can avoid things like the mistake I made yesterday, which was importing
# one data set that had all categorical vs. one that had all continous data.

# Let's check the head and tail:


print(df.shape)
print(df.head(10))
df.tail(10)

(1460, 81)
   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000
5   6          50       RL  ...        WD         Normal    143000
6   7          20       RL  ...        WD         Normal    307000
7   8          60       RL  ...        WD         Normal    200000
8   9          50       RM  ...        WD        Abnorml    129900
9  10         190       RL  ...        WD         Normal    118000

[10 rows x 81 columns]

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
1450  1451          90       RL  ...        WD         Normal    136000
1451  1452          20       RL  ...       New        Partial    287090
1452  1453         180       RM  ...        WD         Normal    145000
1453  1454          20       RL  ...        WD        Abnorml     84500
1454  1455          20       FV  ...        WD         Normal    185000
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[10 rows x 81 columns]

In [35]:
# A few things to notice: 

# The data is truncated. 
# There are length 81 data types. We can only see 10
# If we want to see all of the datatypes for all the columns, 
# We can tweak our settings to do that for the entire document.
# In the land allegory, we can survey the land by using tools, 
# Say, binoculars of some sort. Well, if we want to see a bigger
# scope of the land, we can tweak these binoucluars using a python function
# pd.set_option('display.max_columns,100). This tweaks my binouculars/scouts
# to "Look at up to 100 Longitudes and check the type of land we have there"
# The Python equivalent is "Look at up to 100 columns and check the type of data we have there."

# What I don't understand is what's the differnce between the .max_columns and .max_rows
# portion of this? They seem to produce the same results. I coped out the display.max_rows
# portion of the display setting only to do the assignment properly, but not sure what
# the code is actually doing whereas the display.max_columns function is much clearer
# to me in terms of what it's doing.

pd.set_option('display.max_rows',120)
pd.set_option('display.max_columns', 100)

df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [36]:
# Look at the first ten rows of the `BedroomAbvGr` column.
# Looks like integers to me!
# In my allegory, this code is saying: On overall plot of land--> df, Look at
# This area of Longitude extnding North/South--> ['BedroomAbvGr']
# As Python usually does, it'll show me the top 5 and bottom 5 values.
# As Ryan shrewdly observed, these are integers!
df['BedroomAbvGr']

0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1460, dtype: int64

In [38]:
# Look at the first ten rows of the `LotFrontage` column.

df['LotFrontage'].head(10)

# Ryan's comment in the lecture doc said to Look at the first 10 rows, but his
# code output looked at First 5 and Last 5. I wrote the code
# that matches with the comment instructions. 
# In my analogy, the "Longitude" on the map is df['LotFrontage']. We scouted
# the first 10 trees on that column. We see 9 distinct-species trees (integers)
# that were previously marked by past scouts as "Fractional species plants"
# and at index 7, we see a completely unknown specices of plant.

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

Hmmm, do the values above look like floats to you?

They all have .0 on them so technically they're being stored as floats, but should they be stored as floats?

Lets see what all of the possible values for this column are.

In [49]:
# Sending the scouts into column called 'LotFronage'. I want them 
# to give me a count of all known species of plant in 
# along their assigned area of longitude. In this assignment,
# I want all known values of 'LotFrontage' in a count function.

df['LotFrontage'].value_counts()

60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
21.0      23
90.0      23
68.0      19
24.0      19
64.0      19
73.0      18
72.0      17
79.0      17
63.0      17
55.0      17
100.0     16
51.0      15
66.0      15
74.0      15
52.0      14
59.0      13
71.0      12
82.0      12
40.0      12
43.0      12
67.0      12
57.0      12
69.0      11
76.0      11
86.0      10
53.0      10
34.0      10
92.0      10
88.0      10
62.0       9
44.0       9
84.0       9
77.0       9
35.0       9
93.0       8
61.0       8
98.0       8
96.0       8
107.0      7
120.0      7
95.0       7
58.0       7
41.0       6
30.0       6
81.0       6
89.0       6
105.0      6
48.0       6
110.0      6
94.0       6
54.0       6
91.0       6
36.0       6
47.0       5
37.0       5
83.0       5
56.0       5
87.0       5
32.0       5
42.0       4
49.0       4
102.0      4
103.0      3
108.0      3
99.0       3
104.0      3
45.0       3
130.0      3
174.0      2
97.0       2
134.0      2
313.0      2
129.0      2
124.0      2
118.0      2
101.0      2
122.0      2
121.0      2
115.0      2
109.0      2
116.0      2
114.0      2
150.0      1
111.0      1
153.0      1
182.0      1
46.0       1
112.0      1
149.0      1
141.0      1
33.0       1
152.0      1
160.0      1
168.0      1
128.0      1
144.0      1
39.0       1
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, dtype: int64

Some columns hold float values like the LotFrontage column.
[ ]

Hmmm, do the values above look like floats to you?

They all have .0 on them so technically they're being stored as floats, but should they be stored as floats?

Lets see what all of the possible values for this column are.
[ ]

Looks to me like the LotFrontage column originally held integer values but was cast to a float meaning that each original integer values was converted to its corresponding float representation.

Any guesses as to why that would have happened?

HINT: What's the most common LotFrontage value for this column?

In [44]:
# In the lecture doc, Ryan repeated the df['LotFrontage'].value_counts() function,
# but according to the blurb before, it sounds like he's suspicious of floats
# being caused by NaN values. Going to sum up all NaN in the column. In my analogy
# I'm sending the scouts out to count up all unknown plants in the ['LotFrontage']
# Longitude area/column.

df['LotFrontage'].isnull().sum()

# There are 259 NaN values in the LotFrontage column.

259

In [58]:
# The in-built type() function won't work on determining what kind of 
# Data type a NaN value is, so we need to import numpy before performing
# the "What Datatype is this?" function on NaN specifically. Note, the 
# in-built Python function "type" *Can* evaluate NaN values as floats.
# I double checked and at index 7 in the 'LotFrontage" column, there is 
# a NaN value there. Python reads it as a numpy.float value. Interesting.

print(type(df['LotFrontage'][7]))

# Importing numpy
import numpy as np

# Using numpy to test what kind of Datatype a NaN value is:

type(np.NaN)

<class 'numpy.float64'>

float

In [68]:
# I can make a smaller dataframe with a few specific column headers
# by passing a list of column headers inside of the square brackets

# Let's get parse out a smaller plot of land and call it by a new name
# that we'll assign to a variable. Basically, let's make a smaller
# subset of a dataframe. In the lecutre, we created a Dataframe of
# BasementSF, 1st Floor SF, 2n 2nd Floor SF, and Price.

df_subset = df[['TotalBsmtSF','1stFlrSF','2ndFlrSF', 'SalePrice']].copy()

df_subset.head(10)

# Note to self: When subsetting into a smaller DF, I forgot a few things:
# 1) I remembered the inner brakcets that says "We're rounding up these" columns"
# However, what I forgot was the outer brackets that targets the inner brakcet group
# 2) I I forgot to put .copy() to make an explicit copy of the subsetted DF.
# 3) Obvious, but I forgot the df part before the brackets, which is obvious
# because you have to tell which part of the larger plot of land to subset. I
# could be referring to any overall plot of land (dataframe), but my dummy
# Python asssitant is basically a robot and doens't know what I mean unless 
# I'm very explicit and literal.

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000
5          796       796       566     143000
6         1686      1694         0     307000
7         1107      1107       983     200000
8          952      1022       752     129900
9          991      1077         0     118000

In [73]:
# Creating a Column Header Variable:

Total_Basement_SqFt_Variable = df_subset['TotalBsmtSF']

Total_Basement_SqFt_Variable.head(10)

# Cool! ^

0     856
1    1262
2     920
3     756
4    1145
5     796
6    1686
7    1107
8     952
9     991
Name: TotalBsmtSF, dtype: int64

In [74]:
# Dot notation syntax does not work for calling column header variables, apparently.
# I am not sure why?

df_subset.Total_Basement_SqFt_Variable

# I'll leave the error cell.

AttributeError: ignored

In [79]:
# Let's add up all of the square footage to get a single square footage 
# column for the entire dataset

# Using bracket syntax to make a new 'TotalSquareFootage' column

df_subset['Total_Square_Footage'] = df_subset['TotalBsmtSF'] + df_subset['1stFlrSF'] + df_subset['2ndFlrSF'] 

df_subset['Total_Square_Footage'].head()

df_subset.head(10)

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  Total_Square_Footage
0          856       856       854     208500                  2566
1         1262      1262         0     181500                  2524
2          920       920       866     223500                  2706
3          756       961       756     140000                  2473
4         1145      1145      1053     250000                  3343
5          796       796       566     143000                  2158
6         1686      1694         0     307000                  3380
7         1107      1107       983     200000                  3197
8          952      1022       752     129900                  2726
9          991      1077         0     118000                  2068

In [82]:
# Let's make a nother new column that is 'PricePerSqFt' by
# dividing the price by the square footage

df_subset['PricePerSqFt'] = df_subset['SalePrice'] / df_subset['Total_Square_Footage']

df_subset.head(10)

,TotalBsmtSF,1stFlrSF,2ndFlrSF,SalePrice,Total_Square_Footage,PricePerSqFt
0,856,856,854,208500,2566,81.254871
1,1262,1262,0,181500,2524,71.909667
2,920,920,866,223500,2706,82.594235
3,756,961,756,140000,2473,56.611403
4,1145,1145,1053,250000,3343,74.783129
5,796,796,566,143000,2158,66.265060
6,1686,1694,0,307000,3380,90.828402
7,1107,1107,983,200000,3197,62.558649
8,952,1022,752,129900,2726,47.652238
9,991,1077,0,118000,2068,57.059961

###Uploading the Loan Dataset (Zip File)

In [83]:
# Using !wget command to load Loan Dataset from zip file

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-11 09:15:31--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.71M   893KB/s    in 25s

2020-03-11 09:15:56 (884 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22763850]

In [84]:
# Using the unzip command to grab the actual CSV file using !unzip command

!unzip LoanStats_2018Q4.csv.zip

# Note to self - Once !unzip is written, use files tab to left to get file name

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [91]:
# Using !head and !tail commands to scope out the head and tail of the
# newly unzipped CSV file

!head LoanStats_2018Q4.csv
!tail LoanStats_2018Q4.csv


# Interesting note: In regular Python, only the last line of code prints out
# without explicitly needing to tell it to print. However, with these shell
# based commands, we don't need to tell other "non-final" lines of code
# to print.

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 60 months"," 16.14%","243.93","C","C4","Sale Consultant","2 years","RENT","90000","Not Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","079xx","NJ","8.8","0","Mar-1991","1","","43","11","1","10582","58.5%","32","w","0.00","0.00","10661.0577272374","10661.06","10000.00","661.06","0.0","0.0","0.0","May-2019","9698.79","","Dec-2019","0","","1","Individual","","","","0","0","15470","1","1","0","1","18","4888","65","1","3","2969","60","18100","2","0","2","4","1719","4906","67.3","0","0","133","333","2","2","1","2","","1","","0","4","6","5","15","6","8","23","6","11","0","0","0","1","100","80","1","0","25600","15470","15000","7500","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6500","6500","6500"," 36 months"," 11.80%","215.28","B","B4","Educator ","2 years","RENT","46500","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","352xx","AL","21.01","0","Aug-2011","1","61","","24","0","6741","41.6%","30","w","4411.89","4411.89","2792.25","2792.25","2088.11","704.14","0.0","0.0","0.0","Feb-2020","0.0","Mar-2020","Jan-2020","0","61","1","Individual","","","","0","0","40223","4","12","2","2","5","33482","97","7","12","3662","79","16200","2","0","4","14","1749","7694","42.2","0","0","88","72","1","1","0","3","","5","61","2","6","10","6","6","14","11","16","10","24","0","0","0","9","93.3","0","0","0","50845","40223","13300","34645","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4500","4500","4500"," 36 months"," 11.31%","147.99","B","B3","Accounts Examiner III","10+ years","RENT","38500","Not Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","786xx","TX","4.64","0","Dec-2003","0","25","","12","0","4472","15.3%","25","w","0.00","0.00","4549.2171485504","4549.22","4500.00","49.22","0.0","0.0","0.0","Feb-2019","4553.46","","Feb-2020","0","25","1","Individual","","","","0","306","29137","2","1","1","1","3","24665","100","3","7","3612","54","29200","0","3","3","8","2428","10735","28.9","0","0","180","69","2","2","0","2","","6","","1","3","5","5","6","10","11","15","5","12","0","0","0","4","91.7","0","0","0","53795","29137","15100","24595","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 14.47%","587.82","C","C2","teacher","10+ years","OWN","110000","Not Verified","Dec-2018","Late (31-120 days)","n","","","credit_card","Credit card refinancing","117xx","NY","26.43","1","Jan-1997","0","7","","23","0","39053","45.7%","49","w","21975.89","21975.89","5848.05","5848.05","3024.11","2823.94","0.0","0.0","0.0","Oct-2019","587.82","Mar-2020","Jan-2020","0","7","1","Individual","","","","0","0","95648","0","3","0","0","35","54716","23","1","2","8422","39","85500","0","1","0","2","4159","34837","44.5","0","0","263","246","10","10","0","48","","","","0","9","13","10","14","21","19","27","13","23","0","0","1","1","98","10","0","0","179321","95648","62800","91424","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 27.27%","920.91","E","E5","Claims Analyst","1 year","RENT","50000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","857xx","AZ","23.62","0","Dec-1997","1","","","10","0","1258","10.7%","16","w","26429.58","26429.58","11903.65","11903.65","3570.42","8333.23","0.0","0.0","0.0","Feb-2020","0.0","Mar-2020","Jan-2020","0","","1","Individual","","","","0","0","27364","1","4","1","2","6","26106","76","0","1","1258","59","11800","2","0","1","3","2736","8842","12.5","0","0","84","252","16","6","0","16","","6","","0","1","1","4","4","7","6","9","1","10","0","0","0","1","100","0","0","0","46300","27364","10100","34500","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.14%","352.27","C","C4","Training Manager","10+ years","MORTGAGE","94800","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","325xx","FL","28.59","0","Jan-2009","1","","","18","0","49976","65.8%","37","w","6928.87","6928.87","4566.06","4566.06","3071.13","1494.93","0.0","0.0","0.0","Feb-2020","0.0","Mar-2020","Jan-2020","0","","1","Individual","","","","0","0","361716","1","6","2","4","6","45778","64","0","1","8297","65","75900","1","15","4","6","20095","12249","49.2","0","0","107","119","15","6","4","36","","0","","0","2","8","3","7","16","11","17","8","18","0","0","0","3","100","33.3","0","0","415969","95754","24100","71489","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 12.98%","568.58","B","B5","Tire builder","10+ years","MORTGAGE","85000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","356xx","AL","36.67","1","Oct-1993","1","10","","14","0","26630","53.3%","27","w","20862.06","20862.06","7364.5","7364.50","4137.94","3226.56","0.0","0.0","0.0","Feb-2020","0.0","Mar-2020","Jan-2020","0","40","1","Joint App","140000","23.08","Not Verified","0","56","206980","1","7","1","3","3","69513","81","1","1","17292","68","50000","1","3","1","4","14784","18581","57.7","0","0","186","185","9","3","4","9","10","3","10","1","4","5","4","5","13","6","10","5","14","0","0","0","2","85.2","0","0","0","275691","96143","43900","99691","48711","Oct-1993","1","4","16","56.5","8","12","0","0","49","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3000","3000","3000"," 36 months"," 10.33%","97.27","B","B1","Driver","7 years","RENT","40000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","493xx","MI","10.68","0","Oct-2014","1","","67","3","1","3092","44.2%","5","w","1721.70","1721.70","1561.93","1561.93","1278.30","283.63","0.0","0.0","0.0","Feb-2020","0.0","Mar-2020","Jan-2020","0","","1","Individual","","","","0","0","12563","2","1","2","3","4","9471","95","0","0","3049","74","7000","4","2","2","3","4188","3908","44.2","0","0","13","50","46","4","0","46","","0","","0","2","2","2","2","3","2","2","2","3","0","0","0","2","100","0","1","0","17000","12563","7000","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","3387.58","3387.58","3032.81","3032.81","2212.42","820.39","0.0","0.0","0.0","Feb-2020","190.21","Mar-2020","Jan-2020","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","6101.42","6101.42","5539.82","5539.82","3898.58","1641.24","0.0","0.0","0.0","Feb-2020","346.76","Mar-2020","Jan-2020","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","3024.63","3024.63","2713.51","2713.51","1975.37","738.14","0.0","0.0","0.0","Feb-2020","169.83","Mar-2020","Jan-2020","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","5959.76","5810.77","5227.52","5096.83","4040.24","1187.28","0.0","0.0","0.0","Feb-2020","327.68","Mar-2020","Jan-2020","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","6168.49","6168.49","5687.89","5687.89","3831.51","1856.38","0.0","0.0","0.0","Feb-2020","356.08","Mar-2020","Jan-2020","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2048833825
Total amount funded in policy code 2: 819375497

In [0]:
# Saw Ryan put in a ?pd.read_csv function. Let's see what it does.

?pd.read_csv

# Oh, it brings up the help screen

In [98]:
# Okay now that we 1) loaded the Zip with !wget and unpacked it using  !unzip 
# we can go back to assigning the CSV to a Dataframe, inspecting it etc.

df_loans = pd.read_csv('LoanStats_2018Q4.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128287, 1)

In [111]:
# Let's get a scope of size and scale of the landscape:
# Let's also scout the edges of the landscape with head/tail functions

print(df_loans.shape)
df_loans.head()

# So, I intuitively get that the top line is causing a lot of errors,
# but, Ryan says that the top line which says:
# "Notes Offered by Prospectus"...
# Is causing the program to read the whole dataset as column headers?
# Why? What's going on behind the scenes?

(128287, 1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title             emp_length home_ownership annual_inc verification_status issue_d  loan_status        pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt      total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       10000     10000       10000            60 months  16.14%  243.93      C     C4        Sale Consultant       2 years    RENT           90000      Not Verified        Dec-2018 Fully Paid         n          NaN NaN  debt_consolidation Debt consolidation      079xx    NJ         8.8   0           Mar-1991         1              NaN                    43                     11       1       10582     58.5%      32        w                   0.00      0.00          10661.0577272374 10661.06        10000.00        661.06        0.0                0.0        0.0                     May-2019     9698.79         NaN          Dec-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            15470       1           1           0           1           18                 4888         65      1           3           2969       60       18100            2      0           2            4                    1719        4906           67.3    0                        0           133                333                  2                     2              1        2                    NaN                      1                     NaN                            0                     4              6               5           15        6         8             23            6                   11       0                0            0                  1                  100            80               1                    0         25600           15470             15000          7500                       NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              6500      6500        6500             36 months  11.80%  215.28      B     B4        Educator              2 years    RENT           46500      Source Verified     Dec-2018 Current            n          NaN NaN  debt_consolidation Debt consolidation      352xx    AL         21.01 0           Aug-2011         1              61                     NaN                    24       0       6741      41.6%      30        w                   4411.89   4411.89       2792.25          2792.25         2088.11         704.14        0.0                0.0        0.0                     Feb-2020     0.0             Mar-2020     Jan-2020           0                          61                          1           Individual       NaN              NaN       NaN                       0              0            40223       4           12          2           2           5                  33482        97      7           12          3662       79       16200            2      0           4            14                   1749        7694           42.2    0                        0           88                 72                   1                     1              0        3                    NaN                      5                     61                             2                     6              10              6           6         14        11            16            10                  24       0                0            0                  9                  93.3           0                0                    0         50845           40223             13300          34645                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              4500      4500        4500             36 months  11.31%  147.99      B     B3        Accounts Examiner III 10+ years  RENT           38500      Not Verified        Dec-2018 Fully Paid         n          NaN NaN  credit_card        Credit card refinancing 786xx    TX         4.64  0           Dec-2003         0              25                     NaN                    12       0       4472      15.3%      25        w                   0.00      0.00          4549.2171485504  4549.22         4500.00         49.22         0.0                0.0        0.0                     Feb-2019     4553.46         NaN          Feb-2020           0                          25                          1           Individual       NaN              NaN       NaN                       0              306          29137       2           1           1           1           3                  24665        100     3           7           3612       54       29200            0      3           3            8                    2428        10735          28.9    0                        0           180                69                   2                     2              0        2                    NaN                      6                     NaN                            1                     3              5               5           6         10        11            15            5                   12       0                0            0                  4                  91.7           0                0                    0         53795           29137             15100          24595                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              25000     25000       25000            60 months  14.47%  587.82      C     C2        teacher               10+ years  OWN            110000     Not Verified        Dec-2018 Late (31-120 days) n          NaN NaN  credit_card        Credit card refinancing 117xx    NY         26.43 1           Jan-1997         0              7                      NaN                    23       0       39053     45.7%      49        w                   21975.89  21975.89      5848.05          5848.05         3024.11         2823.94       0.0                0.0        0.0                     Oct-2019     587.82          Mar-2020     Jan-2020           0                          7                           1           Individual       NaN              NaN       NaN                       0              0            95648       0           3           0           0           35                 54716        23      1           2           8422       39       85500            0      1           0            2                    4159        34837          44.5    0                        0           263                246                  10                    10             0        48                   NaN                      NaN                   NaN                            0                     9              13              10          14        21        19            27            13                  23       0                0            1                  1                  98             10               0                    0         179321          95648             62800          91424                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [110]:
# Checking the tail

df_loans.tail()

# The tail error makes more sense as it's being read into the first
# column, so it's creating a bunch of NaNs to the right of it. 

# Also, why did the Head/Tail shell commands show the top/bottom blurbs
# But not in the Python Head/Tail commands?

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
NaN                                              NaN 5000  5000  5000   36 months  13.56% 169.83 C   C1  Payoff Clerk         10+ years MORTGAGE 35360.0 Not Verified    Oct-2018 Current n   NaN NaN debt_consolidation Debt consolidation      381xx TN  11.3  1   Jun-2006 0   21.0 NaN 9   0   2597 27.3% 15  f   3024.63 3024.63 2713.51 2713.51 1975.37 738.14  0.0 0.0 0.0 Feb-2020 169.83 Mar-2020 Jan-2020 0   NaN  1   Individual NaN NaN NaN 0   1413 69785 0   2   0   1   16.0 2379    40.0  3   4   1826 32.0 9500  0   0   1   5   8723   1174.0  60.9 0   0   147.0 85  9   9   2   10.0  21.0 9.0 21.0 0   1   3   2   2   6   6   7   3   9   0.0 0   0   3   92.9 50.0 0   0   93908   4976  3000  6028.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N   NaN NaN NaN NaN NaN                                                NaN
                                                     10000 10000 9750   36 months  11.06% 327.68 B   B3  NaN                  NaN       RENT     44400.0 Source Verified Oct-2018 Current n   NaN NaN credit_card        Credit card refinancing 980xx WA  11.78 0   Oct-2008 2   40.0 NaN 15  0   6269 13.1% 25  f   5959.76 5810.77 5227.52 5096.83 4040.24 1187.28 0.0 0.0 0.0 Feb-2020 327.68 Mar-2020 Jan-2020 0   53.0 1   Individual NaN NaN NaN 0   520  16440 3   1   1   1   2.0  10171   100.0 2   5   404  28.0 47700 0   3   5   6   1265.0 20037.0 2.3  0   0   61.0  119 1   1   0   1.0   NaN  1.0 40.0 1   2   4   6   8   3   14  22  4   15  0.0 0   0   3   92.0 0.0  0   0   57871.0 16440 20500 10171.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N   NaN NaN NaN NaN NaN                                                NaN
                                                                 10000  36 months  16.91% 356.08 C   C5  Key Accounts Manager 2 years   RENT     80000.0 Not Verified    Oct-2018 Current n   NaN NaN other              Other                   021xx MA  17.72 1   Sep-2006 0   14.0 NaN 17  0   1942 30.8% 31  w   6168.49 6168.49 5687.89 5687.89 3831.51 1856.38 0.0 0.0 0.0 Feb-2020 356.08 Mar-2020 Jan-2020 0   25.0 1   Individual NaN NaN NaN 0   0    59194 0   15  1   1   12.0 57252.0 85.0  0   0   1942 80.0 6300  0   5   0   1   3482   2058.0  48.5 0   0   144.0 142 40  12  0   131.0 30.0 NaN 30.0 3   1   1   1   5   22  2   9   1   17  0.0 0   0   1   74.2 0.0  0   0   73669   59194 4000  67369   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N   NaN NaN NaN NaN NaN                                                NaN
Total amount funded in policy code 1: 2048833825 NaN NaN   NaN   NaN   NaN        NaN     NaN    NaN NaN NaN                  NaN       NaN      NaN     NaN             NaN      NaN     NaN NaN NaN NaN                NaN                     NaN   NaN NaN   NaN NaN      NaN NaN  NaN NaN NaN NaN  NaN   NaN NaN NaN     NaN     NaN     NaN     NaN     NaN     NaN NaN NaN NaN      NaN    NaN      NaN      NaN NaN  NaN NaN        NaN NaN NaN NaN NaN  NaN   NaN NaN NaN NaN NaN  NaN     NaN   NaN NaN NaN  NaN  NaN   NaN NaN NaN NaN NaN    NaN     NaN  NaN NaN NaN   NaN NaN NaN NaN NaN   NaN  NaN NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN NaN NaN     NaN   NaN   NaN     NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN                                                NaN
Total amount funded in policy code 2: 819375497  NaN NaN   NaN   NaN   NaN        NaN     NaN    NaN NaN NaN                  NaN       NaN      NaN     NaN             NaN      NaN     NaN NaN NaN NaN                NaN                     NaN   NaN NaN   NaN NaN      NaN NaN  NaN NaN NaN NaN  NaN   NaN NaN NaN     NaN     NaN     NaN     NaN     NaN     NaN NaN NaN NaN      NaN    NaN      NaN      NaN NaN  NaN NaN        NaN NaN NaN NaN NaN  NaN   NaN NaN NaN NaN NaN  NaN     NaN   NaN NaN NaN  NaN  NaN   NaN NaN NaN NaN NaN    NaN     NaN  NaN NaN NaN   NaN NaN NaN NaN NaN   NaN  NaN NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN NaN NaN     NaN   NaN   NaN     NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN                                                NaN

In [114]:
# So, I guess we can simply add an argument to the read_csv function called
# skiprows. Cool. skiprows=1 will skip exactly the first row.

df_loans = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1)

df_loans.head(10)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,...,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000.0,10000.0,10000.0,60 months,16.14%,243.93,C,C4,Sale Consultant,2 years,RENT,90000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,079xx,NJ,8.80,0.0,Mar-1991,1.0,NaN,43.0,11.0,1.0,10582.0,58.5%,32.0,w,0.00,0.00,10661.057727,10661.06,10000.00,661.06,0.0,0.0,0.0,May-2019,9698.79,NaN,Dec-2019,0.0,...,6.0,8.0,23.0,6.0,11.0,0.0,0.0,0.0,1.0,100.0,80.0,1.0,0.0,25600.0,15470.0,15000.0,7500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,6500.0,6500.0,6500.0,36 months,11.80%,215.28,B,B4,Educator,2 years,RENT,46500.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,352xx,AL,21.01,0.0,Aug-2011,1.0,61.0,NaN,24.0,0.0,6741.0,41.6%,30.0,w,4411.89,4411.89,2792.250000,2792.25,2088.11,704.14,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0.0,...,14.0,11.0,16.0,10.0,24.0,0.0,0.0,0.0,9.0,93.3,0.0,0.0,0.0,50845.0,40223.0,13300.0,34645.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4500.0,4500.0,4500.0,36 months,11.31%,147.99,B,B3,Accounts Examiner III,10+ years,RENT,38500.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,786xx,TX,4.64,0.0,Dec-2003,0.0,25.0,NaN,12.0,0.0,4472.0,15.3%,25.0,w,0.00,0.00,4549.217149,4549.22,4500.00,49.22,0.0,0.0,0.0,Feb-2019,4553.46,NaN,Feb-2020,0.0,...,10.0,11.0,15.0,5.0,12.0,0.0,0.0,0.0,4.0,91.7,0.0,0.0,0.0,53795.0,29137.0,15100.0,24595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,25000.0,25000.0,25000.0,60 months,14.47%,587.82,C,C2,teacher,10+ years,OWN,110000.0,Not Verified,Dec-2018,Late (31-120 days),n,NaN,NaN,credit_card,Credit card refinancing,117xx,NY,26.43,1.0,Jan-1997,0.0,7.0,NaN,23.0,0.0,39053.0,45.7%,49.0,w,21975.89,21975.89,5848.050000,5848.05,3024.11,2823.94,0.0,0.0,0.0,Oct-2019,587.82,Mar-2020,Jan-2020,0.0,...,21.0,19.0,27.0,13.0,23.0,0.0,0.0,1.0,1.0,98.0,10.0,0.0,0.0,179321.0,95648.0,62800.0,91424.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000.0,30000.0,30000.0,60 months,27.27%,920.91,E,E5,Claims Analyst,1 year,RENT,50000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,857xx,AZ,23.62,0.0,Dec-1997,1.0,NaN,NaN,10.0,0.0,1258.0,10.7%,16.0,w,26429.58,26429.58,11903.650000,11903.65,3570.42,8333.23,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0.0,...,7.0,6.0,9.0,1.0,10.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,46300.0,27364.0,10100.0,34500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,10000.0,10000.0,10000.0,36 months,16.14%,352.27,C,C4,Training Manager,10+ years,MORTGAGE,94800.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,325xx,FL,28.59,0.0,Jan-2009,1.0,NaN,NaN,18.0,0.0,49976.0,65.8%,37.0,w,6928.87,6928.87,4566.060000,4566.06,3071.13,1494.93,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0.0,...,16.0,11.0,17.0,8.0,18.0,0.0,0.0,0.0,3.0,100.0,33.3,0.0,0.0,415969.0,95754.0,24100.0,71489.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,25000.0,25000.0,25000.0,60 months,12.98%,568.58,B,B5,Tire builder,10+ years,MORTGAGE,85000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,356xx,AL,36.67,1.0,Oct-1993,1.0,10.0,NaN,14.0,0.0,26630.0,53.3%,27.0,w,20862.06,20862.06,7364.500000,7364.50,4137.94,3226.56,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0.0,...,13.0,6.0,10.0,5.0,14.0,0.0,0.0,0.0,2.0,85.2,0.0,0.0,0.0,275691.0,96143.0,43900.0,99691.0,48711.0,Oct-1993,1.0,4.0,16.0,56.5,8.0,12.0,0.0,0.0,49.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,3000.0,3000.0,3000.0,36 months,10.33%,97.27,B,B1,Driver,7 years,RENT,40000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,493xx,MI,10.68,0.0,Oct-2014,1.0,NaN,67.0,3.0,1.0,3092.0,44.2%,5.0,w,1721.70,1721.70,1561.930000,1561.93,1278.30,283.63,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0.0,...,3.0,2.0,2.0,2.0,3.0,0.0,0.0,0.0,2.0,100.0,0.0,1.0,0.0,17000.0,12563.0,7000.0,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,1250.0,1250.0,1250.0,36 months,23.40%,48.65,E,E1,BANKER,10+ years,RENT,52000.0,Source Verified,Dec-2018,Fully Paid,n,NaN,NaN,other,Other,477xx,IN,9.90,0.0,Jan-2011,2.0,NaN,NaN,7.0,0.0,8050.0,28.9%,10.0,w,0.00,0.00,1512.844938,1512.84,1250.00,262.84,0.0,0.0,0.0,Dec-2019,980.13,NaN,Dec-2019,0.0,...,1.0,7.0,9.0,7.0,7.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,27900.0,8050.0,14200.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,7000.0,7000.0,6975.0,36 months,10.72%,228.25,B,B2,Business Analyst,< 1 year,MORTGAGE,97000.0,Source Verified,Dec-2018,Fully Paid,n,NaN,NaN,other,Other,201xx,VA,33.17,0.0,Sep-2011,1.0,NaN,NaN,18.0,0.0,1988.0,7.5%,30.0,f,0.00,0.00,7197.516809,7171.81,7000.00,197.52,0.0,0.0,0.0,Jul-2019,1346.14,NaN,Feb-2020,0.0,...,20.0,3.0,8.0,1.0,18.0,0.0,0.0,0.0,3.0,100.0,0.0,0.0,0.0,677593.0,115121.0,21600.0,160050.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
# We still have two columns of NaN. Like last time, we can run a sum of the NaN 
# for all the columns to see what's going on 
pd.set_option('display.max_columns', 150)

df_loans.isnull().sum().sort_values()

# So, a few things:

# 1) I had to set pd.set_option('display.max_columns', 150)  again...
# Didn't that register for the whole doc when I used it on the previous dataset?
# Since we're on the same Google Doc, shouldn't the code I run previously
# apply to all Data Frames on the same doc?

# 2) df.isnull().sum() seems to be a pretty standard function I should
# memorize as it enables me to get a really good visual for where the NaN
# values are in a Datset

# 3) .sortvalues() will work on the df.isnull.sum() function

# 4) Tested out valuecounts on the whole dataframe (For the hell of it) and
# it doesn't work on the entire DF, but does work on subsets/individual columns.

inq_fi                                             2
delinq_amnt                                        2
chargeoff_within_12_mths                           2
acc_open_past_24mths                               2
inq_last_12m                                       2
total_cu_tl                                        2
total_rev_hi_lim                                   2
max_bal_bc                                         2
open_rv_24m                                        2
open_rv_12m                                        2
total_bal_il                                       2
open_il_24m                                        2
hardship_flag                                      2
open_act_il                                        2
open_acc_6m                                        2
tot_cur_bal                                        2
tot_coll_amt                                       2
acc_now_delinq                                     2
application_type                                   2
policy_code                                        2
mo_sin_old_rev_tl_op                               2
mo_sin_rcnt_rev_tl_op                              2
mo_sin_rcnt_tl                                     2
mort_acc                                           2
total_il_high_credit_limit                         2
total_bc_limit                                     2
total_bal_ex_mort                                  2
tot_hi_cred_lim                                    2
tax_liens                                          2
pub_rec_bankruptcies                               2
pct_tl_nvr_dlq                                     2
num_tl_op_past_12m                                 2
num_tl_90g_dpd_24m                                 2
collections_12_mths_ex_med                         2
num_tl_30dpd                                       2
num_rev_tl_bal_gt_0                                2
num_rev_accts                                      2
num_op_rev_tl                                      2
num_il_tl                                          2
num_bc_tl                                          2
num_bc_sats                                        2
num_actv_rev_tl                                    2
num_actv_bc_tl                                     2
num_accts_ever_120_pd                              2
num_sats                                           2
last_pymnt_amnt                                    2
open_il_12m                                        2
debt_settlement_flag                               2
pub_rec                                            2
open_acc                                           2
grade                                              2
sub_grade                                          2
home_ownership                                     2
inq_last_6mths                                     2
annual_inc                                         2
verification_status                                2
earliest_cr_line                                   2
delinq_2yrs                                        2
issue_d                                            2
addr_state                                         2
zip_code                                           2
title                                              2
loan_status                                        2
pymnt_plan                                         2
installment                                        2
revol_bal                                          2
term                                               2
collection_recovery_fee                            2
loan_amnt                                          2
recoveries                                         2
total_rec_late_fee                                 2
funded_amnt                                        2
funded_amnt_inv                                    2
total_acc                                          2
total_rec_int                                      2
purpose                                            2
total_rec_prncp                                    2
total_pymnt_inv                                    2
total_pymnt                                        2
out_prncp_inv                                      2
out_prncp                                          2
initial_list_status                                2
int_rate                                           2
last_credit_pull_d                                 3
avg_cur_bal                                       15
all_util                                          39
revol_util                                       158
last_pymnt_d                                     161
dti                                              239
mths_since_recent_bc                            1590
bc_open_to_buy                                  1690
percent_bc_gt_75                                1691
bc_util                                         1753
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4475
mo_sin_old_il_acct                              4475
emp_length                                     11691
mths_since_recent_inq                          16037
il_util                                        20257
emp_title                                      20924
next_pymnt_d                                   31589
mths_since_last_delinq                         72127
mths_since_recent_revol_delinq                 91547
mths_since_last_major_derog                    99134
mths_since_recent_bc_dlq                      103146
sec_app_open_acc                              111524
sec_app_mort_acc                              111524
sec_app_inq_last_6mths                        111524
sec_app_earliest_cr_line                      111524
revol_bal_joint                               111524
sec_app_open_act_il                           111524
annual_inc_joint                              111524
dti_joint                                     111524
sec_app_collections_12_mths_ex_med            111524
sec_app_chargeoff_within_12_mths              111524
sec_app_num_rev_accts                         111524
sec_app_revol_util                            111782
mths_since_last_record                        112858
verification_status_joint                     113457
sec_app_mths_since_last_major_derog           123135
debt_settlement_flag_date                     127601
settlement_date                               127601
settlement_amount                             127601
settlement_status                             127601
settlement_term                               127601
settlement_percentage                         127601
hardship_status                               127974
deferral_term                                 127974
hardship_amount                               127974
hardship_start_date                           127974
hardship_end_date                             127974
payment_plan_start_date                       127974
hardship_length                               127974
hardship_dpd                                  127974
hardship_loan_status                          127974
hardship_reason                               127974
hardship_payoff_balance_amount                127974
hardship_last_payment_amount                  127974
hardship_type                                 127974
orig_projected_additional_accrued_interest    128027
id                                            128284
url                                           128286
member_id                                     128286
desc                                          128286
dtype: int64

In [0]:
# So, skiprows=1 will skip top 1 row and skipfooter=2 will skip bottom 2 rows.
# Importnat to remember that engine='python' is needed for the footer part.
# Has something to do with C being a lower level language and Python not
# interpreting stuff exactly the same. Don't care why at this point.
# I'll just remember to use engine argument with pd.read_csv function for now.

df_loans = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

In [145]:
print(df_loans.shape)
df_loans.head(10)

# Make sense that the row count went down by 3 from the initial shape function 
# since we deleted 3 rows.

(128284, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,60 months,16.14%,243.93,C,C4,Sale Consultant,2 years,RENT,90000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,079xx,NJ,8.80,0,Mar-1991,1,NaN,43.0,11,1,10582,58.5%,32,w,0.00,0.00,10661.057727,10661.06,10000.00,661.06,0.0,0.0,0.0,May-2019,9698.79,NaN,Dec-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,15470,1,1,0,1,18.0,4888,65.0,1,3,2969,60.0,18100,2,0,2,4,1719.0,4906.0,67.3,0,0,133.0,333,2,2,1,2.0,NaN,1.0,NaN,0,4,6,5,15,6,8,23,6,11,0.0,0,0,1,100.0,80.0,1,0,25600,15470,15000,7500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,6500,6500,6500.0,36 months,11.80%,215.28,B,B4,Educator,2 years,RENT,46500.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,352xx,AL,21.01,0,Aug-2011,1,61.0,NaN,24,0,6741,41.6%,30,w,4411.89,4411.89,2792.250000,2792.25,2088.11,704.14,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,61.0,1,Individual,NaN,NaN,NaN,0,0,40223,4,12,2,2,5.0,33482,97.0,7,12,3662,79.0,16200,2,0,4,14,1749.0,7694.0,42.2,0,0,88.0,72,1,1,0,3.0,NaN,5.0,61.0,2,6,10,6,6,14,11,16,10,24,0.0,0,0,9,93.3,0.0,0,0,50845,40223,13300,34645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4500,4500,4500.0,36 months,11.31%,147.99,B,B3,Accounts Examiner III,10+ years,RENT,38500.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,786xx,TX,4.64,0,Dec-2003,0,25.0,NaN,12,0,4472,15.3%,25,w,0.00,0.00,4549.217149,4549.22,4500.00,49.22,0.0,0.0,0.0,Feb-2019,4553.46,NaN,Feb-2020,0,25.0,1,Individual,NaN,NaN,NaN,0,306,29137,2,1,1,1,3.0,24665,100.0,3,7,3612,54.0,29200,0,3,3,8,2428.0,10735.0,28.9,0,0,180.0,69,2,2,0,2.0,NaN,6.0,NaN,1,3,5,5,6,10,11,15,5,12,0.0,0,0,4,91.7,0.0,0,0,53795,29137,15100,24595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,25000,25000,25000.0,60 months,14.47%,587.82,C,C2,teacher,10+ years,OWN,110000.0,Not Verified,Dec-2018,Late (31-120 days),n,NaN,NaN,credit_card,Credit card refinancing,117xx,NY,26.43,1,Jan-1997,0,7.0,NaN,23,0,39053,45.7%,49,w,21975.89,21975.89,5848.050000,5848.05,3024.11,2823.94,0.0,0.0,0.0,Oct-2019,587.82,Mar-2020,Jan-2020,0,7.0,1,Individual,NaN,NaN,NaN,0,0,95648,0,3,0,0,35.0,54716,23.0,1,2,8422,39.0,85500,0,1,0,2,4159.0,34837.0,44.5,0,0,263.0,246,10,10,0,48.0,NaN,NaN,NaN,0,9,13,10,14,21,19,27,13,23,0.0,0,1,1,98.0,10.0,0,0,179321,95648,62800,91424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,27.27%,920.91,E,E5,Claims Analyst,1 year,RENT,50000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,857xx,AZ,23.62,0,Dec-1997,1,NaN,NaN,10,0,1258,10.7%,16,w,26429.58,26429.58,11903.650000,11903.65,3570.42,8333.23,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,27364,1,4,1,2,6.0,26106,76.0,0,1,1258,59.0,11800,2,0,1,3,2736.0,8842.0,12.5,0,0,84.0,252,16,6,0,16.0,NaN,6.0,NaN,0,1,1,4,4,7,6,9,1,10,0.0,0,0,1,100.0,0.0,0,0,46300,27364,10100,34500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,10000,10000,10000.0,36 months,16.14%,352.27,C,C4,Training Manager,10+ years,MORTGAGE,94800.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,325xx,FL,28.59,0,Jan-2009,1,NaN,NaN,18,0,49976,65.8%,37,w,6928.87,6928.87,4566.060000,4566.06,3071.13,1494.93,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,361716,1,6,2,4,6.0,45778,64.0,0,1,8297,65.0,75900,1,15,4,6,20095.0,12249.0,49.2,0,0,107.0,119,15,6,4,36.0,NaN,0.0,NaN,0,2,8,3,7,16,11,17,8,18,0.0,0,0,3,100.0,33.3,0,0,415969,95754,24100,71489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,25000,25000,25000.0,60 months,12.98%,568.58,B,B5,Tire builder,10+ years,MORTGAGE,85000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,356xx,AL,36.67,1,Oct-1993,1,10.0,NaN,14,0,26630,53.3%,27,w,20862.06,20862.06,7364.500000,7364.50,4137.94,3226.56,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,40.0,1,Joint App,140000.0,23.08,Not Verified,0,56,206980,1,7,1,3,3.0,69513,81.0,1,1,17292,68.0,50000,1,3,1,4,14784.0,18581.0,57.7,0,0,186.0,185,9,3,4,9.0,10.0,3.0,10.0,1,4,5,4,5,13,6,10,5,14,0.0,0,0,2,85.2,0.0,0,0,275691,96143,43900,99691,48711.0,Oct-1993,1.0,4.0,16.0,56.5,8.0,12.0,0.0,0.0,49.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,3000,3000,3000.0,36 months,10.33%,97.27,B,B1,Driver,7 years,RENT,40000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,493xx,MI,10.68,0,Oct-2014,1,NaN,67.0,3,1,3092,44.2%,5,w,1721.70,1721.70,1561.930000,1561.93,1278.30,283.63,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,12563,2,1,2,3,4.0,9471,95.0,0,0,3049,74.0,7000,4,2,2,3,4188.0,3908.0,44.2,0,0,13.0,50,46,4,0,46.0,NaN,0.0,NaN,0,2,2,2,2,3,2,2,2,3,0.0,0,0,2,100.0,0.0,1,0,17000,12563,7000,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,1250,1250,1250.0,36 months,23.40%,48.65,E,E1,BANKER,10+ years,RENT,52000.0,Source Verified,Dec-2018,Fully Paid,n,NaN,NaN,other,Other,477xx,IN,9.90,0,Jan-2011,2,NaN,NaN,7,0,8050,28.9%,10,w,0.00,0.00,1512.844938,1512.84,1250.00,262.84,0.0,0.0,0.0,Dec-2019,980.13,NaN,Dec-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,8050,1,0,0,0,53.0,0,NaN,1,2,4356,29.0,27900,1,0,2,2,1150.0,6483.0,54.3,0,0,53.0,95,2,2,0,2.0,NaN,1.0,NaN,0,4,7,4,6,1,7,9,7,7,0.0,0,0,1,100.0,0.0,0,0,27900,8050,14200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,7000,7000,6975.0,36 months,10.72%,228.25,B,B2,Business Analyst,< 1 year,MORTGAGE,97000.0,Source Verified,Dec-2018,Fully Paid,n,NaN,NaN,other,Other,201xx,VA,33.17,0,Sep-2011,1,NaN,NaN,18,0,1988,7.5%,30,f,0.00,0.00,7197.516809,7171.81,7000.00,197.52,0.0,0.0,0.0,Jul-2019,1346.14,NaN,Feb-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,589583,2,14,3,6,1.0,113133,59.0,0,1,1988,49.0,26600,5,0,4,8,32755.0,19612.0,9.2,0,0,87.0,66,23,1,1,42.0,NaN,1.0,NaN,0,1,1,2,4,20,3,8,1,18,0.0,0,0,3,100.0,0.0,0,0,677593,115121,21600,160050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
# Ryan didn't do this part in lecutre, but I wanted to do this
# to see how all the NaN sums changed. Also, we learn here
# that there are 4 columsn with NaN values in 100% of the 
# records, which indicates completely blank columns. 

df_loans.isnull().sum().sort_values()

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1588
bc_open_to_buy                                  1688
percent_bc_gt_75                                1689
bc_util                                         1751
num_tl_120dpd_2m                                2857
mths_since_rcnt_il                              4473
mo_sin_old_il_acct                              4473
emp_length                                     11689
mths_since_recent_inq                          16035
il_util                                        20255
emp_title                                      20922
next_pymnt_d                                   31587
mths_since_last_delinq                         72125
mths_since_recent_revol_delinq                 91545
mths_since_last_major_derog                    99132
mths_since_recent_bc_dlq                      103144
sec_app_open_acc                              111522
sec_app_mort_acc                              111522
sec_app_inq_last_6mths                        111522
sec_app_earliest_cr_line                      111522
revol_bal_joint                               111522
sec_app_open_act_il                           111522
annual_inc_joint                              111522
dti_joint                                     111522
sec_app_collections_12_mths_ex_med            111522
sec_app_chargeoff_within_12_mths              111522
sec_app_num_rev_accts                         111522
sec_app_revol_util                            111780
mths_since_last_record                        112856
verification_status_joint                     113455
sec_app_mths_since_last_major_derog           123133
debt_settlement_flag_date                     127599
settlement_date                               127599
settlement_amount                             127599
settlement_status                             127599
settlement_term                               127599
settlement_percentage                         127599
hardship_status                               127972
deferral_term                                 127972
hardship_amount                               127972
hardship_start_date                           127972
hardship_end_date                             127972
payment_plan_start_date                       127972
hardship_length                               127972
hardship_dpd                                  127972
hardship_loan_status                          127972
hardship_reason                               127972
hardship_payoff_balance_amount                127972
hardship_last_payment_amount                  127972
hardship_type                                 127972
orig_projected_additional_accrued_interest    128025
url                                           128284
member_id                                     128284
desc                                          128284
id                                            128284
dtype: int64

In [0]:
# Deleting entire columns of NaN values using the drop function:

df_loans = df_loans.drop(['url','desc','member_id','id'], axis=1)

# Note: Axis 1 is for deleting columns. I think the default is axis=0 for
# Deleting rows.

In [156]:
# Let's check the head:

df_loans.head(10)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,10000,10000,10000.0,60 months,16.14%,243.93,C,C4,Sale Consultant,2 years,RENT,90000.0,Not Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,079xx,NJ,8.80,0,Mar-1991,1,NaN,43.0,11,1,10582,58.5%,32,w,0.00,0.00,10661.057727,10661.06,10000.00,661.06,0.0,0.0,0.0,May-2019,9698.79,NaN,Dec-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,15470,1,1,0,1,18.0,4888,65.0,1,3,2969,60.0,18100,2,0,2,4,1719.0,4906.0,67.3,0,0,133.0,333,2,2,1,2.0,NaN,1.0,NaN,0,4,6,5,15,6,8,23,6,11,0.0,0,0,1,100.0,80.0,1,0,25600,15470,15000,7500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,6500,6500,6500.0,36 months,11.80%,215.28,B,B4,Educator,2 years,RENT,46500.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,352xx,AL,21.01,0,Aug-2011,1,61.0,NaN,24,0,6741,41.6%,30,w,4411.89,4411.89,2792.250000,2792.25,2088.11,704.14,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,61.0,1,Individual,NaN,NaN,NaN,0,0,40223,4,12,2,2,5.0,33482,97.0,7,12,3662,79.0,16200,2,0,4,14,1749.0,7694.0,42.2,0,0,88.0,72,1,1,0,3.0,NaN,5.0,61.0,2,6,10,6,6,14,11,16,10,24,0.0,0,0,9,93.3,0.0,0,0,50845,40223,13300,34645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,4500,4500,4500.0,36 months,11.31%,147.99,B,B3,Accounts Examiner III,10+ years,RENT,38500.0,Not Verified,Dec-2018,Fully Paid,n,credit_card,Credit card refinancing,786xx,TX,4.64,0,Dec-2003,0,25.0,NaN,12,0,4472,15.3%,25,w,0.00,0.00,4549.217149,4549.22,4500.00,49.22,0.0,0.0,0.0,Feb-2019,4553.46,NaN,Feb-2020,0,25.0,1,Individual,NaN,NaN,NaN,0,306,29137,2,1,1,1,3.0,24665,100.0,3,7,3612,54.0,29200,0,3,3,8,2428.0,10735.0,28.9,0,0,180.0,69,2,2,0,2.0,NaN,6.0,NaN,1,3,5,5,6,10,11,15,5,12,0.0,0,0,4,91.7,0.0,0,0,53795,29137,15100,24595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,25000,25000,25000.0,60 months,14.47%,587.82,C,C2,teacher,10+ years,OWN,110000.0,Not Verified,Dec-2018,Late (31-120 days),n,credit_card,Credit card refinancing,117xx,NY,26.43,1,Jan-1997,0,7.0,NaN,23,0,39053,45.7%,49,w,21975.89,21975.89,5848.050000,5848.05,3024.11,2823.94,0.0,0.0,0.0,Oct-2019,587.82,Mar-2020,Jan-2020,0,7.0,1,Individual,NaN,NaN,NaN,0,0,95648,0,3,0,0,35.0,54716,23.0,1,2,8422,39.0,85500,0,1,0,2,4159.0,34837.0,44.5,0,0,263.0,246,10,10,0,48.0,NaN,NaN,NaN,0,9,13,10,14,21,19,27,13,23,0.0,0,1,1,98.0,10.0,0,0,179321,95648,62800,91424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,30000,30000,30000.0,60 months,27.27%,920.91,E,E5,Claims Analyst,1 year,RENT,50000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,857xx,AZ,23.62,0,Dec-1997,1,NaN,NaN,10,0,1258,10.7%,16,w,26429.58,26429.58,11903.650000,11903.65,3570.42,8333.23,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,27364,1,4,1,2,6.0,26106,76.0,0,1,1258,59.0,11800,2,0,1,3,2736.0,8842.0,12.5,0,0,84.0,252,16,6,0,16.0,NaN,6.0,NaN,0,1,1,4,4,7,6,9,1,10,0.0,0,0,1,100.0,0.0,0,0,46300,27364,10100,34500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
5,10000,10000,10000.0,36 months,16.14%,352.27,C,C4,Training Manager,10+ years,MORTGAGE,94800.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,325xx,FL,28.59,0,Jan-2009,1,NaN,NaN,18,0,49976,65.8%,37,w,6928.87,6928.87,4566.060000,4566.06,3071.13,1494.93,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,361716,1,6,2,4,6.0,45778,64.0,0,1,8297,65.0,75900,1,15,4,6,20095.0,12249.0,49.2,0,0,107.0,119,15,6,4,36.0,NaN,0.0,NaN,0,2,8,3,7,16,11,17,8,18,0.0,0,0,3,100.0,33.3,0,0,415969,95754,24100,71489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
6,25000,25000,25000.0,60 months,12.98%,568.58,B,B5,Tire builder,10+ years,MORTGAGE,85000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,356xx,AL,36.67,1,Oct-1993,1,10.0,NaN,14,0,26630,53.3%,27,w,20862.06,20862.06,7364.500000,7364.50,4137.94,3226.56,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,40.0,1,Joint App,140000.0,23.08,Not Verified,0,56,206980,1,7,1,3,3.0,69513,81.0,1,1,17292,68.0,50000,1,3,1,4,14784.0,18581.0,57.7,0,0,186.0,185,9,3,4,9.0,10.0,3.0,10.0,1,4,5,4,5,13,6,10,5,14,0.0,0,0,2,85.2,0.0,0,0,275691,96143,43900,99691,48711.0,Oct-1993,1.0,4.0,16.0,56.5,8.0,12.0,0.0,0.0,49.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
7,3000,3000,3000.0,36 months,10.33%,97.27,B,B1,Driver,7 years,RENT,40000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,493xx,MI,10.68,0,Oct-2014,1,NaN,67.0,3,1,3092,44.2%,5,w,1721.70,1721.70,1561.930000,1561.93,1278.30,283.63,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,12563,2,1,2,3,4.0,9471,95.0,0,0,3049,74.0,7000,4,2,2,3,4188.0,3908.0,44.2,0,0,13.0,50,46,4,0,46.0,NaN,0.0,NaN,0,2,2,2,2,3,2,2,2,3,0.0,0,0,2,100.0,0.0,1,0,17000,12563,7000,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
8,1250,1250,1250.0,36 months,23.40%,48.65,E,E1,BANKER,10+ years,RENT,52000.0,Source Verified,Dec-2018,Fully Paid,n,other,Other,477xx,IN,9.90,0,Jan-2011,2,NaN,NaN,7,0,8050,28.9%,10,w,0.00,0.00,1512.844938,1512.84,1250.00,262.84,0.0,0.0,0.0,Dec-2019,980.13,NaN,Dec-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,8050,1,0,0,0,53.0,0,NaN,1,2,4356,29.0,27900,1,0,2,2,1150.0,6483.0,54.3,0,0,53.0,95,2,2,0,2.0,NaN,1.0,NaN,0,4,7,4,6,1,7,9,7,7,0.0,0,0,1,100.0,0.0,0,0,27900,8050,14200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
9,7000,7000,6975.0,36 months,10.72%,228.25,B,B2,Business Analyst,< 1 year,MORTGAGE,97000.0,Source Verified,Dec-2018,Fully Paid,n,other,Other,201xx,VA,33.17,0,Sep-2011,1,NaN,NaN,18,0,1988,7.5%,30,f,0.00,0.00,7197.516809,7171.81,7000.00,197.52,0.0,0.0,0.0,Jul-2019,1346.14,NaN,Feb-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,589583,2,14,3,6,1.0,113133,59.0,0,1,1988,49.0,26600,5,0,4,8,32755.0,19612.0,9.2,0,0,87.0,66,23,1,1,42.0,NaN,1.0,NaN,0,1,1,2,4,20,3,8,1,18,0.0,0,0,3,100.0,0.0,0,0,677593,115121,21600,160050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
# Look at the first 10 values of the int_rate column

df_loans['int_rate'].head(10)

0     16.14%
1     11.80%
2     11.31%
3     14.47%
4     27.27%
5     16.14%
6     12.98%
7     10.33%
8     23.40%
9     10.72%
Name: int_rate, dtype: object

In [158]:
# Look at a specific value from the int_rate column

df_loans['int_rate'][5]

# Notes:

# 1) Watch out for sneaky spaces, front and back of a value
# 2) ML algorithms want clean numbers, not percentag values

' 16.14%'

In [162]:
# Removing landing spaces for a single value

int_rate_value = ' 14.28%'
int_rate_value.strip()

# Keeps percentage, but deletes space

'14.28%'

In [163]:
# Removing percentage sign for a single value:

int_rate_value.strip('%')

# Keeps space, but deletes %

' 14.28'

In [164]:
# Removing percentage sign and space in one command for a single value:

int_rate_value.strip().strip('%')

'14.28'

In [165]:
# Casting the string value to numeric data type, which is good for ML. 
# In this case, we'll be going from string -> float given the decimal

float(int_rate_value.strip().strip('%'))

# We know it's a float because the single quotes went adios

14.28

In [166]:
# Write a function that can do what we have written above to any 
# string that is passsed to it.

# I have to copy/paste this one directly and work it out conceptually.

def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

int_rate_to_float(int_rate_value)

# Okay, so we define a function. "Int_rate to float" is the function name.
# (cell_contents) is the x value that each item in a list passes through
# during each iteration. The return value is what we want returned.
# We combined hte calculation part with the return part since we
# don't have a For Loop. 

# Then, when the function is called, we need the function name. Then, we
# pass in our "real world values" (not an x) to see what happens when
# our real world example, in this case, int_rate_value is passed
# throught this function

# This is essentially useless though as it does not iterate through an 
# entire column or list, which would be way more helpful.

14.28

In [0]:
# For Loop Method:

int_rate_list = []

for x in df_loans['int_rate']:
    int_rate_list.append(int_rate_to_float(x))


# Turning into a new column:

df_loans['df_int_rate_cleaned'] = pd.Series(int_rate_list)

# So, basically, we:
# 1) Defined a function that can be used on any 1 cell
# 2) Created an empty list that will eventually become a new column
# 3) Made a for loop that said "For every item in this column
# a) Do the int_rate_to_float function, then
# b) Add it tot he empty list
# 4) Created a new column called "df_int_rate_cleaned"that shows the numeric values
# using pd.Series mathod. Not sure exactly what it does, but passing the 
# int_rate_list through it made sense.

In [173]:
df_loans.head(15)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,df_int_rate_cleaned
0,10000,10000,10000.0,60 months,16.14%,243.93,C,C4,Sale Consultant,2 years,RENT,90000.0,Not Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,079xx,NJ,8.80,0,Mar-1991,1,NaN,43.0,11,1,10582,58.5%,32,w,0.00,0.00,10661.057727,10661.06,10000.00,661.06,0.0,0.0,0.0,May-2019,9698.79,NaN,Dec-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,15470,1,1,0,1,18.0,4888,65.0,1,3,2969,60.0,18100,2,0,2,4,1719.0,4906.0,67.3,0,0,133.0,333,2,2,1,2.0,NaN,1.0,NaN,0,4,6,5,15,6,8,23,6,11,0.0,0,0,1,100.0,80.0,1,0,25600,15470,15000,7500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14
1,6500,6500,6500.0,36 months,11.80%,215.28,B,B4,Educator,2 years,RENT,46500.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,352xx,AL,21.01,0,Aug-2011,1,61.0,NaN,24,0,6741,41.6%,30,w,4411.89,4411.89,2792.250000,2792.25,2088.11,704.14,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,61.0,1,Individual,NaN,NaN,NaN,0,0,40223,4,12,2,2,5.0,33482,97.0,7,12,3662,79.0,16200,2,0,4,14,1749.0,7694.0,42.2,0,0,88.0,72,1,1,0,3.0,NaN,5.0,61.0,2,6,10,6,6,14,11,16,10,24,0.0,0,0,9,93.3,0.0,0,0,50845,40223,13300,34645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,11.80
2,4500,4500,4500.0,36 months,11.31%,147.99,B,B3,Accounts Examiner III,10+ years,RENT,38500.0,Not Verified,Dec-2018,Fully Paid,n,credit_card,Credit card refinancing,786xx,TX,4.64,0,Dec-2003,0,25.0,NaN,12,0,4472,15.3%,25,w,0.00,0.00,4549.217149,4549.22,4500.00,49.22,0.0,0.0,0.0,Feb-2019,4553.46,NaN,Feb-2020,0,25.0,1,Individual,NaN,NaN,NaN,0,306,29137,2,1,1,1,3.0,24665,100.0,3,7,3612,54.0,29200,0,3,3,8,2428.0,10735.0,28.9,0,0,180.0,69,2,2,0,2.0,NaN,6.0,NaN,1,3,5,5,6,10,11,15,5,12,0.0,0,0,4,91.7,0.0,0,0,53795,29137,15100,24595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,11.31
3,25000,25000,25000.0,60 months,14.47%,587.82,C,C2,teacher,10+ years,OWN,110000.0,Not Verified,Dec-2018,Late (31-120 days),n,credit_card,Credit card refinancing,117xx,NY,26.43,1,Jan-1997,0,7.0,NaN,23,0,39053,45.7%,49,w,21975.89,21975.89,5848.050000,5848.05,3024.11,2823.94,0.0,0.0,0.0,Oct-2019,587.82,Mar-2020,Jan-2020,0,7.0,1,Individual,NaN,NaN,NaN,0,0,95648,0,3,0,0,35.0,54716,23.0,1,2,8422,39.0,85500,0,1,0,2,4159.0,34837.0,44.5,0,0,263.0,246,10,10,0,48.0,NaN,NaN,NaN,0,9,13,10,14,21,19,27,13,23,0.0,0,1,1,98.0,10.0,0,0,179321,95648,62800,91424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,14.47
4,30000,30000,30000.0,60 months,27.27%,920.91,E,E5,Claims Analyst,1 year,RENT,50000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,857xx,AZ,23.62,0,Dec-1997,1,NaN,NaN,10,0,1258,10.7%,16,w,26429.58,26429.58,11903.650000,11903.65,3570.42,8333.23,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,27364,1,4,1,2,6.0,26106,76.0,0,1,1258,59.0,11800,2,0,1,3,2736.0,8842.0,12.5,0,0,84.0,252,16,6,0,16.0,NaN,6.0,NaN,0,1,1,4,4,7,6,9,1,10,0.0,0,0,1,100.0,0.0,0,0,46300,27364,10100,34500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,27.27
5,10000,10000,10000.0,36 months,16.14%,352.27,C,C4,Training Manager,10+ years,MORTGAGE,94800.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,325xx,FL,28.59,0,Jan-2009,1,NaN,NaN,18,0,49976,65.8%,37,w,6928.87,6928.87,4566.060000,4566.06,3071.13,1494.93,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,361716,1,6,2,4,6.0,45778,64.0,0,1,8297,65.0,75900,1,15,4,6,20095.0,12249.0,49.2,0,0,107.0,119,15,6,4,36.0,NaN,0.0,NaN,0,2,8,3,7,16,11,17,8,18,0.0,0,0,3,100.0,33.3,0,0,415969,95754,24100,71489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14
6,25000,25000,25000.0,60 months,12.98%,568.58,B,B5,Tire builder,10+ years,MORTGAGE,85000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,356xx,AL,36.67,1,Oct-1993,1,10.0,NaN,14,0,26630,53.3%,27,w,20862.06,20862.06,7364.500000,7364.50,4137.94,3226.56,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,40.0,1,Joint App,140000.0,23.08,Not Verified,0,56,206980,1,7,1,3,3.0,69513,81.0,1,1,17292,68.0,50000,1,3,1,4,14784.0,18581.0,57.7,0,0,186.0,185,9,3,4,9.0,10.0,3.0,10.0,1,4,5,4,5,13,6,10,5,14,0.0,0,0,2,85.2,0.0,0,0,275691,96143,43900,99691,48711.0,Oct-1993,1.0,4.0,16.0,56.5,8.0,12.0,0.0,0.0,49.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98
7,3000,3000,3000.0,36 months,10.33%,97.27,B,B1,Driver,7 years,RENT,40000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,493xx,MI,10.68,0,Oct-2014,1,NaN,67.0,3,1,3092,44.2%,5,w,1721.70,1721.70,1561.930000,1561.93,1278.30,283.63,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,12563,2,1,2,3,4.0,9471,95.0,0,0,3049,74.0,7000,4,2,2,3,4188.0,3908.0,44.2,0,0,13.0,50,46,4,0,46.0,NaN,0.0,NaN,0,2,2,2,2,3,2,2,2,3,0.0,0,0,2,100.0,0.0,1,0,17000,12563,7000,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33
8,1250,1250,1250.0,36 months,23.40%,48.65,E,E1,BANKER,10+ years,RENT,52000.0,Source Verified,Dec-2018,Fully Paid,n,other,Other,477xx,IN,9.90,0,Jan-2011,2,NaN,NaN,7,0,8050,28.9%,10,w,0.00,0.00,1512.844938,1512.84,1250.00,262.84,0.0,0.0,0.0,Dec-2019,980.13,NaN,Dec-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,8050,1,0,0,0,53.0,0,NaN,1,2,4356,29.0,27900,1,0,2,2,1150.0,6483.0,54.3,0,0,53.0,95,2,2,0,2.0,NaN,1.0,NaN,0,4,7,4,6,1,7,9,7,7,0.0,0,0,1,100.0,0.0,0,0,27900,8050,14200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,23.40
9,7000,7000,6975.0,36 months,10.72%,228.25,B,B2,Business Analyst,< 1 year,MORTGAGE,97000.0,Source Verified,Dec-2018,Fully Paid,n,other,Other,201xx,VA,33.17,0,Sep-2011,1,NaN,NaN,18,0,1988,7.5%,30,f,0.00,0.00,7197.516809,7171.81,7000.00,197.52,0.0,0.0,0.0,Jul-2019,1346.14,NaN,Feb-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,589583,2,14,3,6,1.0,113133,59.0,0,1,1988,49.0,26600,5,0,4,8,32755.0,19612.0,9.2,0,0,87.0,66,23,1,1,42.0,NaN,1.0,NaN,0,1,1,2,4,20,3,8,1,18,0.0,0,0,3,100.0,0.0,0,0,677593,115121,21600,160050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.72
10,35000,35000,35000.0,60 months,19.92%,925.73,D,D3,OPERATOR,10+ years,MORTGAGE,68000.0,Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,309xx,GA,50.67,0,Nov-2006,0,NaN,NaN,15,0,21426,72.4%,19,w,30046.11,30046.11,11976.390000,11976.39,4953.89,7022.50,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Joint App,142000.0,33.20,Verified,0,0,386561,0,3,0,3,15.0,117426,74.0,1,8,4815,73.0,29600,3,3,2,11,25771.0,6686.0,72.9,0,0,46.0,145,10,10,1,13.0,NaN,0.0,NaN,0,9,11,9,10,5,11,13,11,15,0.0,0,0,1,100.0,33.3,0,0,432156,138852,24700,140677,55728.0,Feb-1999,0.0,0.0,15.0,45.5,5.0,15.0,0.0,0.0,46.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,19.92
11,6000,6000,6000.0,36 months,15.02%,208.06,C,C3,Shift Supervisor,5 years,MORTGAGE,30000.0,Source Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,112xx,NY,17.48,0,Oct-2014,2,NaN,NaN,16,0,5323,11.9%,19,w,0.00,0.00,6654.175075,6654.18,6000.00,654.18,0.0,0.0,0.0,Sep-2019,4997.21,NaN,Oct-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,12739,2,1,1,2,4.0,7416,95.0,3,5,1662,24.0,44600,2,0,3,7,796.0,16153.0,22.3,0,0,22.0,50,2,2,0,2.0,NaN,2.0,NaN,0,5,7,6,6,2,15,17,7,16,0.0,0,0,4,100.0,0.0,0,0,52400,12739,20800,7800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,15.02
12,10400,10400,10400.0,36 months,12.98%,350.32,B,B5,Program Support Assistant,10+ years,MORTGAGE,56099.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,800xx,CO,20.92,0,Jul-2013,2,32.0,67.0,8,1,1669,9.8%,10,w,7099.42,7099.42,4542.910000,4542.91,3300.58,1242.33,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,39564,4,2,1,2,1.0,37895,92.0,3,6,725,36.0,17000,1,0,4,8,4946.0,15331.0,9.8,0,0,65.0,57,1,1,0,1.0,NaN,0.0,32.0,0,3,3,6,6,3,6,7,3,8,0.0,0,0,4,90.0,0.0,1,0,60709,39564,17000,43709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98
13,7000,7000,7000.0,36 months,10.33%,226.96,B,B1,Reference/YA Librarian,3 years,RENT,45581.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,018xx,MA,17.40,0,Mar-2000,0,NaN,NaN,8,0,15786,92.9%,19,w,4717.97,4717.97,2944.450000,2944.45,2282.03,662.42,0.0,0.0,0.0,Feb-2020,0.00,Mar-2020,Jan-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,103678,1,4,0,0,51.0,87892,107.0,1,1,3314,104.0,17000,0,2,0,1,12960.0,470.0,92.8,0,0,189.0,225,6,6,0,25.0,NaN,NaN,NaN,0,2,3,2,5,8,4,11,3,8,0.0,0,0,1,100.0,100.0,0,0,99299,103678,6500,82299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33
14,6000,6000,6000.0,36 months,6.46%,183.79,A,A1,Senior manager,3 years,RENT,27000.0,Not Verified,Dec-2018,Fully Paid,n,credit_card,Credit card refinancing,951xx,CA,7.64,0,Aug-2004,0,68.0,NaN,4,0,4601,55.4%,6,w,0.00,0.00,6240.322301,6240.32,6000.00,240.32,0.0,0.0,0.0,Aug-2019,4971.01,NaN,Feb-2020,0,68.0,1,Individual,NaN,NaN,NaN,0,0,4601,1,0,0,0,NaN,0,NaN,1,1,1929,55.0,8300,0,0,1,1,1150.0,2163.0,65.7,0,0,NaN,172,3,3,0,38.0,68.0,10.0,68.0,1,3,4,3,5,0,4,6,4,4,0.0,0,0,1,83.3,33.3,0,0,8300,4601,6300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,6.46

In [0]:
# But wait, turns out there's a way easier way to do this. 
# We can simply use the apply method, which allows for us to use
# a function we created and "apply" it to each cell in an existing coulmn
# So, instead of creating a new one and adding new values to it, we can just
# update the existing column with simpler code.

# df_loans['int_rate'] = df['int_rate'].apply(int_rate_to_float)

In [185]:
# Let's see if it worked.

df_loans['int_rate'].head(10)

# Great success! (Borat voice)

0    16.14
1    11.80
2    11.31
3    14.47
4    27.27
5    16.14
6    12.98
7    10.33
8    23.40
9    10.72
Name: int_rate, dtype: float64

In [186]:
# What type of data is held in our new column?

# Answer = Floats!

# Look at the datatypes of the last 5 columns

df_loans['int_rate'].tail()

128279    15.02
128280    15.02
128281    13.56
128282    11.06
128283    16.91
Name: int_rate, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01