<a href="https://colab.research.google.com/github/drewamorbordelon/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS19_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [ ]:
##### Begin Working Here #####

In [ ]:
import pandas as pd

In [ ]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-08-06 07:10:56--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.245.103.170, 34.217.168.192, 52.32.28.252, ...
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.245.103.170|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [               <=>  ]  22.26M  6.12MB/s    in 3.8s

2020-08-06 07:11:00 (5.80 MB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [23339743]

In [ ]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [ ]:
df = pd.read_csv('LoanStats_2018Q4.csv.zip', header=1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
!head LoanStats_2018Q4.csv

head: cannot open 'LoanStats_2018Q4.csv' for reading: No such file or directory

In [ ]:
print(df.shape)
df.head()

(128414, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [ ]:
df.tail()

                                                      id  ...  settlement_term
128409                                               NaN  ...              NaN
128410                                               NaN  ...              NaN
128411                                               NaN  ...              NaN
128412  Total amount funded in policy code 1: 2050909275  ...              NaN
128413   Total amount funded in policy code 2: 820109297  ...              NaN

[5 rows x 144 columns]

In [ ]:
df.dtypes

id                        object
member_id                float64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 144, dtype: object

In [ ]:
df.isnull().sum().sort_values()

inq_fi                           2
mo_sin_old_rev_tl_op             2
delinq_amnt                      2
chargeoff_within_12_mths         2
acc_open_past_24mths             2
                             ...
settlement_percentage       127477
id                          128412
desc                        128414
url                         128414
member_id                   128414
Length: 144, dtype: int64

In [ ]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [ ]:
df.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [ ]:
df.drop(['member_id','url','id','desc'], axis=1)

        loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0           20000        20000  ...                    NaN             NaN
1           12000        12000  ...                    NaN             NaN
2            7000         7000  ...                    NaN             NaN
3           25000        25000  ...                    NaN             NaN
4           10400        10400  ...                    NaN             NaN
...           ...          ...  ...                    ...             ...
128407      23000        23000  ...                    NaN             NaN
128408      10000        10000  ...                    NaN             NaN
128409       5000         5000  ...                    NaN             NaN
128410      10000        10000  ...                    NaN             NaN
128411      10000        10000  ...                    NaN             NaN

[128412 rows x 140 columns]

In [ ]:
df['term'].head()

0     36 months
1     36 months
2     36 months
3     60 months
4     36 months
Name: term, dtype: object

In [ ]:
# testing chaining of functions

term = '  36 months'

print(int(term.strip().strip('months')))

# Changing the string into an integer and running type

type(int(term.strip().strip('months')))

36

int

In [ ]:
# Define function to replace strings to integers

def change_str_to_int(cells_to_replace):
  return int(cells_to_replace.strip().strip('months'))

In [ ]:
# applying() the function to the column labeled 'terms'

df['term'].apply(change_str_to_int)

0         36
1         36
2         36
3         60
4         36
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

In [ ]:
df['int_term'] = df['term'].apply(change_str_to_int)

df['int_term'].head()

# replaced the original column strings with integers

df['term'] = df['term'].apply(change_str_to_int)

df['term'].head()

0    36
1    36
2    36
3    60
4    36
Name: term, dtype: int64

In [ ]:
# Looking at 'loan_status' column

df['loan_status'].head(10)

0    Charged Off
1        Current
2     Fully Paid
3     Fully Paid
4        Current
5     Fully Paid
6        Current
7     Fully Paid
8        Current
9     Fully Paid
Name: loan_status, dtype: object

In [ ]:
type(df['loan_status'][0])

str

In [ ]:
df['loan_status'].value_counts()

Current               82317
Fully Paid            33361
Charged Off           10003
Late (31-120 days)     1160
In Grace Period        1012
Late (16-30 days)       316
Default                 243
Name: loan_status, dtype: int64

In [ ]:
examples = ['Current', 'Fully Paid', 'Charged Off', 'Late (31-120 days)', 
            'In Grace Period', 'Late (16-30 days)', 'Default']

In [ ]:
# Creating a function for relabeling 

def one_or_zero(cell):
  if cell == 'Fully Paid': 
    return(1)
  elif cell == 'Current':
    return(1)
  else:
    return(0)

In [ ]:
for example in examples:
  print(one_or_zero(example))

1
1
0
0
0
0
0

In [ ]:
df['loan_status_is_great'] = df['loan_status'].apply(one_or_zero)

new_df = df[['loan_status_is_great', 'loan_status']]

new_df.head()

   loan_status_is_great  loan_status
0                     0  Charged Off
1                     1      Current
2                     1   Fully Paid
3                     1   Fully Paid
4                     1      Current

In [ ]:
new_df.tail()

        loan_status_is_great  loan_status
128407                     0  Charged Off
128408                     1      Current
128409                     1      Current
128410                     1      Current
128411                     1      Current

In [ ]:
df.head()

   id  member_id  loan_amnt  ...  settlement_term  int_term  loan_status_is_great
0 NaN        NaN      20000  ...              NaN        36                     0
1 NaN        NaN      12000  ...              NaN        36                     1
2 NaN        NaN       7000  ...              NaN        36                     1
3 NaN        NaN      25000  ...              NaN        60                     1
4 NaN        NaN      10400  ...              NaN        36                     1

[5 rows x 146 columns]

In [ ]:
df['loan_status_is_great'].value_counts()

1    115678
0     12734
Name: loan_status_is_great, dtype: int64

In [ ]:
# Making a last payment month and last payment year column
# Change the format of the last_pymnt_d

In [ ]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

df['last_pymnt_d'].head()

0   2020-02-01
1   2020-07-01
2   2019-07-01
3   2019-04-01
4   2020-06-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [ ]:
# pull year and month from the new date format

df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [ ]:
df['last_pymnt_d_month'].head()

0    2.0
1    7.0
2    7.0
3    4.0
4    6.0
Name: last_pymnt_d_month, dtype: float64

In [ ]:
df['last_pymnt_d_year'].head()

0    2020.0
1    2020.0
2    2019.0
3    2019.0
4    2020.0
Name: last_pymnt_d_year, dtype: float64

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
%cd instacart_2017_05_01

In [ ]:
import pandas as pd

In [ ]:
# Pandas Display Options:
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 100)

In [ ]:
# Lets take a look at the Ames Iowa Housing Dataset:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')