Lambda School Data Science

*Unit 1, Sprint 1, Module 2*

---

# Make Features 

- Student should be able to understand the purpose of feature engineering
- Student should be able to work with strings in pandas
- Student should be able to work with dates and times in pandas
- Student should be able to modify or create columns of a dataframe using the `.apply()` function


Helpful Links:
- [Minimally Sufficient Pandas](https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428)
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series
- [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)

# [Objective](#feature-engineering) - The Purpose of Feature Engineering

## Overview

Feature Engineering is the process of using a combination of domain knowledge, creativity and the pre-existing columns of a dataset to create completely new columns.

 Machine Learning models try to detect patterns in the data and then associate those patterns with certain predictions. The hope is that by creating new columns on our dataset that we can expose our model to new patterns in the data so that it can make better and better predictions.

This is largely a matter of understanding how to work with individual columns of a dataframe with Pandas --which is what we'll be practicing today!

## Follow Along

Columns of a dataframe hold each hold a specific type of data. Lets inspect some of the common datatypes found in datasets and then we'll make a new feature on a dataset using pre-existing columns.

In [ ]:
import pandas as pd

In [ ]:
# Lets take a look at the Ames Iowa Housing Dataset:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

df.shape

(1460, 81)

### Specific Columns hold specific kinds of data

In [ ]:
pd.set_option('display.max_rows', 100)

df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

Some columns hold integer values like the `BedroomAbvGr` which stands for "Bedrooms Above Grade." This is the number of non-basement bedrooms in the home.

For more information on specific column meanings view the [data dictionary](https://github.com/ryanleeallred/datasets/blob/master/Ames%20Housing%20Data/data_description.txt).

In [ ]:
# Look at the first ten rows of the `BedroomAbvGr` column.
# Looks like integers to me!
df['BedroomAbvGr']

0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1460, dtype: int64

Some columns hold float values like the `LotFrontage` column.

In [ ]:
# Look at the first ten rows of the `LotFrontage` column.
df['LotFrontage']

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [ ]:
df['MSZoning']

0       RL
1       RL
2       RL
3       RL
4       RL
        ..
1455    RL
1456    RL
1457    RL
1458    RL
1459    RL
Name: MSZoning, Length: 1460, dtype: object

Hmmm, do the values above look like floats to you?

They all have .0 on them so technically they're being stored as floats, but *should* they be stored as floats?

Lets see what all of the possible values for this column are.

In [ ]:
pd.set_option('display.max_rows', 150)

df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
21.0      23
90.0      23
68.0      19
24.0      19
64.0      19
73.0      18
72.0      17
79.0      17
63.0      17
55.0      17
100.0     16
51.0      15
66.0      15
74.0      15
52.0      14
59.0      13
71.0      12
67.0      12
57.0      12
82.0      12
43.0      12
40.0      12
76.0      11
69.0      11
53.0      10
92.0      10
88.0      10
34.0      10
86.0      10
77.0       9
35.0       9
44.0       9
84.0       9
62.0       9
93.0       8
61.0       8
98.0       8
96.0       8
107.0      7
95.0       7
120.0      7
58.0       7
41.0       6
105.0      6
54.0       6
94.0       6
48.0       6
110.0      6
30.0       6
89.0       6
81.0       6
91.0       6
36.0       6
47.0       5
83.0       5
37.0       5
87.0       5
32.0       5
56.0       5
102.0      4
42.0       4
49.0       4
99.0       3
45.0       3
104.0      3
130.0      3
103.0      3
108.0      3
124.0      2
174.0      2
97.0       2
134.0      2
129.0      2
313.0      2
118.0      2
122.0      2
121.0      2
101.0      2
109.0      2
115.0      2
116.0      2
114.0      2
153.0      1
149.0      1
150.0      1
111.0      1
182.0      1
46.0       1
112.0      1
141.0      1
33.0       1
152.0      1
160.0      1
168.0      1
128.0      1
144.0      1
39.0       1
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, dtype: int64

In [ ]:
df.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinSF1          0
BsmtFinType2       38
BsmtFinSF2          0
BsmtUnfSF           0
TotalBsmtSF         0
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
1stFlrSF            0
2ndFlrSF            0
LowQualFinSF        0
GrLivArea           0
BsmtFullBath        0
BsmtHalfBath        0
FullBath            0
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
dtype: int64

Looks to me like the `LotFrontage` column originally held integer values but was cast to a `float` meaning that each original integer values was converted to its corresponding float representation. 

Any guesses as to why that would have happened?


HINT: What's the most common `LotFrontage` value for this column?

In [ ]:
# NaN is the most common value in this column. What is a NaN
import numpy as np

type(np.NaN)

float

`NaN` stands stands for "Not a Number" and is the default missing value indicator with Pandas. This means there were cells in this column that didn't have a LotFrontage value recorded for those homes. 

This is where domain knowledge starts to come in. Think about the context we're working with here: houses. What might a null or blank cell representing "Linear feet of street connected to property" mean in the context of a housing dataset?

Ok, so maybe it makes seanse to have some NaNs in this column. What is the datatype of a NaN value?

Perhaps some of this data is truly missing or unrecorded data, but sometimes `NaNs` are more likely to indicate something that was "NA" or "Not Applicable" to a particular observation. There could be multiple reasons why there was no value recorded for a particular feature.

Remember, that Pandas tries to maintain a single datatype for all values in a column, and therefore...

In [ ]:
import numpy as np

# What is the datatype of NaN?

The datatype of a NaN is float!  This means that if we have a column of integer values, but the column has even a single `NaN` that column will not be treated with the integer datatype but all of the integers will be converted to floats in order to try and preserve the same datatype throughout the entire column.

You can see already how understanding column datatypes is crucial to understanding how Pandas help us manage our data.

### Making new Features

Lets slim down the dataset and consider just a few specific columns:

- `TotalBsmtSF`
- `1stFlrSF`
- `2ndFlrSF`
- `SalePrice1`

In [ ]:
# I can make a smaller dataframe with a few specific column headers
# by passing a list of column headers inside of the square brackets

df_small = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

### Syntax for creating new columns

When making a new column on a dataframe, we have to use the square bracket syntax of accessing a column. We can't use "dot syntax" here.

In [ ]:
# Lets add up all of the square footage to get a single square footage 
# column for the entire dataset

# Using bracket syntax to make a new 'TotalSquareFootage' column

df_small['TotalSF'] = df_small['TotalBsmtSF'] + df_small['1stFlrSF'] + df_small['2ndFlrSF'] 

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF
0          856       856       854     208500     2566
1         1262      1262         0     181500     2524
2          920       920       866     223500     2706
3          756       961       756     140000     2473
4         1145      1145      1053     250000     3343

In [ ]:
# Dot Syntax for accessing columns
df_small.TotalBsmtSF

0        856
1       1262
2        920
3        756
4       1145
        ...
1455     953
1456    1542
1457    1152
1458    1078
1459    1256
Name: TotalBsmtSF, Length: 1460, dtype: int64

In [ ]:
# Bracket Syntax for accessing columns
df_small['TotalBsmtSF']

0        856
1       1262
2        920
3        756
4       1145
        ...
1455     953
1456    1542
1457    1152
1458    1078
1459    1256
Name: TotalBsmtSF, Length: 1460, dtype: int64

In [ ]:
# Lets make a nother new column that is 'PricePerSqFt' by
# dividing the price by the square footage

df_small['PricePerSqFt'] = df_small['SalePrice'] / df_small['TotalSF']

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF  PricePerSqFt
0          856       856       854     208500     2566     81.254871
1         1262      1262         0     181500     2524     71.909667
2          920       920       866     223500     2706     82.594235
3          756       961       756     140000     2473     56.611403
4         1145      1145      1053     250000     3343     74.783129

Ok, we have made two new columns on our small dataset.

- What does a **high** `PricePerSqFt` say about a home that the square footage and price alone don't capture as directly?

- What does a **low** `PricePerSqFt` say about a home that the square footage and price alone don't directly capture?

## Challenge

I hope you can see how we have used existing columns to create a new column on a dataset that say something new about our unit of observation. This is what making new features (columns) on a dataset is all about and why it's so essential to data science --particularly predictive modeling "Machine Learning." 

We'll spend the rest of the lecture and assignment today trying to get as good as we can at manipulating (cleaning) and creating new columns on datasets.

# [Objective](#work-with-strings) Work with Strings with Pandas

## Overview

So far we have worked with numeric datatypes (ints and floats) but we haven't worked with any columns containing string values. We can't simply use arithmetic to manipulate string values, so we'll need to learn some more techniques in order to work with this datatype.

## Follow Along

We're going to import a new dataset here to work with. This dataset is from LendingClub and holds information about loans issued in Q4 of 2018. This dataset is a bit messy so it will give us plenty of opportunities to clean up existing columns as well as create new ones.

The `!wget` shell command being used here does exactly the same thing that your browser does when you type a URL in the address. It makes a request or "gets" the file at that address. However, in our case the file isn't a webpage, it's a compressed CSV file. 

Try copying and pasting the URL from below into your browser, did it start an automatic download? Any URLs like this that start automatic downloads when navigated to can be used along with the `!wget` command to bring files directly into your notebook's memory.

### Load a new dataset

In [ ]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-02-11 17:58:36--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://static.lendingclub.com/www/terms-of-use-violation.html?TS-request-id=7868913961493524036 [following]
--2020-02-11 17:58:37--  https://static.lendingclub.com/www/terms-of-use-violation.html?TS-request-id=7868913961493524036
Resolving static.lendingclub.com (static.lendingclub.com)... 13.226.41.29
Connecting to static.lendingclub.com (static.lendingclub.com)|13.226.41.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15677 (15K) [text/html]
Saving to: ‘LoanStats_2018Q4.csv.zip.3’

LoanStats_2018Q4.cs 100%[===================>]  15.31K  --.-KB/s    in 0s

2020-02-11 17:58:37 (313 MB/s) - ‘LoanStats_2018Q4.csv.zip.3’ saved [15677/15677]

We need to use the `!unzip` command to extract the csv from the zipped folder.

In [ ]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of LoanStats_2018Q4.csv.zip or
        LoanStats_2018Q4.csv.zip.zip, and cannot find LoanStats_2018Q4.csv.zip.ZIP, period.

We can also use bash/shell commands to look at the raw file using the `!head` and `!tail` commands

In [ ]:
!head LoanStats_2017Q1.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_il_6m","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_il_6m","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog"
"","","3600","3600","3600"," 36 months","  7.49%","111.97","A","A4","Code/Compliance Inspector","10+ years","MORTGAGE","120000","Not Verified","Mar-2017","Issued","n","","","other","Other","467xx","IN","18.9","0","Aug-1992","1","","96","18","1","5658","14.9%","33","w","3600.00","3600.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","36506","2","6","2","6","2","30848","55","4","7","1020","39","37900","3","1","4","13","2147","7980","11.3","0","0","166","295","3","2","0","9","","2","","0","1","4","2","3","17","12","16","4","18","0","0","0","6","100","0","1","0","93599","36506","9000","55699","","","","","","","","","","",""
"","","15000","15000","15000"," 60 months"," 14.99%","356.78","C","C4","Senior Superintendent","10+ years","MORTGAGE","125000","Not Verified","Mar-2017","Issued","n","","","other","Other","064xx","CT","17.25","0","Sep-1989","0","","","11","0","53167","75.3%","18","w","15000.00","15000.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","90423","0","2","0","1","22","16197","54","0","3","15199","69","70600","1","0","0","4","8220","13968","76.8","0","0","158","245","16","16","2","16","","16","","0","5","7","6","8","6","8","10","7","11","0","0","0","0","100","66.7","0","0","148572","69364","60300","30224","","","","","","","","","","",""
"","","8400","8400","8400"," 36 months"," 11.39%","276.56","B","B3","IT Tech","8 years","MORTGAGE","50000","Source Verified","Mar-2017","Issued","n","","","other","Other","454xx","OH","15.63","0","Apr-2005","0","","","14","0","12831","30.3%","30","w","8400.00","8400.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","271","161061","3","2","1","2","10","38760","105","4","8","5338","65","42300","4","1","7","10","12389","24145","33.1","0","0","131","143","4","4","4","4","","10","","0","4","5","7","11","9","11","16","5","14","0","0","0","5","100","14.3","0","0","205671","51591","36100","36876","","","","","","","","","","",""
"","","4000","4000","4000"," 36 months"," 10.49%","130","B","B2","Dental hygienist","2 years","RENT","50000","Source Verified","Mar-2017","Issued","n","","","major_purchase","Major purchase","768xx","TX","33.61","1","Apr-2003","0","6","37","10","1","4388","33.2%","33","w","4000.00","4000.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","67","1","INDIVIDUAL","","","","0","0","136208","0","4","1","2","7","131820","70","0","4","2461","56","13200","0","0","1","6","13621","39","98.4","0","0","148","163","15","7","6","120","","9","61","1","1","4","1","3","15","6","12","4","10","0","0","0","1","87.5","100","0","0","152852","136208","2500","139652","","","","","","","","","","",""
"","","6000","6000","6000"," 36 months","  7.24%","185.93","A","A3","Program Manager","3 years","RENT","125000","Source Verified","Mar-2017","Current","n","","","credit_card","Credit card refinancing","981xx","WA","9.25","0","Jul-2004","1","54","","16","0","9571","41.3%","27","w","5850.27","5850.27","164.21","164.21","149.73","14.48","0.0","0.0","0.0","Apr-2017","169.04","May-2017","Apr-2017","0","54","1","INDIVIDUAL","","","","0","0","60622","1","11","2","2","3","51051","103","1","2","6129","83","23200","1","1","1","4","3789","13629","41.3","0","0","152","149","7","3","0","7","","4","","9","3","3","5","5","22","5","5","3","16","0","0","0","3","59.1","20","0","0","72865","60622","23200","49665","","","","","","","","","","",""
"","","20000","20000","20000"," 36 months"," 15.99%","703.05","C","C5","Business development ","1 year","RENT","77000","Not Verified","Mar-2017","Issued","n","","","debt_consolidation","Debt consolidation","941xx","CA","29.02","1","Aug-1989","1","21","","13","0","11843","26%","24","w","20000.00","20000.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","39953","2","4","2","2","1","28110","61","3","4","5701","44","45500","2","0","1","6","3073","26073","27.4","0","0","79","331","3","1","0","3","","0","21","0","4","5","5","11","7","9","17","5","13","0","0","0","5","95.8","20","0","0","91877","39953","35900","46377","","","","","","","","","","",""
"","","5000","5000","5000"," 36 months"," 14.99%","173.31","C","C4","Lead Supervisor","10+ years","RENT","68000","Not Verified","Mar-2017","Issued","n","","","debt_consolidation","Debt consolidation","945xx","CA","22.5","0","Apr-2003","0","27","","6","0","10276","90.1%","18","f","5000.00","5000.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","531","36168","0","2","0","2","18","25892","64","0","0","4261","69","11400","1","1","0","2","6028","1124","90.1","0","0","167","111","46","18","0","46","","18","","0","4","4","4","6","8","4","9","4","6","0","0","0","0","94.4","75","0","0","52113","36168","11400","40713","","","","","","","","","","",""
"","","20000","20000","20000"," 36 months","  8.24%","628.95","B","B1","IT Lead Business Analyst","10+ years","MORTGAGE","100000","Source Verified","Mar-2017","Issued","n","","","debt_consolidation","Debt consolidation","852xx","AZ","17.44","0","Dec-2006","0","","100","11","1","16206","60%","21","w","20000.00","20000.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","264832","1","2","0","1","22","16168","42","1","3","5775","49","27000","0","1","0","5","26483","3452","79.3","0","0","119","93","6","6","8","6","","19","","0","4","6","4","4","3","8","10","6","11","0","0","0","2","100","75","1","0","301225","32374","16700","38772","","","","","","","","","","",""

In [ ]:
!tail LoanStats_2017Q1.csv

"","","10400","10400","10400"," 36 months"," 14.99%","360.47","C","C4","Glaze Operator","5 years","RENT","26000","Source Verified","Jan-2017","Current","n","","","debt_consolidation","Debt consolidation","657xx","MO","18.56","0","Mar-2006","0","","","3","0","3901","70.9%","7","f","9699.65","9699.65","1072.75","1072.75","700.35","372.40","0.0","0.0","0.0","Apr-2017","360.47","May-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","9173","0","1","0","1","18","5272","58","0","0","3887","63","5500","0","0","0","1","3058","1599","70.9","0","0","103","129","74","18","0","74","","","","0","2","2","2","2","5","2","2","2","3","0","0","0","0","100","50","0","0","14600","9173","5500","9100","","","","","","","","","","",""
"","","30000","30000","30000"," 60 months"," 21.49%","819.9","D","D5","Teacher Department Head","10+ years","MORTGAGE","60000","Verified","Jan-2017","Current","n","","","debt_consolidation","Debt consolidation","615xx","IL","43","1","Nov-1999","3","11","","21","0","29102","94.8%","38","f","29136.77","29136.77","2423.88","2423.88","863.23","1560.65","0.0","0.0","0.0","Apr-2017","819.9","May-2017","Apr-2017","0","34","1","JOINT","220000","14.42","Not Verified","0","0","391147","1","15","1","3","5","128167","74","0","0","7038","78","30700","6","5","5","3","18626","0","100.3","0","0","205","126","48","5","2","112","34","0","34","2","2","4","2","4","28","5","8","4","21","0","0","0","1","68.4","100","0","0","468032","157269","8400","172223","","","","","","","","","","",""
"","","15000","15000","15000"," 36 months"," 12.74%","503.54","C","C1","Senior Product Manager","2 years","RENT","110500","Source Verified","Jan-2017","Current","n","","","credit_card","Credit card refinancing","802xx","CO","4.95","0","Feb-2011","2","","","13","0","16900","29.2%","15","f","13750.26","13750.26","1736.67","1736.67","1249.74","486.93","0.0","0.0","0.0","Apr-2017","503.54","May-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","21566","4","1","0","0","70","4666","62","4","8","5515","33","57800","0","0","4","8","1659","40900","29.2","0","0","70","63","3","3","0","3","","4","","0","6","6","12","13","1","12","14","6","13","0","0","0","4","100","25","0","0","65300","21566","57800","7500","","","","","","","","","","",""
"","","10000","10000","10000"," 36 months","  8.24%","314.48","B","B1","","n/a","MORTGAGE","46203","Not Verified","Jan-2017","Current","n","","","debt_consolidation","Debt consolidation","342xx","FL","17.04","0","Nov-2002","0","38","","8","0","7315","51.2%","15","f","9257.48","9257.48","934.28","934.28","742.52","191.76","0.0","0.0","0.0","Apr-2017","314.48","May-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","252054","0","1","0","1","18","17437","80","0","0","4280","68","14300","0","1","0","1","36008","5485","57.1","0","0","113","169","25","18","1","25","38","","38","0","3","3","4","6","5","6","9","3","8","0","0","0","0","86.7","25","0","0","263677","24752","12800","21877","","","","","","","","","","",""
"","","6325","6325","6325"," 36 months"," 15.99%","222.34","C","C5","","n/a","OWN","24564","Not Verified","Jan-2017","Current","n","","","debt_consolidation","Debt consolidation","183xx","PA","21.38","2","Oct-1986","0","15","","12","0","1928","9.4%","17","w","6047.04","6047.04","472.04","472.04","277.96","194.08","0.0","0.0","0.0","Mar-2017","255.32","Apr-2017","Apr-2017","0","25","1","INDIVIDUAL","","","","0","1465","8046","2","1","1","1","11","6118","82","3","3","989","29","20600","0","0","0","4","731","9211","15.5","0","0","141","362","1","1","0","6","15","","15","0","4","6","4","8","2","11","15","6","12","0","0","0","4","82.4","0","0","0","28025","8046","10900","7425","","","","","","","","","","",""
"","","15625","15625","15625"," 60 months"," 28.69%","493.03","F","F1","Certified Dietary Manager ","1 year","RENT","34000","Source Verified","Jan-2017","Current","n","","","debt_consolidation","Debt consolidation","834xx","ID","32.4","0","Apr-2005","0","68","52","13","1","18259","51.7%","18","f","15257.98","15257.98","1454.19","1454.19","367.02","1087.17","0.0","0.0","0.0","Apr-2017","493.03","May-2017","Apr-2017","0","68","1","INDIVIDUAL","","","","0","0","27074","0","1","0","1","24","8815","59","0","3","6478","54","35300","0","0","0","4","2256","6690","70","0","0","140","114","16","16","0","16","","17","","1","4","7","5","6","5","12","13","7","13","0","0","0","0","100","40","0","1","50269","27074","22300","14969","","","","","","","","","","",""


Total amount funded in policy code 1: 1437969475
Total amount funded in policy code 2: 520780182

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 150)

As we look at the raw file itself, do you see anything that might cause us trouble as we read in the CSV file to a dataframe?

In [ ]:
# Read in the CSV
df = pd.read_csv('LoanStats_2018Q4.csv')
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128400, 1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title           emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt     total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       6000      6000        6000             36 months  14.47%  206.44      C     C2        Manager             10+ years  RENT           55000      Verified            Dec-2018 Charged Off n          NaN NaN  credit_card        Credit card refinancing 104xx    NY         10.65 0           Jun-2006         0              NaN                    NaN                    6        0       4196      91.2%      8         w                   0.00      0.00          1106.52         1106.52         546.14          272.38        0.0                288.0      51.84                   Apr-2019     206.44          NaN          Nov-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            12514       0           2           1           1           9                  8318         74      1           1           2807       79       4600             1      0           2            2                    2086        344            92      0                        0           33                 150                  9                     9              0        9                    NaN                      9                     NaN                            0                     3              4               3           3         3         4             5             4                   6        0                0            0                  2                  100            100              0                    0         15800           12514             4300           11200                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          Y                    Oct-2019                  ACTIVE            Oct-2019        3479              60.01                                                                 24
              24000     24000       24000            36 months  10.33%  778.14      B     B1        Maintenance Manager 10+ years  MORTGAGE       100000     Not Verified        Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      606xx    IL         19.14 0           Oct-1996         3              39                     NaN                    14       0       8547      27.7%      28        w                   16807.30  16807.30      9317.02         9317.02         7192.70         2124.32       0.0                0.0        0.0                     Dec-2019     778.14          Jan-2020     Nov-2019           0                          57                          1           Individual       NaN              NaN       NaN                       0              0            273876      3           5           3           5           5                  40384        66      2           4           4368       51       30900            8      0           8            9                    19563       17353          33      0                        0           266                178                  4                     4              3        4                    39                       1                     39                             1                     5              5               6           8         15        7             9             5                   14       0                0            0                  5                  82.1           16.7             0                    0         335121          50686             25900          61514                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              30000     30000       30000            36 months  15.02%  1040.26     C     C3        Firefighter         10+ years  RENT           90000      Verified            Dec-2018 Fully Paid  n          NaN NaN  debt_consolidation Debt consolidation      681xx    NE         22.23 0           May-2007         1              NaN                    NaN                    8        0       25754     48%        23        w                   0.00      0.00          30883.673711683 30883.67        30000.00        883.67        0.0                0.0        0.0                     Feb-2019     28382.51        NaN          Nov-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            51370       1           2           1           2           9                  25616        71      2           3           9621       57       53600            0      2           1            5                    6421        22030          47      0                        0           123                139                  3                     3              3        3                    NaN                      3                     NaN                            0                     4              6               4           5         11        6             9             6                   8        0                0            0                  3                  100            50               0                    0         89849           51370             41600          36249                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              8000      8000        8000             36 months  12.98%  269.48      B     B5        Controller          4 years    MORTGAGE       95000      Source Verified     Dec-2018 Current     n          NaN NaN  credit_card        Credit card refinancing 480xx    MI         9.44  0           Mar-2009         2              73                     NaN                    7        0       11434     33.3%      20        w                   1707.34   1707.34       6855.63         6855.63         6292.66         562.97        0.0                0.0        0.0                     Dec-2019     269.48          Jan-2020     Dec-2019           0                          73                          1           Individual       NaN              NaN       NaN                       0              0            247933      5           1           3           4           2                  13716        98      4           5           8918       52       34300            2      0           7            10                   35419       22866          33.3    0                        0           13                 117                  6                     2              1        6                    73                       2                     73                             1                     3              3               5           15        4         5             15            3                   7        0                0            0                  8                  100            20               0                    0         271550          25150             34300          14000                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

The extra rows at the top and bottom of the file have done two things:

1) The top row has made it so that the entire dataset is being interpreted as column headers

2) The bottom two rows have been read into the 'id' column and are causing every column to have at least two `NaN` values in it.

In [ ]:
# We can fix the header problem by using the 'skiprows' parameter
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128399, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                  60.01             24.0
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

Lets look at the NaN values of each column so that you can see the problem that the extra rows at the bottom of the file are creating for us

In [ ]:
# Sum null values by column and sort from least to greatest

df.isnull().sum().sort_values()

inq_fi                                             2
delinq_amnt                                        2
chargeoff_within_12_mths                           2
acc_open_past_24mths                               2
inq_last_12m                                       2
total_cu_tl                                        2
total_rev_hi_lim                                   2
max_bal_bc                                         2
open_rv_24m                                        2
open_rv_12m                                        2
total_bal_il                                       2
open_il_24m                                        2
hardship_flag                                      2
open_act_il                                        2
open_acc_6m                                        2
tot_cur_bal                                        2
tot_coll_amt                                       2
acc_now_delinq                                     2
application_type                                   2
policy_code                                        2
mo_sin_old_rev_tl_op                               2
mo_sin_rcnt_rev_tl_op                              2
mo_sin_rcnt_tl                                     2
mort_acc                                           2
total_il_high_credit_limit                         2
total_bc_limit                                     2
total_bal_ex_mort                                  2
tot_hi_cred_lim                                    2
tax_liens                                          2
pub_rec_bankruptcies                               2
pct_tl_nvr_dlq                                     2
num_tl_op_past_12m                                 2
num_tl_90g_dpd_24m                                 2
collections_12_mths_ex_med                         2
num_tl_30dpd                                       2
num_rev_tl_bal_gt_0                                2
num_rev_accts                                      2
num_op_rev_tl                                      2
num_il_tl                                          2
num_bc_tl                                          2
num_bc_sats                                        2
num_actv_rev_tl                                    2
num_actv_bc_tl                                     2
num_accts_ever_120_pd                              2
num_sats                                           2
last_pymnt_amnt                                    2
open_il_12m                                        2
debt_settlement_flag                               2
pub_rec                                            2
open_acc                                           2
grade                                              2
sub_grade                                          2
home_ownership                                     2
inq_last_6mths                                     2
annual_inc                                         2
verification_status                                2
earliest_cr_line                                   2
delinq_2yrs                                        2
issue_d                                            2
addr_state                                         2
zip_code                                           2
title                                              2
loan_status                                        2
pymnt_plan                                         2
installment                                        2
revol_bal                                          2
term                                               2
collection_recovery_fee                            2
loan_amnt                                          2
recoveries                                         2
total_rec_late_fee                                 2
funded_amnt                                        2
funded_amnt_inv                                    2
total_acc                                          2
total_rec_int                                      2
purpose                                            2
total_rec_prncp                                    2
total_pymnt_inv                                    2
total_pymnt                                        2
out_prncp_inv                                      2
out_prncp                                          2
initial_list_status                                2
int_rate                                           2
last_credit_pull_d                                 3
avg_cur_bal                                       15
all_util                                          39
revol_util                                       158
last_pymnt_d                                     161
dti                                              239
mths_since_recent_bc                            1593
bc_open_to_buy                                  1693
percent_bc_gt_75                                1694
bc_util                                         1756
num_tl_120dpd_2m                                2861
mths_since_rcnt_il                              4480
mo_sin_old_il_acct                              4480
emp_length                                     11703
mths_since_recent_inq                          16049
il_util                                        20276
emp_title                                      20944
next_pymnt_d                                   26738
mths_since_last_delinq                         72192
mths_since_recent_revol_delinq                 91622
mths_since_last_major_derog                    99225
mths_since_recent_bc_dlq                      103234
sec_app_open_acc                              111621
sec_app_mort_acc                              111621
sec_app_inq_last_6mths                        111621
sec_app_earliest_cr_line                      111621
revol_bal_joint                               111621
sec_app_open_act_il                           111621
annual_inc_joint                              111621
dti_joint                                     111621
sec_app_collections_12_mths_ex_med            111621
sec_app_chargeoff_within_12_mths              111621
sec_app_num_rev_accts                         111621
sec_app_revol_util                            111879
mths_since_last_record                        112952
verification_status_joint                     113555
sec_app_mths_since_last_major_derog           123247
debt_settlement_flag_date                     127948
settlement_date                               127948
settlement_amount                             127948
settlement_status                             127948
settlement_term                               127948
settlement_percentage                         127948
hardship_status                               128166
deferral_term                                 128166
hardship_amount                               128166
hardship_start_date                           128166
hardship_end_date                             128166
payment_plan_start_date                       128166
hardship_length                               128166
hardship_dpd                                  128166
hardship_loan_status                          128166
hardship_reason                               128166
hardship_payoff_balance_amount                128166
hardship_last_payment_amount                  128166
hardship_type                                 128166
orig_projected_additional_accrued_interest    128193
id                                            128397
url                                           128399
member_id                                     128399
desc                                          128399
dtype: int64

In [ ]:
# Address the extra NaNs in each column by skipping the footer as well.
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(128397, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [ ]:
df.isnull().sum().sort_values()

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11701
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20942
next_pymnt_d                                   26736
mths_since_last_delinq                         72190
mths_since_recent_revol_delinq                 91620
mths_since_last_major_derog                    99223
mths_since_recent_bc_dlq                      103232
sec_app_open_acc                              111619
sec_app_mort_acc                              111619
sec_app_inq_last_6mths                        111619
sec_app_earliest_cr_line                      111619
revol_bal_joint                               111619
sec_app_open_act_il                           111619
annual_inc_joint                              111619
dti_joint                                     111619
sec_app_collections_12_mths_ex_med            111619
sec_app_chargeoff_within_12_mths              111619
sec_app_num_rev_accts                         111619
sec_app_revol_util                            111877
mths_since_last_record                        112950
verification_status_joint                     113553
sec_app_mths_since_last_major_derog           123245
debt_settlement_flag_date                     127946
settlement_date                               127946
settlement_amount                             127946
settlement_status                             127946
settlement_term                               127946
settlement_percentage                         127946
hardship_status                               128164
deferral_term                                 128164
hardship_amount                               128164
hardship_start_date                           128164
hardship_end_date                             128164
payment_plan_start_date                       128164
hardship_length                               128164
hardship_dpd                                  128164
hardship_loan_status                          128164
hardship_reason                               128164
hardship_payoff_balance_amount                128164
hardship_last_payment_amount                  128164
hardship_type                                 128164
orig_projected_additional_accrued_interest    128191
url                                           128397
member_id                                     128397
desc                                          128397
id                                            128397
dtype: int64

For good measure, we'll also drop some columns that are made up completely of NaN values.

Why might LendingClub have included columns in their dataset that are 100% blank?

In [ ]:
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

In [ ]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       6000         6000  ...                  60.01            24.0
1      24000        24000  ...                    NaN             NaN
2      30000        30000  ...                    NaN             NaN
3       8000         8000  ...                    NaN             NaN
4      22400        22400  ...                    NaN             NaN

[5 rows x 140 columns]

### Clean up the `int_rate` column

When we're preparing a dataset for a machine learning model we typically want to represent don't want to leave any string values in our dataset --because it's hard to do math on words. 

Specifically, we have a column that is representing a numeric value, but currently doesn't have a numeric datatype. Lets look at the first 10 values of the `int_rate` column

In [ ]:
# Look at the first 10 values of the int_rate column
df['int_rate'].head(10)

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [ ]:
df['int_rate'][:10]

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [ ]:
# Look at a specific value from the int_rate column
df['int_rate'][0]

' 14.47%'

In [ ]:
df['int_rate'].describe()

count      128397
unique         46
top        13.56%
freq         6972
Name: int_rate, dtype: object

Problems that we need to address with this column:

- String column that should be numeric
- Percent Sign `%` included with the number
- Leading space at the beginning of the string

However, we're not going to try and write exactly the right code to fix this column in one go. We're going to methodically build up to the code that will help us address these problems.

In [ ]:
# Lets start with just fixing a single string.
# If we can fix one, we can usually fix all of them

int_rate = ' 13.56%'

In [ ]:
# If i call .strip() but don't pass in any values into the ()
# .strip() will remove any leading or trailing whitespace

int_rate.strip()

'13.56%'

In [ ]:
int_rate.strip("%")

' 13.56'

In [ ]:
int_rate.strip().strip('%')

'13.56'

In [ ]:
# "Cast" the string value to a float

float("8.5")

8.5

In [ ]:
float(int_rate.strip().strip('%'))

13.56

In [ ]:
float(df['int_rate'][0].strip().strip('%'))

14.47

In [ ]:
float(df['int_rate'][1].strip().strip('%'))

10.33

In [ ]:
# We can do this with a for loop

new_int_rate = []

for cell in df['int_rate']:
  new_int_rate.append(float(cell.strip().strip('%')))

new_int_rate

### Write a function to make our solution reusable!

In [ ]:
# Write a function that can do what we have written above to any 
# string that is passsed to it.

def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [ ]:
# Test out our function by calling it on our example

int_rate_to_float(int_rate)

13.56

In [ ]:
# is the data type correct?
type(int_rate_to_float(int_rate))

float

### Apply our solution to every cell in a column

In [ ]:
df['int_rate_float'] = df['int_rate'].apply(int_rate_to_float).apply(someting_else)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_float
0       6000         6000  ...             24.0          14.47
1      24000        24000  ...              NaN          10.33
2      30000        30000  ...              NaN          15.02
3       8000         8000  ...              NaN          12.98
4      22400        22400  ...              NaN          16.14

[5 rows x 141 columns]

In [ ]:
# What type of data is held in our new column?

# Look at the datatypes of the last 5 columns

## Challenge

We can create a new column with our cleaned values or overwrite the original, whatever we think best suits our needs. On your assignment you will take the same approach in trying to methodically build up the complexity of your code until you have a few lines that will work for any cell in a column. At that point you'll contain all of that functionality in a reusable function block and then use the `.apply()` function to... well... apply those changes to an entire column.

# [Objective](#pandas-apply) Modify and Create Columns using `.apply()`

## Overview

We're already seen one example of using the `.apply()` function to clean up a column. Lets see if we can do it again, but this time on a slightly more complicated use case.

Remember, the goal here is to write a function that will work correctly on any **individual** cell of a specific column. Then we can reuse that function on those individual cells of a dataframe column via the `.apply()` function.

Lets clean up the emp_title "Employment Title" column!

## Follow Along

First we'll try and diagnose how bad the problem is and what improvements we might be able to make.

In [ ]:
# Look at the top 20 employment titles

df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20942
Teacher                2090
Manager                1773
Registered Nurse        951
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [ ]:
# How many different unique employment titles are there currently?
len(df['emp_title'].value_counts())

43889

In [ ]:
df['emp_title'].nunique()

43889

In [ ]:
# How often is the employment_title null?
df['emp_title'].isnull().sum()

20942

What are some possible reasons as to why a person's employment title may have not been provided?

In [ ]:
import numpy as np

# Create some examples that represent the cases that we want to clean up

examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [ ]:
# Write a function to clean up these use cases and increase uniformity.

def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"
    

cleaned_titles = []
for example in examples:
  cleaned_titles.append(clean_title(example))

cleaned_titles

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [ ]:
# list comprehensions can combine function calls and for loops over lists
# into one succinct and fairly readable single line of code.

[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [ ]:
# We have a function that works as expected. Lets apply it to our column.
# This time we'll overwrite the original column

df['emp_title'] = df['emp_title'].apply(clean_title)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_float
0       6000         6000  ...             24.0          14.47
1      24000        24000  ...              NaN          10.33
2      30000        30000  ...              NaN          15.02
3       8000         8000  ...              NaN          12.98
4      22400        22400  ...              NaN          16.14

[5 rows x 141 columns]

We can use the same code as we did earlier to see how much progress was made.

In [ ]:
# Look at the top 20 employment titles

df['emp_title'].value_counts(dropna=False).head(20)

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [ ]:
# How many different unique employment titles are there currently?
len(df['emp_title'].value_counts())

34899

In [ ]:
# How often is the employment_title null (NaN)?
df['emp_title'].isnull().sum()

0

## Challenge

Using the .apply() function isn't always about creating new columns on a dataframe, we can use it to clean up or modify existing columns as well.

# [Objective](#dates-and-times) Work with Dates and Times with Pandas

## Overview

Pandas has its own datatype datatype that makes it extremely convenient to convert strings that are in standard date formates to datetime objects and then use those datetime objects to either create new features on a dataframe or work with the dataset in a timeseries fashion. 

This section will demonstrate how to take a column of date strings, convert it to a datetime object and then use the datetime formatting `.dt` to access specific parts of the date (year, month, day) to generate useful columns on a dataframe.

## Follow Along

### Work with Dates 

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

Many of the most useful date columns in this dataset have the suffix `_d` to indicate that they correspond to dates.

We'll use a list comprehension to print them out

In [ ]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [ ]:
df['issue_d'].value_counts()

Oct-2018    46299
Nov-2018    41970
Dec-2018    40128
Name: issue_d, dtype: int64

Lets look at the string format of the `issue_d` column

In [ ]:
df['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

Because this string format %m-%y is a common datetime format, we can just let Pandas detect this format and translate it to the appropriate datetime object.

In [ ]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

df.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

Now we can see that the `issue_d` column has been changed to hold `datetime` objects.

Lets look at one of the cells specifically to see what a datetime object looks like:

In [ ]:
df['issue_d'][0]

Timestamp('2018-12-01 00:00:00')

You can see how the month and year have been indicated by the strings that were contained in the column previously, and that the rest of the values have been inferred.

In [ ]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

We can use the `.dt` accessor to now grab specific parts of the datetime object. Lets grab just the year from the all of the cells in the `issue_d` column

In [ ]:
df['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128392    2018
128393    2018
128394    2018
128395    2018
128396    2018
Name: issue_d, Length: 128397, dtype: int64

Now the month.

In [ ]:
df['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128392    10
128393    10
128394    10
128395    10
128396    10
Name: issue_d, Length: 128397, dtype: int64

It's just that easy! Now, instead of printing them out, lets add these year and month values as new columns on our dataframe. Again, you'll have to scroll all the way over to the right in the table to see the new columns.

In [ ]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0       6000         6000  ...        2018          12
1      24000        24000  ...        2018          12
2      30000        30000  ...        2018          12
3       8000         8000  ...        2018          12
4      22400        22400  ...        2018          12

[5 rows x 143 columns]

Because all of these dates come from Q4 of 2018, the `issue_d` column isn't all that interesting. Lets look at the `earliest_cr_line` column, which is also a string, but that could be converted to datetime format.

We're going to create a new column called `days_from_earliest_credit_to_issue`

It's a long column header, but think about how valuable this piece of information could be. This number will essentially indicate the length of a person's credit history and if that is correlated with repayment or other factors could be a valuable predictor!

In [ ]:
df['earliest_cr_line'].head()

0    Jun-2006
1    Oct-1996
2    May-2007
3    Mar-2009
4    Dec-2004
Name: earliest_cr_line, dtype: object

In [ ]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

What we're about to do is so cool! Pandas' datetime format is so smart that we can simply use the subtraction operator `-` in order to calculate the amount of time between two dates. 

Think about everything that's going on under the hood in order to give us such straightforward syntax! Handling months of different lengths, leap years, etc. Pandas datetime objects are seriously powerful!

In [ ]:
(df['issue_d'] - df['earliest_cr_line']).dt.days

0          4566
1          8096
2          4232
3          3562
4          5113
          ...
128392    12114
128393    13241
128394     4505
128395     3652
128396     4413
Length: 128397, dtype: int64

In [ ]:
df['days_from_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

What's oldest credit history that was involved in Q4 2018?

In [ ]:
df['days_from_credit_to_issue'].describe()

count    128397.000000
mean       5859.918464
std        2886.617678
min        1126.000000
25%        4049.000000
50%        5266.000000
75%        7244.000000
max       25171.000000
Name: days_from_credit_to_issue, dtype: float64

25,171 days is ~ 68.96 years of credit history!

## Challenge

Pandas' datetime format is so easy to work with that there's really no excuse for not using dates to make features on a dataframe! Get ready to practice more of this on your assignment.