<a href="https://colab.research.google.com/github/zack-murray/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS14_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-10 20:49:46--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [     <=>            ]  21.71M   630KB/s    in 36s

2020-03-10 20:50:23 (623 KB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22763850]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [39]:
import pandas as pd
df=pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
df['term'].head()

0     60 months
1     36 months
2     36 months
3     60 months
4     60 months
Name: term, dtype: object

In [0]:
def term_to_int(string):
  return float(string.strip().strip('months'))

In [41]:
df['term'] = df['term'].apply(term_to_int)
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]



---

Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

---

In [0]:
def loan_status_is_great(loan_status):
  if (loan_status =='Current') or (loan_status =='Fully Paid'):
    return '1'
  else:
    return '0'

In [43]:
df['loan_status_is_great'] = df['loan_status'].apply(loan_status_is_great)
df.head()

   id  member_id  ...  settlement_term  loan_status_is_great
0 NaN        NaN  ...              NaN                     1
1 NaN        NaN  ...              NaN                     1
2 NaN        NaN  ...              NaN                     1
3 NaN        NaN  ...              NaN                     0
4 NaN        NaN  ...              NaN                     1

[5 rows x 145 columns]



---

Make last_pymnt_d_month and last_pymnt_d_year columns.

---

In [22]:
df.dtypes

id                              float64
member_id                       float64
loan_amnt                         int64
funded_amnt                       int64
funded_amnt_inv                 float64
                              ...
settlement_date                  object
settlement_amount               float64
settlement_percentage           float64
settlement_term                 float64
last_paymnt_d            datetime64[ns]
Length: 145, dtype: object

In [28]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d']

0        2019-05-01
1        2020-02-01
2        2019-02-01
3        2019-10-01
4        2020-02-01
            ...
128279   2018-12-01
128280   2020-02-01
128281   2020-02-01
128282   2020-02-01
128283   2020-02-01
Name: last_pymnt_d, Length: 128284, dtype: datetime64[ns]

In [32]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df.head()

   id  member_id  ...  last_pymnt_d_month  last_pymnt_d_year
0 NaN        NaN  ...                 5.0             2019.0
1 NaN        NaN  ...                 2.0             2020.0
2 NaN        NaN  ...                 2.0             2019.0
3 NaN        NaN  ...                10.0             2019.0
4 NaN        NaN  ...                 2.0             2020.0

[5 rows x 147 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [53]:
pd.set_option('display.max_rows', 20)
df['revol_util'].value_counts(dropna=False)

0%        1131
43%        225
49%        222
39.1%      220
32%        217
          ...
103.3%       1
111.3%       1
108.7%       1
104%         1
108.8%       1
Name: revol_util, Length: 1075, dtype: int64

In [0]:
def revol_util_to_float(revol_util):
  if isinstance(revol_util, str):
    return revol_util.strip('%')
  else:
    return "Unknown"

In [67]:
df['revol_util'] = df['revol_util'].apply(revol_util_to_float)
df.head()

   id  member_id  ...  settlement_term  loan_status_is_great
0 NaN        NaN  ...              NaN                     1
1 NaN        NaN  ...              NaN                     1
2 NaN        NaN  ...              NaN                     1
3 NaN        NaN  ...              NaN                     0
4 NaN        NaN  ...              NaN                     1

[5 rows x 145 columns]



---

Modify the emp_title column to replace titles with 'Other' if the title is not in the top 20.

---

In [75]:
df['emp_title'].value_counts().head(20)

Teacher                     2088
Manager                     1771
Registered Nurse             950
Driver                       924
RN                           724
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               520
Owner                        420
Director                     402
Operations Manager           387
Truck Driver                 387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     268
Name: emp_title, dtype: int64

In [77]:
def emp_title_revision(value):
  if value < 268:
    return 'Other'

df['emp_title'] = ['emp_title'].apply(emp_title_revision)
df.head()

AttributeError: ignored



---

I tried :'(

---

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01