<a href="https://colab.research.google.com/github/nikibhatt/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/NB_ds9_warmup_10_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas Practice

In [10]:
# Read a csv file from a specified source and print the first 5 rows
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')

print(diamonds.shape)
diamonds.head()

(53940, 10)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
# Engineer a new feature named 'quality_color' using 'cut' and 'color', don't overthink it
diamonds['quality_color'] = diamonds['cut'] + '-' + diamonds['color']
diamonds.head()

   carat      cut color clarity  depth  ...  price     x     y     z  quality_color
0   0.23    Ideal     E     SI2   61.5  ...    326  3.95  3.98  2.43        Ideal-E
1   0.21  Premium     E     SI1   59.8  ...    326  3.89  3.84  2.31      Premium-E
2   0.23     Good     E     VS1   56.9  ...    327  4.05  4.07  2.31         Good-E
3   0.29  Premium     I     VS2   62.4  ...    334  4.20  4.23  2.63      Premium-I
4   0.31     Good     J     SI2   63.3  ...    335  4.34  4.35  2.75         Good-J

[5 rows x 11 columns]

In [4]:
# Rename two of the columns
diamonds = diamonds.rename(columns={"table":"Table", "depth": "Depth"})
diamonds.head()

   carat      cut color clarity  Depth  ...  price     x     y     z  quality_color
0   0.23    Ideal     E     SI2   61.5  ...    326  3.95  3.98  2.43        Ideal-E
1   0.21  Premium     E     SI1   59.8  ...    326  3.89  3.84  2.31      Premium-E
2   0.23     Good     E     VS1   56.9  ...    327  4.05  4.07  2.31         Good-E
3   0.29  Premium     I     VS2   62.4  ...    334  4.20  4.23  2.63      Premium-I
4   0.31     Good     J     SI2   63.3  ...    335  4.34  4.35  2.75         Good-J

[5 rows x 11 columns]

In [9]:
# Drop the 'carat' column from the dataframe
diamonds = diamonds.drop('carat', axis=1)
diamonds.head()

       cut color clarity  Depth  Table  price     x     y     z quality_color
0    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43       Ideal-E
1  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31     Premium-E
2     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31        Good-E
3  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63     Premium-I
4     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75        Good-J

In [11]:
# Use the 'carat' column to sort the dataframe, ascending
diamonds = diamonds.sort_values(by='carat')
diamonds.head()

       carat      cut color clarity  depth  table  price     x     y     z
31593    0.2  Premium     E     VS2   61.1   59.0    367  3.81  3.78  2.32
31597    0.2    Ideal     D     VS2   61.5   57.0    367  3.81  3.77  2.33
31596    0.2  Premium     F     VS2   62.6   59.0    367  3.73  3.71  2.33
31595    0.2    Ideal     E     VS2   59.7   55.0    367  3.86  3.84  2.30
31594    0.2  Premium     E     VS2   59.7   62.0    367  3.84  3.80  2.28

In [15]:
# Find diamonds where x (length) > 5, y (width) > 5, and z (depth) > 5
diamonds.loc[(diamonds['x'] > 5) & (diamonds['y'] > 5) & (diamonds['z'] > 5)][:10]

       carat        cut color clarity  depth  table  price     x      y      z
49905   0.50  Very Good     G    VVS1   63.7   58.0   2180  5.01   5.04   5.06
49189   0.51      Ideal     E     VS1   61.8   55.0   2075  5.15  31.80   5.12
48410   0.51  Very Good     E     VS1   61.8   54.7   1970  5.12   5.15  31.80
14504   1.81       Fair     J      I1   68.0   57.0   5859  7.43   7.39   5.04
14881   1.82       Fair     H      I1   67.3   58.0   5993  7.50   7.47   5.04
11778   1.83       Fair     J      I1   70.0   58.0   5083  7.34   7.28   5.12
17222   1.83       Fair     H      I1   68.0   57.0   6887  7.47   7.44   5.07
20102   1.90       Fair     H     SI2   67.1   64.0   8576  7.57   7.52   5.06
21200   1.94  Very Good     I     SI2   63.1   59.0   9344  8.01   7.89   5.02
13562   1.96       Fair     F      I1   66.6   60.0   5554  7.59   7.56   5.04

In [19]:
# Filter the dataframe to display only diamonds that are 'premium' or 'ideal'
diamonds.loc[(diamonds['cut'] == 'Premium') | (diamonds['cut'] == 'Ideal')][:10]

       carat      cut color clarity  depth  table  price     x     y     z
31593    0.2  Premium     E     VS2   61.1   59.0    367  3.81  3.78  2.32
31597    0.2    Ideal     D     VS2   61.5   57.0    367  3.81  3.77  2.33
31596    0.2  Premium     F     VS2   62.6   59.0    367  3.73  3.71  2.33
31595    0.2    Ideal     E     VS2   59.7   55.0    367  3.86  3.84  2.30
31594    0.2  Premium     E     VS2   59.7   62.0    367  3.84  3.80  2.28
31600    0.2  Premium     D     VS2   62.3   60.0    367  3.73  3.68  2.31
31592    0.2  Premium     E     VS2   59.0   60.0    367  3.81  3.78  2.24
31591    0.2  Premium     E     VS2   59.8   62.0    367  3.79  3.77  2.26
31601    0.2  Premium     D     VS2   61.7   60.0    367  3.77  3.72  2.31
14       0.2  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27

In [0]:
# STRETCH
# Choose an appropriate visualization to plot 2 continuous variables on the x and y axis

In [0]:
# Apply a seaborn pairplot and explore relationships
# What does this visualization say about our features?
# https://seaborn.pydata.org/generated/seaborn.pairplot.html