<a href="https://colab.research.google.com/github/Shawn2776/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/Shawn_Harrington_DS20_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
##### Begin Working Here #####
import pandas as pd
import numpy as np

In [2]:
# Downloading the data
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-09-02 05:31:03--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.244.115.45, 54.148.13.215, 35.161.89.82
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.244.115.45|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                <=> ]  22.28M  2.16MB/s    in 10s

2020-09-02 05:31:14 (2.13 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23360898]

In [3]:
# unzipping the data

!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [4]:
# Looking at the data

!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","27975","27975","27975"," 36 months"," 14.47%","962.52","C","C2","Conductor ","10+ years","MORTGAGE","180000","Not Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","117xx","NY","11.47","0","Jul-1995","0","39","","10","0","29711","66.8%","19","w","0.00","0.00","31804.5298492634","31804.53","27975.00","3829.53","0.0","0.0","0.0","Jan-2020","20288.02","","Mar-2020","0","","1","Individual","","","","0","0","206072","0","1","0","1","17","15676","63","0","1","10861","65","44500","1","4","2","2","20607","7416","74.9","0","0","17","281","20","17","5","20","39","1","39","0","5","7","5","6","1","8","13","7","10","0","0","0","0","78.9","60","0","0","286525","45387","29500","25025","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 60 months"," 12.98%","227.43","B","B5","Printer","9 years","RENT","60000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","660xx","KS","14.9","0","May-2007","0","","112","7","1","10677","54.2%","12","w","7352.95","7352.95","4487.31","4487.31","2647.05","1840.26","0.0","0.0","0.0","Aug-2020","227.43","Sep-2020","Aug-2020","0","","1","Individual","","","","0","469","27595","0","2","1","1","11","16918","103","0","1","4337","76","19700","5","0","7","2","3942","4278","67.1","0","0","139","74","20","11","0","20","","0","","0","3","5","3","4","6","5","6","5","7","0","0","0","1","100","33.3","1","0","36200","27595","13000","16500","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","28000","28000","28000"," 60 months"," 13.56%","645.15","C","C1","Project Manager","10+ years","MORTGAGE","128500","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","760xx","TX","27.35","1","Jul-1987","0","24","","16","0","55206","75%","31","w","20667.91","20667.91","12871.36","12871.36","7332.09","5539.27","0.0","0.0","0.0","Aug-2020","645.15","Sep-2020","Aug-2020","0","71","1","Individual","","","","0","0","455106","1","2","1","1","2","47753","79","0","0","17372","75","73700","0","1","1","1","30340","6875","98","0","0","126","373","72","2","3","72","65","3","24","0","9","11","10","10","9","11","17","11","15","","0","0","1","94","100","0","0","542027","128345","55000","60331","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 60 months"," 13.56%","368.66","C","C1","LMSW","10+ years","RENT","46000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","787xx","TX","11.09","1","Oct-1997","1","11","","9","0","18946","32.1%","21","w","11503.84","11503.84","7570.88","7570.88","4496.16","3074.72","0.0","0.0","0.0","Aug-2020","368.66","Sep-2020","Aug-2020","0","","1","Individual","","","","0","0","128218","1","2","0","0","37","109272","101","1","1","14999","36","59000","0","1","1","1","16027","38663","32.9","0","0","133","254","5","5","0","42","","5","","0","2","3","5","8","10","7","11","3","9","0","0","0","1","94.7","20","0","0","138125","128218","57600","79125","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","7500","7500","7500"," 36 months"," 10.72%","244.55","B","B2","Program Manager","2 years","RENT","84000","Not Verified","Dec-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","600xx","IL","3.86","0","May-2005","1","","114","9","1","2200","12.6%","17","w","0.00","0.00","2829.93","2829.93","1465.61","484.09","0.0","880.23","158.4414","Sep-2019","244.55","","Mar-2020","0","","1","Individual","","","","0","0","381442","1","5","2","2","3","18633","111","0","2","2123","61","17400","3","1","3","5","42382","15200","12.6","0","0","163","105","13","3","1","13","","3","","0","2","2","3","4","10","3","6","2","9","0","0","0","2","76.5","0","1","0","403892","20833","17400","16812","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3500","3500","3500"," 36 months"," 20.89%","131.67","D","D4","gas attendant","10+ years","MORTGAGE","40000","Source Verified","Dec-2018","Current","n","","","car","Car financing","078xx","NJ","9.09","0","Oct-2004","1","24","","4","0","1944","33.5%","18","w","1955.78","1955.78","2495.64","2495.64","1544.22","951.42","0.0","0.0","0.0","Aug-2020","131.67","Sep-2020","Aug-2020","0","48","1","Joint App","59500","10.59","Source Verified","0","0","189794","1","1","1","1","7","24958","100","2","2","1317","87","5800","1","0","3","3","47449","3683","26.3","0","0","150","170","1","1","4","8","48","1","48","2","1","2","1","8","3","2","11","2","4","0","0","0","3","38.9","0","0","0","217000","26902","5000","25000","6902","May-2003","0","3","6","47.9","0","21","0","0","46","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 60 months"," 26.31%","481.99","E","E4","Financial Relationship Associate","< 1 year","RENT","33000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","290xx","SC","33.62","0","Sep-2010","1","","","17","0","22872","65.5%","22","w","12749.04","12749.04","9604.72","9604.72","3250.96","6353.76","0.0","0.0","0.0","Aug-2020","481.99","Sep-2020","Aug-2020","0","","1","Individual","","","","0","0","29869","1","1","0","1","24","6997","65","1","1","2703","65","34900","0","3","1","2","1757","4596","66.9","0","0","29","99","2","2","0","2","","3","","0","6","11","9","13","2","16","20","11","17","0","0","0","1","100","55.6","0","0","45709","29869","13900","10809","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","13000","13000","13000"," 36 months"," 23.40%","505.95","E","E1","Sale Representative","2 years","MORTGAGE","90000","Verified","Dec-2018","Current","n","","","other","Other","191xx","PA","39.73","0","May-2007","0","","","14","0","52013","83.1%","20","w","8968.74","8968.74","8069.85","8069.85","4031.26","4038.59","0.0","0.0","0.0","Aug-2020","505.95","Sep-2020","Aug-2020","0","","1","Individual","","","","0","0","87876","1","7","1","3","1","35863","48","0","1","18037","64","62600","2","0","1","4","6277","9503","83.8","0","0","131","139","16","1","0","16","","10","","0","6","7","6","7","11","7","9","7","14","0","0","0","1","100","66.7","0","0","137276","87876","58600","74676","","","","","","","","","","","","N","CVD19SKIP","INCOME_CURTAILMENT","COMPLETE","4","0","May-2020","Jul-2020","May-2020","4","0","ACTIVE","1086.68","9481.75","55.8","N","","","","","",""

In [5]:
# Read in the csv
df = pd.read_csv('LoanStats_2018Q4.csv')

# showing shape of the data
print(df.shape)

# showing the first few rows of data
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128415, 1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title       emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose     title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt      total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       27975     27975       27975            36 months  14.47%  962.52      C     C2        Conductor       10+ years  MORTGAGE       180000     Not Verified        Dec-2018 Fully Paid  n          NaN NaN  credit_card Credit card refinancing 117xx    NY         11.47 0           Jul-1995         0              39                     NaN                    10       0       29711     66.8%      19        w                   0.00      0.00          31804.5298492634 31804.53        27975.00        3829.53       0.0                0.0        0.0                     Jan-2020     20288.02        NaN          Mar-2020           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            206072      0           1           0           1           17                 15676        63      0           1           10861      65       44500            1      4           2            2                    20607       7416           74.9    0                        0           17                 281                  20                    17             5        20                   39                       1                     39                             0                     5              7               5           6         1         8             13            7                   10       0                0            0                  0                  78.9           60               0                    0         286525          45387             29500          25025                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              10000     10000       10000            60 months  12.98%  227.43      B     B5        Printer         9 years    RENT           60000      Not Verified        Dec-2018 Current     n          NaN NaN  credit_card Credit card refinancing 660xx    KS         14.9  0           May-2007         0              NaN                    112                    7        1       10677     54.2%      12        w                   7352.95   7352.95       4487.31          4487.31         2647.05         1840.26       0.0                0.0        0.0                     Aug-2020     227.43          Sep-2020     Aug-2020           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              469          27595       0           2           1           1           11                 16918        103     0           1           4337       76       19700            5      0           7            2                    3942        4278           67.1    0                        0           139                74                   20                    11             0        20                   NaN                      0                     NaN                            0                     3              5               3           4         6         5             6             5                   7        0                0            0                  1                  100            33.3             1                    0         36200           27595             13000          16500                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              28000     28000       28000            60 months  13.56%  645.15      C     C1        Project Manager 10+ years  MORTGAGE       128500     Source Verified     Dec-2018 Current     n          NaN NaN  credit_card Credit card refinancing 760xx    TX         27.35 1           Jul-1987         0              24                     NaN                    16       0       55206     75%        31        w                   20667.91  20667.91      12871.36         12871.36        7332.09         5539.27       0.0                0.0        0.0                     Aug-2020     645.15          Sep-2020     Aug-2020           0                          71                          1           Individual       NaN              NaN       NaN                       0              0            455106      1           2           1           1           2                  47753        79      0           0           17372      75       73700            0      1           1            1                    30340       6875           98      0                        0           126                373                  72                    2              3        72                   65                       3                     24                             0                     9              11              10          10        9         11            17            11                  15       NaN              0            0                  1                  94             100              0                    0         542027          128345            55000          60331                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              16000     16000       16000            60 months  13.56%  368.66      C     C1        LMSW            10+ years  RENT           46000      Not Verified        Dec-2018 Current     n          NaN NaN  credit_card Credit card refinancing 787xx    TX         11.09 1           Oct-1997         1              11                     NaN                    9        0       18946     32.1%      21        w                   11503.84  11503.84      7570.88          7570.88         4496.16         3074.72       0.0                0.0        0.0                     Aug-2020     368.66          Sep-2020     Aug-2020           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            128218      1           2           0           0           37                 109272       101     1           1           14999      36       59000            0      1           1            1                    16027       38663          32.9    0                        0           133                254                  5                     5              0        42                   NaN                      5                     NaN                            0                     2              3               5           8         10        7             11            3                   9        0                0            0                  1                  94.7           20               0                    0         138125          128218            57600          79125                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [6]:
# changing the header

df = pd.read_csv('LoanStats_2018Q4.csv', header=1)

df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [7]:
# checking the tail of the data
df.tail()

                                                      id  ...  settlement_term
128409                                               NaN  ...              NaN
128410                                               NaN  ...              NaN
128411                                               NaN  ...              NaN
128412  Total amount funded in policy code 1: 2050909275  ...              NaN
128413   Total amount funded in policy code 2: 820109297  ...              NaN

[5 rows x 144 columns]

In [8]:
# Skipping the footer as well
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [9]:
# Checking for null values
df.isnull().sum()

id                       128412
member_id                128412
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
                          ...
settlement_status        127475
settlement_date          127475
settlement_amount        127475
settlement_percentage    127475
settlement_term          127475
Length: 144, dtype: int64

In [10]:
# dropping the id and member_id columns, as they are all NaN, probably for privacy concerns, and the last 2, as they are not
# part of the data
df = df.drop(['id', 'member_id', 'desc', 'url'],axis=1)

In [11]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      27975        27975  ...                    NaN             NaN
1      10000        10000  ...                    NaN             NaN
2      28000        28000  ...                    NaN             NaN
3      16000        16000  ...                    NaN             NaN
4       7500         7500  ...                    NaN             NaN

[5 rows x 140 columns]

In [12]:
# Cleaning up the int_rate column
# Looking at the first 10 values of the int_rate column
df['int_rate'].head(10)

0     14.47%
1     12.98%
2     13.56%
3     13.56%
4     10.72%
5     20.89%
6     26.31%
7     23.40%
8     19.92%
9     17.97%
Name: int_rate, dtype: object

In [13]:
# Looking at a single value in the int_rate column
df['int_rate'][5]

' 20.89%'

In [14]:
#Changing the string value to float64, getting rid of the white space, and the '%'
# If you can fix one value, you can fix them all:

int_rate = ' 20.89%'

In [15]:
# removing the white space
int_rate.strip()

'20.89%'

In [16]:
# removing the '%'
int_rate.strip('%')

' 20.89'

In [17]:
# combining the strips, and converting to a float!!!
int_rate = float(int_rate.strip().strip('%'))

In [18]:
# verifying the type and value of int_rate
print(type(int_rate))
int_rate

<class 'float'>

20.89

In [19]:
# creating a function to change the value of all int_rate column
def string_to_float(int_rate):
  return float(int_rate.strip().strip('%'))

In [ ]:
# verifying the function works correctly
string_to_float(int_rate)

In [21]:
# Using apply method to automate the conversion process
df['int_rate'] = df['int_rate'].apply(string_to_float)

In [22]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      27975        27975  ...                    NaN             NaN
1      10000        10000  ...                    NaN             NaN
2      28000        28000  ...                    NaN             NaN
3      16000        16000  ...                    NaN             NaN
4       7500         7500  ...                    NaN             NaN

[5 rows x 140 columns]

In [23]:
# Fixing the emp_title column

In [24]:
# Looking at the top 20 titles, and including NaN
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [25]:
# How many unique emp-titles?
df['emp_title'].nunique()

43892

In [26]:
# create examples of emp_titles that need to be cleaned up
examples = ['manager', ' Operations Manager', 'Registered Nurse', np.NaN, 'OWNER']

In [27]:
# using .title() to make sure only the first letter is cap
'OWNER'.title()

'Owner'

In [28]:
# Writing a function to fix the emp_title column

def clean_emp_title(emp_title):
  if isinstance(emp_title, str):
    return emp_title.strip().title()
  else:
    return 'Unknown'

In [29]:
# Using Apply to format all columns in emp_title
df['emp_title'] = df['emp_title'].apply(clean_emp_title)

In [30]:
# verifying changes were made correctly
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      27975        27975  ...                    NaN             NaN
1      10000        10000  ...                    NaN             NaN
2      28000        28000  ...                    NaN             NaN
3      16000        16000  ...                    NaN             NaN
4       7500         7500  ...                    NaN             NaN

[5 rows x 140 columns]

In [31]:
# See how many unique emp_titles there are now:
df['emp_title'].nunique()

34902

In [32]:
# How many emp_titlesa are NaN? Whould be none!
df['emp_title'].isnull().sum()

0

1. Convert **term** column from string to integer

---

In [33]:
# Checking the data for term
df['term'].head()

0     36 months
1     60 months
2     60 months
3     60 months
4     36 months
Name: term, dtype: object

In [34]:
# checking for NaN values
df['term'].isnull().sum()

0

In [35]:
# function to convert term from string to int
def string_to_int(term):
  return int(term.strip(' months'))

In [36]:
# testing function
string_to_int('36 months')

36

In [37]:
# Using apply to run function on term column
df['term'] = df['term'].apply(string_to_int)

In [38]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage  settlement_term
0      27975        27975  ...                    NaN              NaN
1      10000        10000  ...                    NaN              NaN
2      28000        28000  ...                    NaN              NaN
3      16000        16000  ...                    NaN              NaN
4       7500         7500  ...                    NaN              NaN

[5 rows x 140 columns]

In [39]:
df.tail()

        loan_amnt  funded_amnt  ...  settlement_percentage  settlement_term
128407      23000        23000  ...                    NaN              NaN
128408      10000        10000  ...                    NaN              NaN
128409       5000         5000  ...                    NaN              NaN
128410      10000        10000  ...                    NaN              NaN
128411      10000        10000  ...                    NaN              NaN

[5 rows x 140 columns]

2. Make a column named **loan_status_is_great**:
 Value will be 1 if loan status is Current or Fully Paid
 Value will be 0 if other

---

In [40]:
# checking for unique values in loan_status
df['loan_status'].unique()

array(['Fully Paid', 'Current', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default'], dtype=object)

In [41]:
# creating a list of conditions:
conditions = [df['loan_status'] == 'Fully Paid', df['loan_status'] == 'Current', df['loan_status'] == 'Charged Off',
              df['loan_status'] == 'In Grace Period', df['loan_status'] == 'Late (31-120 days)', df['loan_status'] == 'Late (16-30 days)', df['loan_status'] == 'Default']

In [42]:
#creating the list of values for each condition:
values = [1, 1, 0, 1, 0, 0, 0]

In [43]:
# running np.select with a list of conditions and values, to create the new column
df['loan_status_is_great'] = np.select(conditions, values)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term  loan_status_is_great
0      27975        27975  ...              NaN                     1
1      10000        10000  ...              NaN                     1
2      28000        28000  ...              NaN                     1
3      16000        16000  ...              NaN                     1
4       7500         7500  ...              NaN                     0

[5 rows x 141 columns]

3. Make **last_paymnt_d_month** and **last_paymnt_d_year** columns

---

In [44]:
# checking the values of last_paymnt_d
df['last_pymnt_d'].head()

0    Jan-2020
1    Aug-2020
2    Aug-2020
3    Aug-2020
4    Sep-2019
Name: last_pymnt_d, dtype: object

In [45]:
# checking for unique values
df['last_pymnt_d'].unique()

array(['Jan-2020', 'Aug-2020', 'Sep-2019', 'Oct-2019', 'Dec-2019',
       'Apr-2019', 'Jul-2020', 'Jul-2019', 'Feb-2019', 'May-2019',
       'Aug-2019', 'May-2020', 'Apr-2020', 'Feb-2020', 'Jun-2020',
       'Jan-2019', 'Mar-2020', 'Jun-2019', 'Mar-2019', 'Nov-2019',
       'Sep-2020', nan, 'Dec-2018', 'Nov-2018', 'Oct-2018'], dtype=object)

In [50]:
conditions2 = [df['last_pymnt_d'] == 'Jan-2020', df['last_pymnt_d'] == 'Aug-2020', df['last_pymnt_d'] == 'Sep-2019', df['last_pymnt_d'] == 'Oct-2019', 
               df['last_pymnt_d'] == 'Dec-2019', df['last_pymnt_d'] == 'Apr-2019', df['last_pymnt_d'] == 'Jul-2020', df['last_pymnt_d'] == 'Jul-2019', 
               df['last_pymnt_d'] == 'Feb-2019', df['last_pymnt_d'] == 'May-2019', df['last_pymnt_d'] == 'Aug-2019', df['last_pymnt_d'] == 'May-2020', 
               df['last_pymnt_d'] == 'Apr-2020', df['last_pymnt_d'] == 'Feb-2020', df['last_pymnt_d'] == 'Jun-2020', df['last_pymnt_d'] == 'Jan-2019', 
               df['last_pymnt_d'] == 'Mar-2020', df['last_pymnt_d'] == 'Jun-2019', df['last_pymnt_d'] == 'Mar-2019', df['last_pymnt_d'] == 'Nov-2019', 
               df['last_pymnt_d'] == 'Sep-2020', df['last_pymnt_d'] == np.NaN, df['last_pymnt_d'] == 'Dec-2018', df['last_pymnt_d'] == 'Nov-2018',
               df['last_pymnt_d'] == 'Oct-2018']

In [51]:
month_values = ['Jan', 'Aug', 'Sep', 'Oct', 'Dec', 'Apr', 'Jul', 'Jul', 'Feb', 'May', 'Aug',
                'May', 'Apr', 'Feb', 'Jun', 'Jan', 'Mar', 'Jun', 'Mar', 'Nov', 'Sep', np.NaN,
                'Dec', 'Nov', 'Oct' ]

In [55]:
year_values = ['2020', '2020', '2019', '2019', '2019',
               '2019', '2020', '2019', '2019', '2019',
               '2019', '2020', '2020', '2020', '2020',
               '2019', '2020', '2019', '2019', '2019',
               '2020', np.NaN, '2018', '2018', '2018']

In [52]:
df['last_paymnt_d_month'] = np.select(conditions2, month_values)
df.head()

   loan_amnt  funded_amnt  ...  loan_status_is_great  last_paymnt_d_month
0      27975        27975  ...                     1                  Jan
1      10000        10000  ...                     1                  Aug
2      28000        28000  ...                     1                  Aug
3      16000        16000  ...                     1                  Aug
4       7500         7500  ...                     0                  Sep

[5 rows x 142 columns]

In [56]:
df['last_paymnt_d_year'] = np.select(conditions2, year_values)
df.head()

   loan_amnt  funded_amnt  ...  last_paymnt_d_month  last_paymnt_d_year
0      27975        27975  ...                  Jan                2020
1      10000        10000  ...                  Aug                2020
2      28000        28000  ...                  Aug                2020
3      16000        16000  ...                  Aug                2020
4       7500         7500  ...                  Sep                2019

[5 rows x 143 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [ ]:
# LendingClub options:
# There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.

df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      27975        27975  ...                    NaN             NaN
1      10000        10000  ...                    NaN             NaN
2      28000        28000  ...                    NaN             NaN
3      16000        16000  ...                    NaN             NaN
4       7500         7500  ...                    NaN             NaN

[5 rows x 140 columns]

In [ ]:
# revol_util needs the '%' sign removed
df['revol_util'].head()

0    66.8%
1    54.2%
2      75%
3    32.1%
4    12.6%
Name: revol_util, dtype: object

In [ ]:
# checking a single value in revol_util
df['revol_util'][0]

'66.8%'

In [ ]:
# checking the info in revol_util
df['revol_util'].describe()

count     128256
unique      1074
top           0%
freq        1132
Name: revol_util, dtype: object

In [ ]:
# function to clean revol_util of % and convert to float
def remove_percent_sign(rate):
  if type(rate) != str:
    return 'NaN'
  else:
    return float(rate.strip('%'))

In [ ]:
# making sure function works correctly
sample = '101.8%'
remove_percent_sign(sample)

101.8

In [ ]:
df['revol_util'] = df['revol_util'].apply(remove_percent_sign)

In [ ]:
# Verifying data correctly replaced
df['revol_util'][0]

66.8

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-09-01 20:25:22--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.243.54
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.243.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  40.7MB/s    in 5.3s

2020-09-01 20:25:27 (37.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [ ]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [ ]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [ ]:
df = pd.read_csv('/content/instacart_2017_05_01/products.csv')

In [ ]:
print(df.shape)
df.head()

(49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [ ]:
df.tail()

       product_id  ... department_id
49683       49684  ...             5
49684       49685  ...             1
49685       49686  ...             3
49686       49687  ...             8
49687       49688  ...            11

[5 rows x 4 columns]