<a href="https://colab.research.google.com/github/schase15/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/Steven_Chase_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd

In [58]:
# Load dataset

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-10 21:56:49--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [           <=>      ]  21.71M  1.86MB/s    in 12s

2020-03-10 21:57:01 (1.84 MB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22763850]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [273]:
# Read CSV
# Clean data set a little

df = pd.read_csv('LoanStats_2018Q4.csv', skiprows= 1, skipfooter= 2, engine= 'python')

df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

print(df.shape)
df.head()

(128284, 140)

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       6500         6500  ...                    NaN             NaN
2       4500         4500  ...                    NaN             NaN
3      25000        25000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN

[5 rows x 140 columns]

# Convert 'term' column to integer

In [126]:
# no null values for term column

df['term'].isnull().sum()

0

In [127]:
# Convert term column to int
df['term'][0]

' 60 months'

In [128]:
# has a leading space
# take off months
# convert to int


# Test
test = df['term'][0]
int(test.strip().strip(' months'))

60

In [129]:
# Write a function

def clean_term(cell_contents):
  return int(cell_contents.strip().strip(' months'))

# Test 

clean_term(test)

60

In [130]:
# Apply to column, and rewrite

df['term'] = df['term'].apply(clean_term)

df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage  settlement_term
0      10000        10000  ...                    NaN              NaN
1       6500         6500  ...                    NaN              NaN
2       4500         4500  ...                    NaN              NaN
3      25000        25000  ...                    NaN              NaN
4      30000        30000  ...                    NaN              NaN

[5 rows x 140 columns]

# Make a column named 'loan_status_is_great'

In [0]:
def convert_column(cell_contents):
  if cell_contents == 'Current':
    return 1
  elif cell_contents == 'Fully Paid':
    return 1
  else:
    return 0

In [132]:
# Test
test = df['loan_status'][0]
convert_column(test)

1

In [0]:
df['loan_status_is_great'] = df['loan_status'].apply(convert_column)

In [134]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_term  loan_status_is_great
0      10000        10000  ...              NaN                     1
1       6500         6500  ...              NaN                     1
2       4500         4500  ...              NaN                     1
3      25000        25000  ...              NaN                     0
4      30000        30000  ...              NaN                     1

[5 rows x 141 columns]

# Make new columns for last payment month and year

In [0]:
# Infer datatime

df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [136]:
# Make month and year columns

df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0      10000        10000  ...                 5.0             2019.0
1       6500         6500  ...                 2.0             2020.0
2       4500         4500  ...                 2.0             2019.0
3      25000        25000  ...                10.0             2019.0
4      30000        30000  ...                 2.0             2020.0

[5 rows x 143 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

# LendingClub Stretch Assignment - First bullet

In [221]:
#  revol_util is the column to change

# how many null values
df['revol_util'].isnull().sum()

156

In [222]:
# I want to see which rows have missing values and what they look like

df_revol = df['revol_util']

df_revol[df_revol.isnull()]

238       NaN
5060      NaN
5253      NaN
6162      NaN
6641      NaN
         ...
125474    NaN
125640    NaN
127255    NaN
127540    NaN
128189    NaN
Name: revol_util, Length: 156, dtype: object

In [0]:
# Fill NaN with 0% (which is by far the most frequent value in the column)
df['revol_util'] = df['revol_util'].fillna('0%')

In [224]:
# Check to see if the replacement worked

print(df['revol_util'].isnull().sum())
df['revol_util'][238]

0

'0%'

In [0]:
# df['revol_util'].value_counts()

In [225]:
df['revol_util'][0]

'58.5%'

In [0]:
# test
test = df['revol_util'][0]

In [227]:
float(test.strip('%'))

58.5

In [228]:
# Define a function that will work for all cells 

def clean_revol_util(variable):
  return float(variable.strip('%'))

clean_revol_util(test)

58.5

In [229]:
df['revol_util'] = df['revol_util'].apply(clean_revol_util)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       6500         6500  ...                    NaN             NaN
2       4500         4500  ...                    NaN             NaN
3      25000        25000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN

[5 rows x 140 columns]

# Lending Club Stretch Assignment - second bullet

In [258]:
df.head(10)

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       6500         6500  ...                    NaN             NaN
2       4500         4500  ...                    NaN             NaN
3      25000        25000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN
5      10000        10000  ...                    NaN             NaN
6      25000        25000  ...                    NaN             NaN
7       3000         3000  ...                    NaN             NaN
8       1250         1250  ...                    NaN             NaN
9       7000         7000  ...                    NaN             NaN

[10 rows x 140 columns]

In [259]:
# Take a look at the top 20 employee titles

# I recognize that there are some repeated values, if I had more time I would 
# clean the data (combine employee titles that are the same) and then work 
# with the top 20 

df['emp_title'].value_counts().head(20)

Teacher                     2088
Manager                     1771
Registered Nurse             950
Driver                       924
RN                           724
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               520
Owner                        420
Director                     402
Truck Driver                 387
Operations Manager           387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     268
Name: emp_title, dtype: int64

In [0]:
def retitle_other(cell_contents):
  if cell_contents == 'Teacher':
    return cell_contents
  elif cell_contents == 'Manager':
    return cell_contents
  elif cell_contents == 'Registered Nurse':
    return cell_contents
  elif cell_contents == 'Driver':
    return cell_contents
  elif cell_contents == 'RN':
    return cell_contents
  elif cell_contents == 'Supervisor':
    return cell_contents
  elif cell_contents == 'Sales':
    return cell_contents 
  elif cell_contents == 'Project Manager':
    return cell_contents
  elif cell_contents == 'General Manager':
    return cell_contents
  elif cell_contents == 'Office Manager':
    return cell_contents
  elif cell_contents == 'Owner':
    return cell_contents
  elif cell_contents == 'Director':
    return cell_contents
  elif cell_contents == 'Truck Driver':
    return cell_contents
  elif cell_contents == 'Operations Manager':
    return cell_contents
  elif cell_contents == 'Nurse':
    return cell_contents
  elif cell_contents == 'Engineer':
    return cell_contents
  elif cell_contents == 'Sales Manager':
    return cell_contents
  elif cell_contents == 'manager':
    return cell_contents
  elif cell_contents == 'Supervisor ':
    return cell_contents
  elif cell_contents == 'Administrative Assistant':
    return cell_contents
  else:
    return 'Other'

In [262]:
# # Test def

test = df['emp_title'][6]

retitle_other(test)

'Other'

In [275]:
df['emp_title'] = df['emp_title'].apply(retitle_other)
df.head(10)

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       6500         6500  ...                    NaN             NaN
2       4500         4500  ...                    NaN             NaN
3      25000        25000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN
5      10000        10000  ...                    NaN             NaN
6      25000        25000  ...                    NaN             NaN
7       3000         3000  ...                    NaN             NaN
8       1250         1250  ...                    NaN             NaN
9       7000         7000  ...                    NaN             NaN

[10 rows x 140 columns]

In [276]:
# Confirm that there are only 21 types of employee titles now, top 20 plus other

df['emp_title'].value_counts()

Other                       115591
Teacher                       2088
Manager                       1771
Registered Nurse               950
Driver                         924
RN                             724
Supervisor                     697
Sales                          580
Project Manager                526
General Manager                523
Office Manager                 520
Owner                          420
Director                       402
Truck Driver                   387
Operations Manager             387
Nurse                          326
Engineer                       325
Sales Manager                  304
manager                        301
Supervisor                     270
Administrative Assistant       268
Name: emp_title, dtype: int64

In [277]:
x = df['emp_title'].value_counts()
len(x)

21

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01