<a href="https://colab.research.google.com/github/jsmazorra/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-random-forests/Johan_Mazorra_LS_DS13_222_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 2, Module 2*

---

# Random Forests

## Assignment
- [ ] Read [“Adopting a Hypothesis-Driven Workflow”](https://outline.com/5S5tsB), a blog post by a Lambda DS student about the Tanzania Waterpumps challenge.
- [ ] Continue to participate in our Kaggle challenge.
- [ ] Define a function to wrangle train, validate, and test sets in the same way. Clean outliers and engineer features.
- [ ] Try Ordinal Encoding.
- [ ] Try a Random Forest Classifier.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.

## Stretch Goals

### Doing
- [ ] Add your own stretch goal(s) !
- [ ] Do more exploratory data analysis, data cleaning, feature engineering, and feature selection.
- [ ] Try other [categorical encodings](https://contrib.scikit-learn.org/categorical-encoding/).
- [ ] Get and plot your feature importances.
- [ ] Make visualizations and share on Slack.

### Reading

Top recommendations in _**bold italic:**_

#### Decision Trees
- A Visual Introduction to Machine Learning, [Part 1: A Decision Tree](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/),  and _**[Part 2: Bias and Variance](http://www.r2d3.us/visual-intro-to-machine-learning-part-2/)**_
- [Decision Trees: Advantages & Disadvantages](https://christophm.github.io/interpretable-ml-book/tree.html#advantages-2)
- [How a Russian mathematician constructed a decision tree — by hand — to solve a medical problem](http://fastml.com/how-a-russian-mathematician-constructed-a-decision-tree-by-hand-to-solve-a-medical-problem/)
- [How decision trees work](https://brohrer.github.io/how_decision_trees_work.html)
- [Let’s Write a Decision Tree Classifier from Scratch](https://www.youtube.com/watch?v=LDRbO9a6XPU)

#### Random Forests
- [_An Introduction to Statistical Learning_](http://www-bcf.usc.edu/~gareth/ISL/), Chapter 8: Tree-Based Methods
- [Coloring with Random Forests](http://structuringtheunstructured.blogspot.com/2017/11/coloring-with-random-forests.html)
- _**[Random Forests for Complete Beginners: The definitive guide to Random Forests and Decision Trees](https://victorzhou.com/blog/intro-to-random-forests/)**_

#### Categorical encoding for trees
- [Are categorical variables getting lost in your random forests?](https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/)
- [Beyond One-Hot: An Exploration of Categorical Variables](http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/)
- _**[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)**_
- _**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)**_
- [Mean (likelihood) encodings: a comprehensive study](https://www.kaggle.com/vprokopev/mean-likelihood-encodings-a-comprehensive-study)
- [The Mechanics of Machine Learning, Chapter 6: Categorically Speaking](https://mlbook.explained.ai/catvars.html)

#### Imposter Syndrome
- [Effort Shock and Reward Shock (How The Karate Kid Ruined The Modern World)](http://www.tempobook.com/2014/07/09/effort-shock-and-reward-shock/)
- [How to manage impostor syndrome in data science](https://towardsdatascience.com/how-to-manage-impostor-syndrome-in-data-science-ad814809f068)
- ["I am not a real data scientist"](https://brohrer.github.io/imposter_syndrome.html)
- _**[Imposter Syndrome in Data Science](https://caitlinhudon.com/2018/01/19/imposter-syndrome-in-data-science/)**_


### More Categorical Encodings

**1.** The article **[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)** mentions 4 encodings:

- **"Categorical Encoding":** This means using the raw categorical values as-is, not encoded. Scikit-learn doesn't support this, but some tree algorithm implementations do. For example, [Catboost](https://catboost.ai/), or R's [rpart](https://cran.r-project.org/web/packages/rpart/index.html) package.
- **Numeric Encoding:** Synonymous with Label Encoding, or "Ordinal" Encoding with random order. We can use [category_encoders.OrdinalEncoder](https://contrib.scikit-learn.org/categorical-encoding/ordinal.html).
- **One-Hot Encoding:** We can use [category_encoders.OneHotEncoder](http://contrib.scikit-learn.org/categorical-encoding/onehot.html).
- **Binary Encoding:** We can use [category_encoders.BinaryEncoder](http://contrib.scikit-learn.org/categorical-encoding/binary.html).


**2.** The short video 
**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)** introduces an interesting idea: use both X _and_ y to encode categoricals.

Category Encoders has multiple implementations of this general concept:

- [CatBoost Encoder](http://contrib.scikit-learn.org/categorical-encoding/catboost.html)
- [James-Stein Encoder](http://contrib.scikit-learn.org/categorical-encoding/jamesstein.html)
- [Leave One Out](http://contrib.scikit-learn.org/categorical-encoding/leaveoneout.html)
- [M-estimate](http://contrib.scikit-learn.org/categorical-encoding/mestimate.html)
- [Target Encoder](http://contrib.scikit-learn.org/categorical-encoding/targetencoder.html)
- [Weight of Evidence](http://contrib.scikit-learn.org/categorical-encoding/woe.html)

Category Encoder's mean encoding implementations work for regression problems or binary classification problems. 

For multi-class classification problems, you will need to temporarily reformulate it as binary classification. For example:

```python
encoder = ce.TargetEncoder(min_samples_leaf=..., smoothing=...) # Both parameters > 1 to avoid overfitting
X_train_encoded = encoder.fit_transform(X_train, y_train=='functional')
X_val_encoded = encoder.transform(X_train, y_val=='functional')
```

For this reason, mean encoding won't work well within pipelines for multi-class classification problems.

**3.** The **[dirty_cat](https://dirty-cat.github.io/stable/)** library has a Target Encoder implementation that works with multi-class classification.

```python
 dirty_cat.TargetEncoder(clf_type='multiclass-clf')
```
It also implements an interesting idea called ["Similarity Encoder" for dirty categories](https://www.slideshare.net/GaelVaroquaux/machine-learning-on-non-curated-data-154905090).

However, it seems like dirty_cat doesn't handle missing values or unknown categories as well as category_encoders does. And you may need to use it with one column at a time, instead of with your whole dataframe.

**4. [Embeddings](https://www.kaggle.com/learn/embeddings)** can work well with sparse / high cardinality categoricals.

_**I hope it’s not too frustrating or confusing that there’s not one “canonical” way to encode categoricals. It’s an active area of research and experimentation! Maybe you can make your own contributions!**_

### Setup

You can work locally (follow the [local setup instructions](https://lambdaschool.github.io/ds/unit2/local/)) or on Colab (run the code cell below).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [49]:
import pandas as pd
from sklearn.model_selection import train_test_split

train = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
sample_submission = pd.read_csv(DATA_PATH+'waterpumps/sample_submission.csv')

train.shape, test.shape

((59400, 41), (14358, 40))

In [44]:
# Let me analyze the dataframe to see what I'm going to pick and modify for the features
# and to see general stats.
train.head()

      id  amount_tsh  ... waterpoint_type_group    status_group
0  69572      6000.0  ...    communal standpipe      functional
1   8776         0.0  ...    communal standpipe      functional
2  34310        25.0  ...    communal standpipe      functional
3  67743         0.0  ...    communal standpipe  non functional
4  19728         0.0  ...    communal standpipe      functional

[5 rows x 41 columns]

In [56]:
train.describe()

          amount_tsh    gps_height  ...  day_recorded         years
count   47520.000000  47520.000000  ...  47520.000000  47520.000000
mean      321.925261    669.567656  ...     15.625926    709.152967
std      3197.240487    693.005745  ...      8.685898    950.617560
min         0.000000    -63.000000  ...      1.000000     -7.000000
25%         0.000000      0.000000  ...      8.000000      8.000000
50%         0.000000    372.500000  ...     16.000000     26.000000
75%        25.000000   1320.000000  ...     23.000000   2011.000000
max    350000.000000   2770.000000  ...     31.000000   2013.000000

[8 rows x 13 columns]

In [57]:
test.describe()

          amount_tsh  gps_height  ...  day_recorded         years
count   14358.000000  14358.0000  ...  14358.000000  14358.000000
mean      324.219996    653.6363  ...     15.611993    713.653364
std      2533.367778    688.2721  ...      8.690620    952.223363
min         0.000000    -57.0000  ...      1.000000     -7.000000
25%         0.000000      0.0000  ...      8.000000      8.000000
50%         0.000000    346.0000  ...     16.000000     26.000000
75%        25.000000   1306.0000  ...     23.000000   2011.000000
max    200000.000000   2777.0000  ...     31.000000   2013.000000

[8 rows x 13 columns]

In [58]:
test.describe(exclude='number')

                        funder installer  ... latitude_MISSING years_MISSING
count                    13575     13570  ...            14358         14358
unique                     960      1075  ...                2             1
top     Government Of Tanzania       DWE  ...            False         False
freq                      2117      4162  ...            13922         14358

[4 rows x 29 columns]

In [59]:
train.describe(exclude='number')

                        funder installer  ... latitude_MISSING years_MISSING
count                    44616     44603  ...            47520         47520
unique                    1716      1929  ...                2             1
top     Government Of Tanzania       DWE  ...            False         False
freq                      7321     13978  ...            46078         47520

[4 rows x 30 columns]

In [0]:
import numpy as np
from sklearn.model_selection import train_test_split

# Let's start by splitting the training data into both train and val.
train, val = train_test_split(train, train_size=.8, test_size=.2, stratify=train['status_group'], random_state=42)

def fix_data(X):
  X = X.copy()

  # This is to clean up the zeros.
  X['latitude'] = X['latitude'].replace(-2e-08,0)
  cols = ['longitude','latitude']
  for col in cols:
    X[col] = X[col].replace(0, np.nan)
    X[col+'_MISSING']= X[col].isnull()
  
  # Let's drop the columns that are duplicated.
  duplicates = ['quantity_group','payment_type']
  X = X.drop(columns=duplicates)

  X = X.drop(columns=['recorded_by','id'])

  X['date_recorded'] = pd.to_datetime(X['date_recorded'], infer_datetime_format=True)

  X['year_recorded'] = X['date_recorded'].dt.year
  X['month_recorded'] = X['date_recorded'].dt.month
  X['day_recorded'] = X['date_recorded'].dt.day
  X = X.drop(columns='date_recorded')

  X['years'] = X['year_recorded'] - X['construction_year']
  X['years_MISSING'] = X['years'].isnull()

  return X

train = fix_data(train)
val = fix_data(val)
test = fix_data(test)

In [0]:
# Next, let's set up the target and features.
target = 'status_group'

features = train.drop(columns=[target])

# Let's get the numerical features.
num_feats = features.select_dtypes(include='number').columns.tolist()

# And then the low cardinal categorical ones.
cat_feats = features.select_dtypes(exclude='number').nunique()
cat_feats = cat_feats[cat_feats <= 50].index.tolist()

features = num_feats + cat_feats

In [0]:
# Make the respective matrices.
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]

In [53]:
# Import the necessary libraries.
import category_encoders as ce 
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline

# Set up pipeline
pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='median'),
    RandomForestClassifier(random_state=42, n_jobs=-1)
)

pipeline.fit(X_train, y_train)
print('Training Accuracy:', pipeline.score(X_train, y_train))
print('Validation Accuracy:', pipeline.score(X_val, y_val))

Training Accuracy: 0.9979166666666667
Validation Accuracy: 0.8113636363636364

In [54]:
# Nice, the results are not bad at all.

from ipywidgets import interact

def check(max_depth=1, n_estimators=1):
  
  pipeline = make_pipeline(
      ce.OrdinalEncoder(),
      SimpleImputer(strategy='median'),
      RandomForestClassifier(random_state=42, n_jobs=-1, max_depth=max_depth, n_estimators=n_estimators)
  )
  pipeline.fit(X_train, y_train)
  print('Training Accuracy:', pipeline.score(X_train, y_train))
  print('Validation Accuracy:', pipeline.score(X_val, y_val))

interact(check, max_depth=(1,20,1), n_estimators=(10,200,10));

interactive(children=(IntSlider(value=1, description='max_depth', max=20, min=1), IntSlider(value=10, descript…

In [60]:
# So it seems like we get the best results of validation accuracy at
# n_estimators on 190 and max_depth on 20.

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='median'),
    RandomForestClassifier(random_state=42, n_jobs=-1, max_depth=20, n_estimators=100)
)

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

sample_submission.head()

      id status_group
0  50785   functional
1  51630   functional
2  17168   functional
3  45559   functional
4  49871   functional

In [61]:
# For now, I'm going to submit those results but I will keep trying to bring
# the accuracy higher with different methods.
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
kaggle_sub = pd.DataFrame(data=y_pred,index=test['id'],columns=['status_group'])

kaggle_sub.head()

         status_group
id
50785      functional
51630      functional
17168      functional
45559  non functional
49871      functional

In [0]:
kaggle_sub.to_csv('Lambda_Kaggle_Challenge_Johan_Mazorra.csv')